<div class="card">
  <div class="card-header text-white bg-purple text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-file-invoice-dollar mr-2"></i>
        G-Invoicing Initiative
      </span>
    </h3>
  </div>

  <div class="card-body card-text">
    <!-- External Link -->
    <div class="row justify-content-center mb-3">
      <a href="https://fiscal.treasury.gov/g-invoice/" target="_blank">
        G-Invoicing Information at the U.S. Department of the Treasury
        <i class="fas fa-external-link-alt"></i>
      </a>
    </div>

    <!-- Tab Buttons -->
    <ul class="nav nav-pills justify-content-center" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" data-toggle="pill" href="#gInvOverview" role="tab" aria-controls="gInvOverview"
          aria-selected="true" id="gInvOverviewButton">Overview</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-toggle="pill" href="#gInvModels" role="tab" aria-controls="gInvModels"
          aria-selected="true" id="gInvModelsButton">Models</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" data-toggle="pill" href="#gInvGap" role="tab" aria-controls="gInvGap" aria-selected="true"
          id="gInvGapButton">Gap Analysis</a>
      </li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="gInvOverview" role="tabpanel" aria-labelledby="gInvOverviewButton">
        <div class="container text-center">
          <img
            src="https://www.investopedia.com/thmb/y1REr_pxUEW0M7eHpuDnCOF5LlM=/2122x1415/filters:fill(auto,1)/GettyImages-184865400-5728f1753df78ced1fe75b4a.jpg"
            alt="Invoicing" style="width: 40%;">
          <br><br>
          
          <p>
            G-invoicing is a new system from the Treasury Dept. for handling inter-agency agreements (IAAs). The
            Enterprise Architecture Team, is tasked with mapping out the current state of IAAs at and determining how
            best to incorporate G-invoicing. These pages are not meant to give a definitive overview of this effort, but
            rather a glimpse into our current modeling process. Questions? Contact us at ea_planning@gsa.gov
          </p>
        </div>
      </div>

      <div class="tab-pane fade" id="gInvModels" role="tabpanel" aria-labelledby="gInvModelsButton">
        <div class="container text-center">
          <h3>Standard Roles and Workflow</h3>
          <iframe src="https://drive.google.com/file/d/1mQx0T0MaICEL0GMKEsLWab06zc5afwJL/preview" width="100%"
            aria-label="Roles and Workflow" height="{{ pdfHeight }}"></iframe>
          <br><br>

          <h3>Standard Agreement and Ordering Workflow</h3>
          <iframe src="https://drive.google.com/file/d/1KbrTmrL7OHpSFkGRXwk4M9xs7imTQg-E/preview" width="100%"
            aria-label="Agreement and Ordering Workflow" height="{{ pdfHeight }}"></iframe>
          <br><br>
        </div>
      </div>

      <div class="tab-pane fade" id="gInvGap" role="tabpanel" aria-labelledby="gInvGapButton">
        <div class="container text-center">
          <iframe src="https://drive.google.com/file/d/1lJEk2ev1Xs-vvO5LlDpbQOjhUFJsot_U/preview" width="100%"
            aria-label="Gap Analysis" height="{{ pdfHeight }}"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>