<div class="websites-container">
  <div class="websites-title-container">
    <h2>GSA Websites</h2>
    <div class="websites-title-right-button-container">
      @if (!isLoggedIn()) {
        <app-button buttonText="GEAR Manager Login" (buttonClick)="sharedService.setRedirectPath()"></app-button>
      }
      @if (isLoggedIn()) {
        <app-button buttonText="Logout" buttonStyle="error" (buttonClick)="sharedService.logoutManager()"></app-button>
      }
      <app-page-help-button></app-page-help-button>
    </div>
  </div>
  <div class="websites-definition-container">
    <p class="websites-definition-text" [ngClass]="{'expanded' : defExpanded}">This report represents GSA's inventory of public-facing websites (i.e. accessible to the general public
      and not behind any authentication or firewall). This report can be used to better understand how the public views and interacts with GSA's
      business services, offerings, and information. This data is imported from the
      <a href='https://touchpoints.app.cloud.gov/admin/websites' target='_blank' rel='noopener'>Touchpoints websites inventory</a>
      as well as from the Enterprise Digital Experience (EDX) team's
      <a href='https://github.com/GSA/EDX/tree/main/Tools/edxcli' target='_blank' rel='noopener'>ecxcli website scans</a>.</p>
      <app-button [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
    </div>
    <div class="websites-data-container">
      <app-table visibleColumnStorageKey="websites-report" defaultSortField="domain" [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)">
        <div class="filter-tabs-container" filterTabs>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('All')}" (click)="onSelectTab('All')" (keyup)="onKeyUp($event, 'All')" tabindex="0">
            <span class="filter-tab-text">All</span>
            <span class="filter-tab-number first">{{filterTotals?.AllTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Decommissioned')}" (click)="onSelectTab('Decommissioned')" (keyup)="onKeyUp($event, 'Decommissioned')" tabindex="0">
            <span class="filter-tab-text">Decommissioned</span>
            <span class="filter-tab-number second">{{filterTotals?.DecommissionedTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Redirects')}" (click)="onSelectTab('Redirects')" (keyup)="onKeyUp($event, 'Redirects')" tabindex="0">
            <span class="filter-tab-text">Redirects</span>
            <span class="filter-tab-number third">{{filterTotals?.RedirectsTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('External')}" (click)="onSelectTab('External')" (keyup)="onKeyUp($event, 'External')" tabindex="0">
            <span class="filter-tab-text">External</span>
            <span class="filter-tab-number fourth">{{filterTotals?.ExternalTotal}}</span>
          </div>
        </div>
      </app-table>
    </div>
  </div>