<div class="websites-container">
  <div class="websites-title-container">
    <h2>GSA Websites</h2>
    <div class="websites-title-right-button-container">
      @if (!isLoggedIn()) {
        <app-button buttonText="GEAR Manager Login" (buttonClick)="sharedService.setRedirectPath()"></app-button>
      }
      @if (isLoggedIn()) {
        <app-button buttonText="Logout" buttonStyle="error" (buttonClick)="sharedService.logoutManager()"></app-button>
      }
      <app-page-help-button></app-page-help-button>
    </div>
  </div>
  <div class="websites-definition-container">
    <p #definitionText class="websites-definition-text" [ngClass]="{'expanded' : defExpanded, 'truncated': showViewMore && !defExpanded}">
      This report lists GSA’s public-facing websites that are available to anyone online without a login or firewall. It helps teams understand how the public accesses and interacts with GSA services and information. The data comes from the Touchpoints website inventory and Enterprise Digital Experience (EDX) website scans.
    </p>
      <app-button *ngIf="showViewMore" [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
    </div>
    <div class="websites-data-container">
      <app-table visibleColumnStorageKey="websites-report" defaultSortField="domain" [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)">
        <div class="filter-tabs-container" filterTabs>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('All')}" (click)="onSelectTab('All')" (keyup)="onKeyUp($event, 'All')" tabindex="0">
            <span class="filter-tab-text">All</span>
            <span class="filter-tab-number first">{{filterTotals?.AllTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Decommissioned')}" (click)="onSelectTab('Decommissioned')" (keyup)="onKeyUp($event, 'Decommissioned')" tabindex="0">
            <span class="filter-tab-text">Decommissioned</span>
            <span class="filter-tab-number second">{{filterTotals?.DecommissionedTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Redirects')}" (click)="onSelectTab('Redirects')" (keyup)="onKeyUp($event, 'Redirects')" tabindex="0">
            <span class="filter-tab-text">Redirects</span>
            <span class="filter-tab-number third">{{filterTotals?.RedirectsTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('External')}" (click)="onSelectTab('External')" (keyup)="onKeyUp($event, 'External')" tabindex="0">
            <span class="filter-tab-text">External</span>
            <span class="filter-tab-number fourth">{{filterTotals?.ExternalTotal}}</span>
          </div>
        </div>
      </app-table>
    </div>
  </div>