.websites-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;

    & .websites-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
         margin-bottom: 2rem;

        h2{
            margin-bottom: 0;
        }

        & .websites-title-right-button-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    & .websites-definition-container {
        padding: 1rem;
         background-color: #fff;
         border-radius: 0.3rem;

        & .websites-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .websites-data-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
    }
}