.websites-details-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  width: 94vw;

  & .breadcrumb-container {
    display: flex;
    padding-bottom: 2rem;
  }

  & .title-container {
    display: flex;
    padding-bottom: 1.5rem;

    & .title {
      color: var(--neutral-black-color-dark);
      font-family: var(--primary-font);
      font-size: 2rem;
      font-weight: 500;
      line-height: normal;
    }
  }

  & .content-container {
    display: flex;
    flex-direction: column;

    & .nav-tabs {
      margin-bottom: 2rem;
    }

    & .overall-data-container {
      display: flex;
      flex-direction: column;


      & .main-data-container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        // width: 100%;

        & .data-wrapper {
          display: flex;
          flex-direction: row;
          margin-bottom: 1.5rem;
          flex-wrap: wrap;
          // width: 100%;

          & .data {
            display: flex;
            flex-direction: column;
            flex: 50%;
            padding-bottom: 1.5rem;
  
            // &:last-child {
            //   flex: 66%;
            //   padding: 0;
            // }
  
            & .data-label {
              font-weight: bold;
            }
  
            & .status-green {
              padding: .5rem 2rem;
              border-radius: 4px;
              background-color: #EEF6EE;
              color: #006100;
              display: inline-block;
            }
  
            & .status-red {
              padding: .5rem;
              border-radius: 4px;
              background-color: #FAEAEA;
              color: #9E0000;
              display: inline-block;
            }
  
            & .status-yellow {
              padding: .5rem;
              border-radius: 4px;
              background-color: #FFEFD6;
              ;
              color: #943600;
              display: inline-block;
            }
  
            & .data-icon-container {
              display: flex;
              align-items: center;
              gap: .5rem;
              
              & .circle-green {
                display: inline-block;
                height: 1rem;
                width: 1rem;
                background-color: #006100;
                border: 2px #333 solid;
                border-radius: 50px;
            }
  
            & .circle-yellow {
                display: inline-block;
                height: 1rem;
                width: 1rem;
                background-color: #ffe292;
                border: 2px #333 solid;
                border-radius: 50px;
            }
  
            & .circle-red {
                display: inline-block;
                height: 1rem;
                width: 1rem;
                background-color: #9E0000;
                border: 2px #333 solid;
                border-radius: 50px;
            }
            }
  
          }
  
          & .data-full {
            display: flex;
            flex-direction: column;
            flex: 100%;
            padding-bottom: 1.5rem;
  
            & .data-label {
              font-weight: bold;
            }
          }
        }
      }

      & .website-scan-image-container {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 2rem;
        // width: 94vw;
        // flex: 1;

        & .image-one {
          width: 60%;
          height: 20%;
        }

        & .image-two {
          width: 15%;
          //height: 5%;
        }
      }

        & .sub-content {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          padding: 1.5rem;
          margin-bottom: 1.5rem;
          width: 94vw;

          &.full-width {
            width: 100%;
          }

          & .sub-header {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 1.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: block;
            padding-bottom: 10px;
          }

          & table {
            & tr {
              border-bottom: 1px solid #e0e0e0;
            }
            & th {
              background-color: #f5f5f5;
              font-weight: bold;
              padding: 0.75rem;
            }
            & td {
              padding: 0.75rem;
            }
          }
      

        & .data {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          flex: 50%;
          padding-bottom: 1.5rem;

          // &:last-child {
          //   flex: 66%;
          //   padding: 0;
          // }

          & .data-label {
            font-weight: bold;
          }

          & .status-green {
            padding: .5rem 2rem;
            border-radius: 4px;
            background-color: #EEF6EE;
            color: #006100;
            display: inline-block;
          }

          & .status-red {
            padding: .5rem;
            border-radius: 4px;
            background-color: #FAEAEA;
            color: #9E0000;
            display: inline-block;
          }

          & .status-yellow {
            padding: .5rem;
            border-radius: 4px;
            background-color: #FFEFD6;
            ;
            color: #943600;
            display: inline-block;
          }

          & .data-icon-container {
            display: flex;
            align-items: center;
            gap: .5rem;
            
            & .circle-green {
              display: inline-block;
              height: 1rem;
              width: 1rem;
              background-color: #006100;
              border: 2px #333 solid;
              border-radius: 50px;
          }

          & .circle-yellow {
              display: inline-block;
              height: 1rem;
              width: 1rem;
              background-color: #ffe292;
              border: 2px #333 solid;
              border-radius: 50px;
          }

          & .circle-red {
              display: inline-block;
              height: 1rem;
              width: 1rem;
              background-color: #9E0000;
              border: 2px #333 solid;
              border-radius: 50px;
          }
          }

        }

        & .data-full {
          display: flex;
          flex-direction: column;
          flex: 100%;
          padding-bottom: 1.5rem;

          & .data-label {
            font-weight: bold;
          }
        }
      }

      & .sub-content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
        background-color: #fff;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
        border-radius: 4px;

        & .sub-header {
          color: var(--neutral-black-color-dark);
          font-family: var(--primary-font);
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          display: block;
          padding-bottom: 10px;
        }

        & .p-accordion {
          width: 88vw;
          display: inline-block;
        }

        & .service-category-container {
          padding-bottom: 2rem;

          & .service-category-heading {
            color: #352B2B;
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }

          & .service-category-description {
            padding-bottom: 1rem;
          }
        }

        & .additional-info-container {
          & .data {
            display: flex;
            flex-direction: column;
            flex: 33%;
            padding-bottom: 1.5rem;
          }

          .main-data-container {
            box-shadow: none;
            padding: 0;
            margin: 0;

            .data {
              &:last-child {
                padding: 0;
              }
            }
          }
        }

        & table {

          & tr {
            &:nth-of-type(even) {
              background-color: #e9e9e9;
            }
          }

          & th {
            text-transform: capitalize;
            padding: 1rem 8rem;

            &:first-child {
              padding-left: .5rem;
            }
          }

          & td {
            padding: 1rem 8rem;

            &:first-child {
              padding-left: .5rem;
            }
          }
        }
      }

      & .sub-data-container {
        padding: 1.5rem 1.5rem;
        width: 30%;

        @media (max-width: 1560px) {
          flex: 50%;
          width: 100%;
        }

        & tr {
          border-bottom: 1px solid #E5E5E5;
          padding: 1rem 0;
        }

        & th {
          width: 70%;
          padding: .625rem;
        }

        & td {
          padding: 1rem .625rem;

          &:nth-of-type(odd) {
            font-weight: bold;
          }
        }
      }
    }

    & .edit-info-container {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      gap: 1.5rem;
      margin-top: 1.5rem;
    }
  }
}

.chart-container {
  margin-top: 2rem;
}

/* Service Category Badges */
span.pointer {
  cursor: pointer;
}

/* Website chart */
.legend {
  height: 25px;
  width: 25px;
  background-color: var(--color, currentColor);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

.legend.monotone {
  display: none;
}

.website-chart {
  width: 100%;
}

.website-list-element {
  display: inline-flex;
  flex: 0 0 10em;
}

.website-list-element:target {
  border: 3px solid #00bde3;
  padding-bottom: 0.25rem;
}

h4.tooltip {
  position: relative;
  padding: 1rem 0rem;
  margin-block-end: 0;
  text-decoration: underline dotted gray;
  text-underline-offset: 0.3rem;
}

.tooltip-text {
  min-width: 210px;
  padding: 0.8rem 1.3rem;
  border: 1px solid rgb(0, 95, 158);
  border-radius: 10px;
  background: #eef8ff;
  color: #000;
  text-align: left;
  z-index: 2;
  font-weight: 400;
  font-size: 0.9rem;
  text-decoration: underline dotted #eef8ff;
  text-underline-offset: unset;
  opacity: 0;
  transition: 0.5s opacity;
  display: none;
}

.tooltip:hover .tooltip-text,
.tooltip:hover .tooltip-text:before,
.tooltip:hover:after {
  display: block;
  opacity: 1;
}

.one {
  --color: #e69f00;
}

.two {
  --color: #56b4e9;
}

.three {
  --color: #d55e00;
}

.four {
  --color: #0072b2;
}

.five {
  --color: #009e73;
}

.six {
  --color: #cc79a7;
}

.graph circle.one {
  --value: 8;
  --max: 19;
}

.graph circle.two {
  --value: 10;
  --max: 20;
}

.graph circle.three {
  --value: 4;
  --max: 9;
}

.graph circle.four {
  --value: 10;
  --max: 20;
}

.graph circle.five {
  --value: 6;
  --max: 10;
}

.graph circle.six {
  --value: 7;
  --max: 20;
}

.graph circle.monotone {
  --color: #0050bf;
}

.graph circle.zeroValue {
  --color: #7d7d7d;
  stroke-width: 2px;
  r: 15px;
  stroke-dasharray: 15.7075000314 94.245;
  animation: circle 2s ease-in-out both;
}

.website-chart svg {
  width: 12rem;
  height: 12rem;
  transform: rotate(12deg);
}

.background circle {
  fill: #eee;
  stroke: none;
}

.graph circle {
  fill: none;
  stroke: var(--color, grey);
  stroke-width: calc(25px * var(--value) / var(--max) * 2);
  r: calc(25px * var(--value) / var(--max));
  stroke-dasharray: calc(1.0471666688 * 25 * var(--value, 0) / var(--max, 100)) calc(6.283 * 25 * var(--value, 0) / var(--max, 100));
  animation: circle 2s ease-in-out both;
}

@keyframes circle {
  0% {
    opacity: 0;
    stroke-width: 0;
  }
}

circle:nth-child(1) {
  animation-delay: 0.2s;
}

circle:nth-child(2) {
  animation-delay: 0.4s;
}

circle:nth-child(3) {
  animation-delay: 0.6s;
}

circle:nth-child(4) {
  animation-delay: 0.8s;
}

circle:nth-child(5) {
  animation-delay: 1s;
}

circle:nth-child(6) {
  animation-delay: 1.2s;
}