<div class="websites-details-container" *ngIf="isDataReady">
    <div class="breadcrumb-container">
        <app-breadcrumb>
            <span currentPageName>{{detailsData.domain}}</span>
        </app-breadcrumb>
    </div>
    <div class="title-container">
        <span class="title">{{detailsData.domain}}</span>
    </div>
    <div class="content-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="isOverviewTabActive" (click)="onTabClick('overview', $event)" href="#overview">Overview</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="isRelatedSystemsTabActive" (click)="onTabClick('relatedSystems', $event)" href="#relatedSystems">Related Systems</a>
            </li>
        </ul>
        <div class="tab-container" *ngIf="isOverviewTabActive">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="data-wrapper">
                        <div class="data">
                            <label class="data-label">
                                <span>
                                    Status
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </label>
                            <span>
                                <span>{{detailsData.production_status}}</span>
                            </span>
                        </div>
                        <div class="data">
                            <label class="data-label">
                                <span>
                                    Type of Site
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </label>
                            <span>
                                <span>{{detailsData.type_of_site}}</span>
                            </span>
                        </div>
                        <div class="data">
                            <label class="data-label">
                                <span>
                                    Recent Screenshots
                                    <i class="fas fa-info-circle"></i>
                                </span>
                            </label>
                            <span *ngIf="!inProduction()" class="alert alert-warning" role="alert">
                                Websites that are not in a production status or are
                                considered infrastructure do not contain screenshots
                            </span>
                            <span *ngIf="hasScanDate()">
                                <span>{{websiteScan.scan_date | date : "mediumDate"}}</span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sub-content">
                    <div class="website-scan-image-container" *ngIf="hasImages()">
                        <img [src]="getDesktopImg()" [alt]="getDesktopImgAltText()" class=" shadow" />
                        <img [src]="getMobileImg()" [alt]="getMobileImgAltText()" class=" shadow" />
                    </div>
                    <div class="service-category-container" *ngIf="hasServiceCategories()">
                        <p-accordion>
                            <p-accordionTab *ngFor="let sc of websiteServiceCategories; let i = index"
                                [header]="sc.name">
                                <website-service-category-details-content [data]="sc" [showToolbar]="false"
                                    [showPagination]="false"></website-service-category-details-content>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                    <div class="chart-container">
                        <h4>EDX Compiled Indicator</h4>
                        <div class="row mb-3">
                            <div class="col-auto">
                                <div>
                                    <svg class="website-chart" style="display: block; margin: 0 auto" id="graph"
                                        height="100" width="100" viewBox="0 0 100 100"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <title>
                                            Coxcomb chart showing website strengths and weaknesses
                                            on a 0 to 1 scale with 1 being the highest value. Scores
                                            are as follows: Customer Centricity:
                                            {{ detailsData.customer_centricity }}, Required Links:
                                            {{ detailsData.required_links }}, Mobile Performance:
                                            {{ detailsData.mobile_performance }}, Accessibility:
                                            {{ detailsData.accessibility }}, Google Analytics:
                                            {{ detailsData.google_analytics }}, USWDS:
                                            {{ detailsData.uswds }}
                                        </title>
                                        <g class="background">
                                            <circle cx="50" cy="50" r="50" pathLength="100" />
                                        </g>

                                        <g id="website-chart" class="graph">
                                            <circle cx="50" cy="50" class="one" ngClass="{{
                                            detailsData.customer_centricity === '0.00'
                                              ? 'zeroValue'
                                              : ''
                                          }}" transform="rotate(-90 50 50)"
                                                [style.--value]="detailsData.customer_centricity" [style.--max]="1" />
                                            <circle cx="50" cy="50" class="two" ngClass="{{
                                            detailsData.required_links === '0.00' ? 'zeroValue' : ''
                                          }}" transform="rotate(-30 50 50)"
                                                [style.--value]="detailsData.required_links" [style.--max]="1" />
                                            <circle cx="50" cy="50" class="three" ngClass="{{
                                            detailsData.mobile_performance === '0.00'
                                              ? 'zeroValue'
                                              : ''
                                          }}" transform="rotate(30 50 50)"
                                                [style.--value]="detailsData.mobile_performance" [style.--max]="1" />
                                            <circle cx="50" cy="50" class="four" ngClass="{{
                                            detailsData.accessibility === '0.00' ? 'zeroValue' : ''
                                          }}" transform="rotate(90 50 50)" [style.--value]="detailsData.accessibility"
                                                [style.--max]="1" />
                                            <circle cx="50" cy="50" class="five" ngClass="{{
                                            detailsData.google_analytics === '0.00'
                                              ? 'zeroValue'
                                              : ''
                                          }}" transform="rotate(150 50 50)"
                                                [style.--value]="detailsData.google_analytics" [style.--max]="1" />
                                            <circle cx="50" cy="50" class="six" ngClass="{{
                                            detailsData.uswds === '0.00' ? 'zeroValue' : ''
                                          }}" transform="rotate(210 50 50)" [style.--value]="detailsData.uswds"
                                                [style.--max]="1" />
                                        </g>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-8">
                                <p>
                                    The following charts show the relative strengths and
                                    weaknesses of each website across 6 areas.
                                </p>
                                <p>
                                    A gray semi-circle appears when data is unavailable for the
                                    website in that particular category.
                                </p>
                                <div class="row">
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend one"></span>Customer Centricity
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend two"></span>Required Links
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend three"></span>Mobile Performance
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend four"></span>Accessibility (AMP)
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend five"></span>Google Analytics
                                    </div>
                                    <div class="col-12 col-md-4 mb-2">
                                        <span class="legend six"></span>USWDS
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="additional-info-container">
                        <div class="main-data-container">
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Office
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.office}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Sub Office
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.sub_office}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Website Manager
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.site_owner_email}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Contact Email
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.contact_email}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Redirect URL
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.redirects_to}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Required By Law/Policy
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.required_by_law_or_policy}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        DAP Enabled
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.has_dap}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Current USWDS Score
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.uswds}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Mobile Friendly?
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.mobile_friendly}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Has Search?
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.has_search}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        HTTPS Enabled
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.https}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Hosting Platform
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.hosting_platform}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Content Management Platform
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.cms_platform}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Repository URL
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.repository_url}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Target Decommission Date
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.target_decommission_date | date:'shortDate'}}</span>
                                </span>
                            </div>
                            <div class="data">
                                <label class="data-label">
                                    <span>
                                        Sitemap URL
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </label>
                                <span>
                                    <span>{{detailsData.sitemap_url}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-container" *ngIf="isRelatedSystemsTabActive">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="sub-content full-width">
                        <span class="sub-header">Related Systems</span>
                        <app-table [localTableData]="relatedSystemsData" [isLocal]="true" [tableCols]="relatedSystemsCols"
                            [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>