#orgDetail {
  visibility: hidden;
  opacity: 0;
  height: auto;
  position: fixed;
  top: 10;
  z-index: 100;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#orgExtLink, #orgDetailLink, #orgDetailClose {
  cursor: pointer;
}

#orgSearchField {
  height: 48px;
  border: 3px solid black;
}

/* Keeping this here in case the detail pane gets larger and needs to move */
/* #orgChart {
  z-index: 1;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
} */

.org-container {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  width: 94vw;
  overflow: auto;

  & .org-title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      & .org-title-right-button-container {
          display: flex;
          flex-direction: row;
          gap: 1rem;
      }
  }

  & .org-definition-container {
      padding: 1rem;
       background-color: #fff;
       border-radius: 0.3rem;

      & .org-definition-text {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;  
          overflow: hidden;
          margin-bottom: .25rem;

          &.expanded {
              -webkit-line-clamp: none;
              overflow: visible;
          }
      }
  }

  & .org-data-container {
      display: flex;
      flex-direction: column;
      padding: .5rem;
  }
}