#orgDetail {
  display: none;
  height: auto;
  position: fixed;
  top: 10;
}

#orgExtLink, #orgDetailLink, #orgDetailClose {
  cursor: pointer;
}

#orgSearchField {
  height: 48px;
  border: 3px solid black;
}

#busCapGraph {
  margin-top: 13%;
}