#orgDetail {
  visibility: hidden;
  opacity: 0;
  height: auto;
  position: fixed;
  top: 10;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#orgExtLink, #orgDetailLink, #orgDetailClose {
  cursor: pointer;
}

#orgSearchField {
  height: 48px;
  border: 3px solid black;
}

#orgChart {
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}