#orgDetail {
  visibility: hidden;
  opacity: 0;
  height: auto;
  position: fixed;
  top: 10;
  z-index: 100;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#orgExtLink, #orgDetailLink, #orgDetailClose {
  cursor: pointer;
}

#orgSearchField {
  height: 48px;
  border: 3px solid black;
}

/* Keeping this here in case the detail pane gets larger and needs to move */
/* #orgChart {
  z-index: 1;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
} */