<span class="breadcrumb-text" *ngIf="getTopLevelRotueName()">{{getTopLevelRotueName()}}</span>
<span class="breadcrumb-separator" *ngIf="getTopLevelRotueName()">></span>
<span class="breadcrumb-text" *ngIf="getSubLevelRotueName()">
    <a [routerLink]="'/'+getBackRoute()">{{getSubLevelRotueName()}}</a>
</span>
<span class="breadcrumb-separator" *ngIf="getSubLevelRotueName()">></span>
<ng-container *ngIf="showManagerLevel">
    <span  class="breadcrumb-text">
        <ng-content select="[managerType]"></ng-content>
    </span> 
    <span class="breadcrumb-separator">></span>
</ng-container>
<span  class="breadcrumb-text">
    <ng-content select="[currentPageName]"></ng-content>
</span>
<!-- {{getTopLevelRotueName()}} > <a [routerLink]="'/'+currentSubPath">{{getSubLevelRotueName()}}</a> > <ng-content select="[currentPageName]"></ng-content> -->