@if (getTopLevelRotueName()) {
  <span class="breadcrumb-text">{{getTopLevelRotueName()}}</span>
}
@if (getTopLevelRotueName()) {
  <span class="breadcrumb-separator">></span>
}
@if (getSubLevelRotueName()) {
  <span class="breadcrumb-text">
    <a [routerLink]="getBackRouteWithParams()">{{getSubLevelRotueName()}}</a>
  </span>
}
@if (getSubLevelRotueName()) {
  <span class="breadcrumb-separator">></span>
}
@if (showManagerLevel) {
  <span class="breadcrumb-text">
    <ng-content select="[managerType]"></ng-content>
  </span>
  <span class="breadcrumb-separator">></span>
}
<span class="breadcrumb-text">
  <ng-content select="[currentPageName]"></ng-content>
</span>