.breadcrumb-text {
    font-size: 1rem;
    a {
        color: var(--primary-color);
        text-decoration: underline;
        cursor: pointer;
    }
}

.breadcrumb-separator {
    font-size: 14px;
    padding: 0 9px;
}