<span class="breadcrumb-text">{{getTopLevelRotueName()}}</span>
<span class="breadcrumb-separator">></span>
<span class="breadcrumb-text">
    <a [routerLink]="'/'+getBackRoute()">{{getSubLevelRotueName()}}</a>
</span>
<span class="breadcrumb-separator">></span>
<span  class="breadcrumb-text">
    <ng-content select="[currentPageName]"></ng-content>
</span>
<!-- {{getTopLevelRotueName()}} > <a [routerLink]="'/'+currentSubPath">{{getSubLevelRotueName()}}</a> > <ng-content select="[currentPageName]"></ng-content> -->