<div class="card bg-light">
  <div class="card-header text-white bg-dark">
    <h3 class="card-title my-auto">About GSA Enterprise Architecture Program</h3>
  </div>
  <div class="card-body card-text">
    <!-- Tabs -->
    <ul id="aboutTabs" class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#overview">
          Overview</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#sysRat">
          Systems Rationalization</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#videoTutorials">
          Quick Video Tutorials</a></li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="overview">
        <p>The Office of Digital Management (IR) team provides strategic and policy support for GSA
          customers across the entire organization. Enterprise Architecture (EA) is responsible for providing the
          necessary support for designing organizational changes based on ever-evolving programmatic requirements. EA is
          involved in business transformation planning through the modeling of existing processes and environments and
          the development of roadmaps to reach the desired target states. In addition, EA is responsible for assessing
          the impact of change across the organization such as business, application, and technological layers.</p>

        <h4>Sources of Data</h4>
        <p>GEAR aims to be a hub of data by relying on authoritative sources of information as much as possible. We strive 
          to limit the redundancy of data calls by determining if data can be imported from existing systems. 
          For that reason, GEAR has formed partnerships with several organizations across GSA to import data, 
          analyze and make the proper references between data sets, and present it in an intuitive and actionable manner. 
          GEAR's data sources are provided in <a routerLink="/gear_model"><u>the GEAR Data Flow Model.</u></a></p> 
          
          <h4>GEAR API</h4>
          <p>The GEAR development team has built a set of openly available REST API services 
          (<a href="https://gsa.github.io/GEAR-Documentation/api-docs/"><u>documentation here</u></a>) to provide the data
          from this portal to other users who might need direct access to the EA data. Currently, the portal is
          available to all users within the GSA firewall.</p>
        <br>

        <p>
          <!-- removed for gg-174 <a href="/known_issues" target="blank" class="card-link">
            GEAR Known Issues</a> -->
          <!--<a href="https://insite.gsa.gov/directives-library/gsa-enterprise-architecture-policy-21104-cio"
            target="blank" class="card-link">CIO GSA Enterprise Architecture Policy</a> -->
          <a href="https://github.com/GSA/GEAR3" target="blank" class="card-link">
            GEAR Code Repository and Issue Management on GitHub</a>
        </p>
      </div>

      <div class="tab-pane fade" id="sysRat">
        <h4>Systems Rationalization</h4>
        <p>GSA’s Enterprise Architecture program uses a business-focused, 
          data-driven methodology to analyze the IT application portfolio and help guide IT investment decisions. 
          This methodology is used to calculate whether a system should be tolerated, invested, migrated, or eliminated 
          (TIME). To derive the current TIME value of a business system, we ask system owners to work with their teams 
          to complete a <b>TIME Assessment Questionnaire</b>. For access to a TIME Assessment Questionnaire,
          please <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ea_planning@gsa.gov"
          target="_blank"><u>contact the EA team</u></a>, and we will provide you with a custom link to a questionnaire for your system. 
        <br><br>
          If you provide a response to our TIME Assessment Questionnaire, it will be visible on 
          <a routerLink="/systems_TIME" class="card-link">the TIME report</a>.</p>

        <h4>TIME</h4>
        <p><b>Tolerate:</b> business systems are maintained in their current state.</p>

        <p><b>Invest:</b> business systems are targeted for enhancement or expansion.</p>

        <p><b>Migrate:</b> business systems are planned for replacement.</p>

        <p><b>Eliminate:</b> business systems are scheduled for decommissioning.</p>
        <br>

        <p>
          <a routerLink="/systems_TIME" class="card-link">
            Systems TIME Report</a>
        </p>
      </div>

      <div id="videoTutorials" class="tab-pane fade">
        <div class="row justify-content-center">
          <img src="https://innovationlabs.harvard.edu/wp-content/uploads/sites/5/2018/08/Coming-soon-stamp.jpg"
            alt="Coming Soon" style="width: 50%;">
          <!-- Placeholder for video tutorials -->
          <!-- <div class="eavp-player-cntr row tablefix">
          <div class="col-md-12">
            <div class="panel" style="height:auto;">
              <div class="panel-body">
                <div id="inline-player" class="eavp-player">
                  <div class="eavp-owl-cntr">
                    <div id="owl" class="owl-carousel owl-theme">
                    </div>
                  </div>
                  <ul id="eavp-playlist" class="eavp-playlist">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        </div>
      </div>

    </div>
  </div>
</div>