<div class="card bg-light">
  <div class="card-header text-white bg-dark">
    <h3 class="card-title my-auto">About GSA Enterprise Architecture Program</h3>
  </div>
  <div class="card-body card-text">
    <!-- Tabs -->
    <ul id="aboutTabs" class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#overview">
          Overview</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#EATeam">
          EA Team</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#appRat">
          Business Application Rationalization</a></li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#videoTutorials">
          Quick Video Tutorials</a></li>
    </ul>

    <!-- Tab Panes -->
    <div class="tab-content mt-3">
      <div class="tab-pane fade show active" id="overview">
        <p>The Enterprise Architecture, Policy & Planning (IDRA) team provides strategic and policy support for GSA
          customers across the entire organization. Enterprise Architecture (EA) is responsible for providing the
          necessary support for designing organizational changes based on ever-evolving programmatic requirements. EA is
          involved in business transformation planning through the modeling of existing processes and environments and
          the development of roadmaps to reach the desired target states. In addition, EA is responsible for assessing
          the impact of change across the organization such as business, application and technological layers.</p>

        <p>For more information about Enterprise Architecture and how EA can help GSA employees and
          organizations please see the presentation <a
            href="https://docs.google.com/presentation/d/1CI7SlUQTFUDNPlQbUmYMhmqJr9WH-Zb9uID6MAXRo1U/edit?ts=561ea7cc#slide=id.p"
            target="blank" class="card-link">"Why EA?".</a></p>
        <br>

        <h4>Sources of Data</h4>
        <p>The sources of the data are through surveys and data calls for linking business applications (FAS, PBS, CTO),
          business capabilities (EA), FISMA Systems (from ISP organization), and IT Standards (managed by the CTO
          office). The GEAR development team has built a set of openly available REST API services to provide the data
          from this portal to other users who might need direct access to the EA data. Currently, the portal is
          available to all users within the GSA firewall.</p>
        <br>

        <p>
          <!-- <a href="/known_issues" target="blank" class="card-link">
            GEAR Known Issues</a> -->
          <a href="https://insite.gsa.gov/directives-library/gsa-enterprise-architecture-policy-21104-cio"
            target="blank" class="card-link">CIO GSA Enterprise Architecture Policy</a>
          <a href="https://github.com/GSA/GEAR3/commits/master" target="blank" class="card-link">
            GEAR Development Notes on GitHub</a>
        </p>
      </div>

      <div id="EATeam" class="tab-pane fade">
        <div class="row justify-content-center">
          <img src="https://innovationlabs.harvard.edu/wp-content/uploads/sites/5/2018/08/Coming-soon-stamp.jpg"
            alt="Coming Soon" style="width: 50%;">
        </div>
      </div>

      <div class="tab-pane fade" id="appRat">
        <h4>Business Application Rationalization</h4>
        <p>The General Services Administration’s (GSA’s) Enterprise Architecture program has developed an
          innovative approach to Business Application Rationalization, a business-focused, data-driven methodology to
          analyze the IT application portfolio and help guide IT investment decisions. This methodology is used to
          assess whether a business application should be tolerated, invested, migrated, or eliminated (TIME) and
          provides a consistent approach to coordinate discussions between business and IT stakeholders to discuss the
          strategic direction for GSA’s IT investments. In concert with GSA’s enterprise governance boards, the EA team
          offers recommendations, which inform the determination to retire, consolidate, replace or modernize GSA’s
          business applications. You can view the current TIME report generated by the Business Application
          Rationalization process
          <a routerLink="/applications_TIME" class="card-link">here.</a></p>

        <h4>TIME</h4>
        <p><b>Tolerate:</b> There are three levels of tolerate.</p>
        <br>
        <ul>
          <li><i>T1</i> are considered in "keep the lights on" mode and only critical fixes are completed (i.e., resolve
            issues only if the business application cannot be used at all or without major workarounds or for
            significant security vulnerabilities). No DM&E. Only O&M.</li>
          <li><i>T2</i> are tolerated with enhancements. Mostly O&M with some DM&E.</li>
          <li><i>T3</i> are tolerated, are likely to be considered for migration in the next 1 to 3 years and a
            migration plan is needed. Mostly O&M with DM&E for migration planning.</li>
        </ul>

        <p><b>Invest:</b> Business Application is being developed/upgraded to provide functionality due to new business
          requirement or elimination of current business applications. Must have an approved EBC or 50% or more of
          budget is DM&E. Business Applications will have implementation plans detailing the planned enhancements.</p>
        <br>

        <p><b>Migrate:</b> There are two levels of migrate. Migration planning and funding to complete migration should
          be approved so the migration can begin in the current fiscal year.</p>
        <br>
        <ul>
          <li><i>M1</i> are considered business applications whose technology/platform/hardware are being modernized;
            business applications satisfy drivers to move to a new platform or technology. Technology focused.</li>
          <li><i>M2</i> are considered business applications whose capabilities are migrating to new solution; business
            application satisfy drivers including improved integration with other business applications.
            Technology/platform/hardware should be modernized as part of this migration. Business focused (could include
            technology changes).</li>
        </ul>

        <p><b>Eliminate:</b> Business Application is no longer needed. Elimination date is known. Data migration plan is
          known.</p>
        <br>

        <p>
          <a routerLink="/applications_TIME" class="card-link">
            Business Applications TIME Report</a>
        </p>
      </div>

      <div id="videoTutorials" class="tab-pane fade">
        <div class="row justify-content-center">
          <img src="https://innovationlabs.harvard.edu/wp-content/uploads/sites/5/2018/08/Coming-soon-stamp.jpg"
            alt="Coming Soon" style="width: 50%;">
          <!-- Placeholder for video tutorials -->
          <!-- <div class="eavp-player-cntr row tablefix">
          <div class="col-md-12">
            <div class="panel" style="height:auto;">
              <div class="panel-body">
                <div id="inline-player" class="eavp-player">
                  <div class="eavp-owl-cntr">
                    <div id="owl" class="owl-carousel owl-theme">
                    </div>
                  </div>
                  <ul id="eavp-playlist" class="eavp-playlist">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        </div>
      </div>

    </div>
  </div>
</div>