<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar id="sidebar" [(opened)]="_opened" [mode]="_mode"
    [keyClose]="_keyClose" [position]="_position" [dock]="_dock"
    [dockedSize]="_dockedSize" [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop" [animate]="_animate" [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus" [sidebarClass]="'w-15'" [ariaLabel]="'sideNavbar'"
    (onOpenStart)="_onOpenStart()" (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()" (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()">

    <ul class="list-group">
      <!-- Strategy -->
      <li>
        <a data-toggle="collapse" data-target="#strategyDropdown"
          aria-controls="#strategyDropdown" aria-expanded="false" (click)="_opened=true"
          class="bg-info list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Strategy
            <span class="submenu-icon ml-auto">
              <i class="fas fa-puzzle-piece fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="strategyDropdown" class="collapse sidebar-submenu">
          <a routerLink="/strategic_framework"
            class="bg-dark list-group-item list-group-item-action">
            GSA IT Strategic Framework</a>
          <a routerLink="/investments"
            class="bg-dark list-group-item list-group-item-action">
            GSA IT Investments</a>
          <a href="https://insite.gsa.gov/directives-library/#GSAIT"
            target="_blank"
            class="bg-dark list-group-item list-group-item-action">
            GSA IT Policies
            <i class="fas fa-external-link-alt"></i></a>
        </div>
      </li>

      <!-- Business  -->
      <li>
        <a data-toggle="collapse" data-target="#businessDropdown"
          aria-controls="#businessDropdown" aria-expanded="false" (click)="_opened=true"
          class="bg-info list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Business
            <span class="submenu-icon ml-auto">
              <i class="fas fa-sitemap fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="businessDropdown" class="collapse sidebar-submenu">
          <a routerLink="/capabilities_model"
            class="bg-dark list-group-item list-group-item-action">
            GSA Business Capability Model</a>
          <a routerLink="/capabilities"
            class="bg-dark list-group-item list-group-item-action">
            GSA Business Capability List</a>
          <a routerLink="/org_chart"
            class="bg-dark list-group-item list-group-item-action">
            GSA Organization Chart</a>
          <a routerLink="/organizations"
            class="bg-dark list-group-item list-group-item-action">
            GSA Organization List</a>
        </div>
      </li>

      <li>
        <!-- Business Applications -->
        <a data-toggle="collapse" data-target="#businessAppDropdown"
          aria-controls="#businessAppDropdown" aria-expanded="false" (click)="_opened=true"
          class="bg-info list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Business Applications
            <span class="submenu-icon ml-auto">
              <i class="fas fa-laptop fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="businessAppDropdown" class="collapse sidebar-submenu">
          <a routerLink="/systems"
            class="bg-dark list-group-item list-group-item-action">
            GSA Parent Systems</a>
          <a routerLink="/applications"
            class="bg-dark list-group-item list-group-item-action">
            GSA Business Applications</a>
          <a routerLink="/applications_TIME"
            class="bg-dark list-group-item list-group-item-action">
            Application TIME Report</a>
          <a routerLink="/applications_retired"
            class="bg-dark list-group-item list-group-item-action">
            GSA Retired Applications</a>
          <a routerLink="/applications_graveyard"
            class="bg-dark list-group-item list-group-item-action">
            GSA Application Graveyard</a>
        </div>


      </li>
    </ul>
  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <main role="main">
      <div class="container-fluid my-3">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
  <!-- End Page Content -->

</ng-sidebar-container>
<!-- End Side Navbar -->
