<!-- Container for sidebar(s) + page content -->
<!-- <ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar
    id="sidebar"
    [(opened)]="_opened"
    [mode]="_mode"
    [keyClose]="_keyClose"
    [position]="_position"
    [dock]="_dock"
    [dockedSize]="_dockedSize"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [sidebarClass]="'w-15'"
    [ariaLabel]="'sideNavbar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()"
    (mouseenter)="_opened = true"
    (mouseleave)="_opened = false"
  >
    <ul id="sideMenu" class="list-group">
      Strategy
      <li>
        <a
          id="strategyBttn"
          data-toggle="collapse"
          data-target="#strategyDropdown"
          aria-controls="#strategyDropdown"
          aria-expanded="false"
          class="bg-success list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            IT Strategy
            <span class="submenu-icon">
              <i class="fas fa-puzzle-piece fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="strategyDropdown"
          aria-labelledby="strategyDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        >
          <a
            routerLink="/strategic_framework"
            class="bg-dark list-group-item list-group-item-action"
          >
            IT Strategic Framework</a
          >
          <a
            routerLink="/investments"
            class="bg-dark list-group-item list-group-item-action"
          >
            IT Investments</a
          >
          <a
            href="https://insite.gsa.gov/directives-library/#GSAIT"
            target="_blank"
            rel="noopener"
            class="bg-dark list-group-item list-group-item-action"
          >
            IT Policies
            <i class="fas fa-external-link-alt"></i
          ></a>
        </div>
      </li>

      Enterprise 
      <li>
        <a
          id="enterpriseBttn"
          data-toggle="collapse"
          data-target="#enterpriseDropdown"
          aria-controls="#enterpriseDropdown"
          aria-expanded="false"
          class="bg-royal-blue list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            GSA Enterprise
            <span class="submenu-icon">
              <i class="fas fa-sitemap fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="enterpriseDropdown"
          aria-labelledby="enterpriseDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        >
          <a
            routerLink="/capabilities_model"
            class="bg-dark list-group-item list-group-item-action"
          >
            Business Capability Model</a
          >
          <a
            routerLink="/capabilities"
            class="bg-dark list-group-item list-group-item-action"
          >
            Business Capability List</a
          >
          <a
            routerLink="/org_chart"
            class="bg-dark list-group-item list-group-item-action"
          >
            Organization Chart</a
          >
          <a
            routerLink="/organizations"
            class="bg-dark list-group-item list-group-item-action"
          >
            Organization List</a
          >
          <a
            routerLink="/website_service_category"
            class="bg-dark list-group-item list-group-item-action"
          >
            Website Service Category List</a
          >
        </div>
      </li>

      <!-- Systems -->
      <!-- <li>
        <a
          id="systemBttn"
          data-toggle="collapse"
          data-target="#systemsDropdown"
          aria-controls="#systemsDropdown"
          aria-expanded="false"
          class="bg-danger list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            Business Systems
            <span class="submenu-icon">
              <i class="fas fa-laptop fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="systemsDropdown"
          aria-labelledby="systemsDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        >
          <a
            routerLink="/systems"
            class="bg-dark list-group-item list-group-item-action"
          >
            Business Systems</a
          >
          <a
            routerLink="/systems_TIME"
            class="bg-dark list-group-item list-group-item-action"
          >
            TIME Report</a
          >
          <a
            routerLink="/records_mgmt"
            class="bg-dark list-group-item list-group-item-action"
          >
            Records Management</a
          >
          <a
            routerLink="/websites"
            class="bg-dark list-group-item list-group-item-action"
          >
            GSA Websites</a
          >
        </div>
      </li> -->

      <!-- Security -->
      <!-- <li>
        <a
          id="securityBttn"
          data-toggle="collapse"
          data-target="#securityDropdown"
          aria-controls="#securityDropdown"
          aria-expanded="false"
          class="bg-warning list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            Security
            <span class="submenu-icon">
              <i class="fas fa-shield-alt fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="securityDropdown"
          aria-labelledby="securityDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        >
          <a
            routerLink="/FISMA"
            class="bg-dark list-group-item list-group-item-action"
          >
            FISMA Systems Inventory</a
          >
          <a
            routerLink="/FISMA_POC"
            class="bg-dark list-group-item list-group-item-action"
          >
            FISMA System POCs</a
          >
        </div>
      </li> -->

      <!-- Technologies -->
      <!-- <li>
        <a
          id="technologyBttn"
          data-toggle="collapse"
          data-target="#technologiesDropdown"
          aria-controls="#technologiesDropdown"
          aria-expanded="false"
          class="bg-teal list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            Technologies
            <span class="submenu-icon">
              <i class="fas fa-microchip fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="technologiesDropdown"
          aria-labelledby="technologiesDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        >
          <a
            routerLink="/it_standards"
            class="bg-dark list-group-item list-group-item-action"
          >
            IT Standards List</a
          >
          <a
            href="https://insite.gsa.gov/portal/content/500499"
            target="_blank"
            rel="noopener"
            class="bg-dark list-group-item list-group-item-action"
          >
            IT Standards Approval Process
            <i class="fas fa-external-link-alt"></i
          ></a>
        </div>
      </li> -->

      <!-- Enterprise Architecture -->
      <!-- <li>
        <a
          id="eaBttn"
          data-toggle="collapse"
          data-target="#eaDropdown"
          aria-controls="#eaDropdown"
          aria-expanded="false"
          class="bg-purple list-group-item list-group-item-action flex-column align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            Enterprise Architecture
            <span class="submenu-icon">
              <i class="fas fa-network-wired fa-lg fa-fw"></i>
            </span>
          </div>
        </a>
        <div
          id="eaDropdown"
          aria-labelledby="eaDropdown"
          data-parent="#sideMenu"
          class="collapse sidebar-submenu"
        > -->
          <!--<a
            routerLink="/artifacts"
            class="bg-dark list-group-item list-group-item-action"
          >
            Artifacts</a
          >-->
          <!-- <a
            routerLink="/ea_view"
            class="bg-dark list-group-item list-group-item-action"
          >
            EA View</a
          >
          <a
            routerLink="/gear_model"
            class="bg-dark list-group-item list-group-item-action"
          >
            GEAR Model Diagram</a
          >
        </div>
      </li> -->

      <!-- Menu Break -->
      <!-- <li><br /></li> -->

      <!-- Access Forms & Glossary -->
      <!-- <li>
        <a
          id="formsBttn"
          routerLink="/forms_glossary"
          aria-label="Access Forms and Glossary"
          tabindex="0"
          class="bg-info list-group-item list-group-item-action align-items-start"
        >
          <div class="d-flex w-100 justify-content-start align-items-center">
            Access Forms & Glossary
            <span class="submenu-icon">
              <i class="fab fa-wpforms fa-lg fa-fw fa-fw"></i> -->
              <!-- For some reason, this needs a fixed width to properly align-->
            <!-- </span>
          </div>
        </a>
      </li>
    </ul>
  </ng-sidebar> -->

  <!-- Page content -->
  <!-- <div ng-sidebar-content>
    <main role="main">
      <div class="container-fluid my-3">
        <div class="col-md-12"> -->
          <!-- Logged In Notification -->
          <!-- <div
            id="loggedIn"
            class="container toast hide rounded-lg w-25"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-delay="3000"
          >
            <div id="loggedInCollapse" class="collapse">
              <div class="toast-header">
                <i class="fa fa-sign-in-alt mr-2 fa-fw"></i>
                <strong class="mr-auto text-success"
                  >You have successfully logged into GEAR Manager!</strong
                >
              </div>
            </div>
          </div> -->

        
<!-- Beginning of sidebar -->
<div (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()" class="side-bar collapse" style="margin-left:-3.8%">
  <!-- <div class="logo-name-wrapper"> -->
  <!-- </div> -->

  <!-- First main sidebar item -->
  <ul class="features-list">
    <li (click)=toggleSub(1) class="features-item inbox" style="background-color: #339054;">
        <i class="bx bxs-extension features-item-icon inbox-icon"></i>
        <span class="features-item-text">IT Strategy</span>
      </li>
      <!-- First sub menu list  -->
        <div [class]="ItemList1" id="subMenu">
          <li routerLink="/strategic_framework" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">IT Strategic Framework</span>
          </li>

          <li routerLink="/investments" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">IT Investments</span>
          </li>

          <li onClick="location.href='https://insite.gsa.gov/directives-library/#GSAIT'" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">IT Policies</span>  <i class="bx bx-link-external"></i>
          </li>
        </div>

    <!-- Second main sidebar item -->
    <li (click)=toggleSub(2) class="features-item draft" style="background-color:#214598">
      <i class="bx bx-sitemap features-item-icon"></i>
      <span class="features-item-text">GSA Enterprise</span>
    </li>
        <!-- Second sub menu list -->
        <div [class]="ItemList2" id="subMenu">
          <li routerLink="/capabilities_model" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Business Capabiltiy Model</span>

          <li routerLink="/capabilities" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Buisness Capability List</span>

          <li routerLink="/org_chart" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Organization Chart</span>

          <li routerLink="/organizations" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Organization List</span>

          <li routerLink="/website_service_category" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Website Service Category List</span>
        </div>

    <!-- Third main sidebar item -->
    <li (click)=toggleSub(3) class="features-item star" style="background-color:#c9302c">
      <i class="bx bx-laptop features-item-icon"></i>
      <span class="features-item-text">Business Systems</span>
    </li>
        <!-- Third sub menu list -->
        <div [class]="ItemList3" id="subMenu">
          <li routerLink="/systems" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Business Systems</span>

          <li routerLink="/systems_TIME" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">TIME Report</span>

          <li routerLink="/records_mgmt" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Records Management</span>

          <li routerLink="/websites" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">GSA Websites</span>
        </div>

    <!-- Fourth main sidebar item -->
    <li (click)=toggleSub(4) class="features-item sent" style="background-color:#ec971f">
      <i class="bx bx-shield-quarter features-item-icon"></i>
      <span class="features-item-text">Security</span>
    </li>
        <!-- Fourth sub menu list -->
        <div [class]="ItemList4">
          <li routerLink="/FISMA" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">FISMA Systems Inventory</span>

          <li routerLink="/FISMA_POC" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">FISMA System POCs</span>
        </div>

    <!-- Fifth main sidebar item -->
    <li (click)=toggleSub(5) class="features-item trash" style="background-color:#076464">
      <i class="bx bx-microchip features-item-icon"></i>
      <span class="features-item-text">Technologies</span>
    </li>
        <!-- Fifth sub menu list -->
        <div [class]="ItemList5">
          <li routerLink="/it_standards" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">IT Standards List</span>

          <li onClick="location.href='https://insite.gsa.gov/portal/content/500499'" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">IT standards Approval Process</span> <i class="bx bx-link-external"></i>
        </div>

    <!-- Sixth main sidebar item -->
    <li (click)=toggleSub(6) class="features-item spam" style="background-color:#800080">
      <i class="bx bx-vector features-item-icon"></i>
      <span class="features-item-text">Enterprise Architecture</span>
    </li>
        <!-- Sixth sub menu list -->
        <div [class]="ItemList6">
          <li routerLink="/artifacts" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
            <i class="features-item-icon"></i>
            <span class="features-item-text">Artifacts</span>
            
            <li routerLink="/gear_model" class="features-item-sub" style="background-color: rgb(70, 70, 70)">
              <i class="features-item-icon"></i>
              <span class="features-item-text">GEAR Model Diagram</span>
          </div>
    <br/>

    <!-- Seventh main sidebar item -->
    <li routerLink="/forms_glossary" class="features-item spam" style="background-color:#187aa3">
      <i class="bx bxs-file-doc features-item-icon"></i>
      <span class="features-item-text">Access Forms & Glossary</span>
    </li>
  </ul>

  <!-- Page content -->
   <div ng-sidebar-content>
    <main role="main">
      <div class="container-fluid my-3">
        <div class="col-md-12"> 
          <!-- Logged In Notification -->
          <div
            id="loggedIn"
            class="container toast hide rounded-lg w-25"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-delay="3000"
          >
            <div id="loggedInCollapse" class="collapse">
              <div class="toast-header">
                <i class="fa fa-sign-in-alt mr-2 fa-fw"></i>
                <strong class="mr-auto text-success"
                  >You have successfully logged into GEAR Manager!</strong
                >
              </div>
            </div>
          </div> 

          <!-- Logged Out Notification -->
           <div
            id="loggedOut"
            class="container toast hide rounded-lg w-25"
            role="alert"
            aria-live="assertive"
            aria-atomic="true"
            data-delay="3000"
          >
            <div id="loggedOutCollapse" class="collapse">
              <div class="toast-header">
                <i class="fas fa-sign-out-alt mr-2 fa-fw"></i>
                <strong class="mr-auto text-warning"
                  >You have been logged out of GEAR Manager!</strong
                >
              </div>
            </div>
          </div>

</div>

