/* Sidebar */

ng-sidebar-container {
  /* Position needed to render sidebar properly */
  position: absolute;
  /* Behind the top navbar */
  z-index: 100;
  /* Scrollable contents if viewport is shorter than content. */
  overflow-y: auto;
}

/* Side Menu item*/

ng-sidebar .list-group a {
  color: white;
}

/* Give some more space for the text and icons */

.list-group-item {
  padding-right: 15px;
}

/* Fix GEAR Manager Login footer to bottom */

.sidebar-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* Expand Width of Toast Notifications */

.toast {
  max-width: 50% !important;
}