<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container (onBackdropClicked)="_onBackdropClicked()">
  <ng-sidebar id="sidebar"
    [(opened)]="_opened"
    [mode]="_mode"
    [keyClose]="_keyClose"
    [position]="_position"
    [dock]="_dock"
    [dockedSize]="_dockedSize"
    [autoCollapseHeight]="_autoCollapseHeight"
    [autoCollapseWidth]="_autoCollapseWidth"
    [closeOnClickOutside]="_closeOnClickOutside"
    [closeOnClickBackdrop]="_closeOnClickBackdrop"
    [showBackdrop]="_showBackdrop"
    [animate]="_animate"
    [trapFocus]="_trapFocus"
    [autoFocus]="_autoFocus"
    [sidebarClass]="'w-15'"
    [ariaLabel]="'sideNavbar'"
    (onOpenStart)="_onOpenStart()"
    (onOpened)="_onOpened()"
    (onCloseStart)="_onCloseStart()"
    (onClosed)="_onClosed()"
    (onTransitionEnd)="_onTransitionEnd()">

    <ul id="sideMenu" class="list-group">
      <!-- Strategy -->
      <li>
        <a data-toggle="collapse" data-target="#strategyDropdown" aria-controls="#strategyDropdown"
          aria-expanded="false" (click)="_opened=true"
          class="bg-success list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            IT Strategy
            <span class="submenu-icon ml-auto">
              <i class="fas fa-puzzle-piece fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="strategyDropdown" aria-labelledby="strategyDropdown" data-parent="#sideMenu"
          class="collapse sidebar-submenu">
          <a routerLink="/strategic_framework" class="bg-dark list-group-item list-group-item-action">
            IT Strategic Framework</a>
          <a routerLink="/investments" class="bg-dark list-group-item list-group-item-action">
            IT Investments</a>
          <a href="https://insite.gsa.gov/directives-library/#GSAIT" target="_blank"
            class="bg-dark list-group-item list-group-item-action">
            IT Policies
            <i class="fas fa-external-link-alt"></i></a>
        </div>
      </li>

      <!-- Enterprise  -->
      <li>
        <a data-toggle="collapse" data-target="#enterpriseDropdown" aria-controls="#enterpriseDropdown"
          aria-expanded="false" (click)="_opened=true"
          class="bg-royal-blue list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            GSA Enterprise
            <span class="submenu-icon ml-auto">
              <i class="fas fa-sitemap fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="enterpriseDropdown" aria-labelledby="enterpriseDropdown" data-parent="#sideMenu"
          class="collapse sidebar-submenu">
          <a routerLink="/capabilities_model" class="bg-dark list-group-item list-group-item-action">
            Business Capability Model</a>
          <a routerLink="/capabilities" class="bg-dark list-group-item list-group-item-action">
            Business Capability List</a>
          <a routerLink="/org_chart" class="bg-dark list-group-item list-group-item-action">
            Organization Chart</a>
          <a routerLink="/organizations" class="bg-dark list-group-item list-group-item-action">
            Organization List</a>
        </div>
      </li>

      <!-- Business Applications -->
      <li>
        <a data-toggle="collapse" data-target="#businessAppDropdown" aria-controls="#businessAppDropdown"
          aria-expanded="false" (click)="_opened=true"
          class="bg-danger list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Business Applications
            <span class="submenu-icon ml-auto">
              <i class="fas fa-laptop fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="businessAppDropdown" aria-labelledby="businessAppDropdown" data-parent="#sideMenu"
          class="collapse sidebar-submenu">
          <a routerLink="/systems" class="bg-dark list-group-item list-group-item-action">
            Parent Systems</a>
          <a routerLink="/applications" class="bg-dark list-group-item list-group-item-action">
            Business Applications</a>
          <a routerLink="/applications_TIME" class="bg-dark list-group-item list-group-item-action">
            Application TIME Report</a>
        </div>
      </li>

      <!-- Security -->
      <li>
        <a data-toggle="collapse" data-target="#securityDropdown" aria-controls="#securityDropdown"
          aria-expanded="false" (click)="_opened=true"
          class="bg-warning list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Security
            <span class="submenu-icon ml-auto">
              <i class="fas fa-shield-alt fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="securityDropdown" aria-labelledby="securityDropdown" data-parent="#sideMenu"
          class="collapse sidebar-submenu">
          <a routerLink="/FISMA" class="bg-dark list-group-item list-group-item-action">
            FISMA Systems Inventory</a>
          <a routerLink="/FISMA_POC" class="bg-dark list-group-item list-group-item-action">
            FISMA System POCs</a>
        </div>
      </li>

      <!-- Technologies -->
      <li>
        <a data-toggle="collapse" data-target="#technologiesDropdown" aria-controls="#technologiesDropdown"
          aria-expanded="false" (click)="_opened=true"
          class="bg-teal list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Technologies
            <span class="submenu-icon ml-auto">
              <i class="fas fa-microchip fa-lg"></i>
            </span>
          </div>
        </a>
        <div id="technologiesDropdown" aria-labelledby="technologiesDropdown" data-parent="#sideMenu"
          class="collapse sidebar-submenu">
          <a routerLink="/it_standards" class="bg-dark list-group-item list-group-item-action">
            IT Standards List</a>
          <a href="https://insite.gsa.gov/portal/content/500499" target="_blank"
            class="bg-dark list-group-item list-group-item-action">
            IT Standards Approval Process
            <i class="fas fa-external-link-alt"></i></a>
        </div>
      </li>

      <!-- Menu Break -->
      <li><br></li>

      <!-- Access Forms & Glossary -->
      <li>
        <a routerLink="/forms_glossary"
          class="bg-info list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            Access Forms & Glossary
            <span class="submenu-icon ml-auto">
              <i class="fab fa-wpforms fa-lg fa-fw"></i>
              <!-- For some reason, this needs a fixed width to properly align-->
            </span>
          </div>
        </a>
      </li>

    </ul>

    <!-- GEAR Manager Login -->
    <div class="sidebar-footer">
      <a routerLink="/gear_manager" [hidden]="sharedService.loggedIn"
        class="bg-info list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-start align-items-center">
          GEAR Manager Login
          <span class="submenu-icon ml-auto">
            <i class="fa fa-sign-in-alt fa-lg"></i>
          </span>
        </div>
      </a>
      <a routerLink="/" [hidden]="!sharedService.loggedIn" (click)="logoutManager()"
        class="bg-danger list-group-item list-group-item-action flex-column align-items-start text-white">
        <div class="d-flex w-100 justify-content-start align-items-center">
          GEAR Manager Logout
          <span class="submenu-icon ml-auto">
            <i class="fas fa-sign-out-alt fa-lg"></i>
          </span>
        </div>
      </a>
    </div>

  </ng-sidebar>

  <!-- Page content -->
  <div ng-sidebar-content>
    <main role="main">
      <div class="container-fluid my-3">
        <div class="col-md-12">

          <!-- Logged Out Notification -->
          <div id="loggedOut" class="container toast hide rounded-lg w-25" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div id="loggedOutCollapse" class="collapse">
              <div class="toast-header">
                <i class="fas fa-sign-out-alt mr-2"></i>
                <strong class="mr-auto text-warning">You have been logged out of GEAR Manager</strong>
              </div>
            </div>
          </div>

          <!-- Components Content -->
          <router-outlet></router-outlet>
        </div>
      </div>
    </main>
  </div>
  <!-- End Page Content -->

</ng-sidebar-container>
<!-- End Side Navbar -->