<!-- Investment Detail Modal -->
<div class="modal fade" id="investDetail" tabindex="-1" role="dialog" aria-labelledby="investTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="investTitle">
          <i class="fas fa-money-bill-wave"></i>
          {{ investment.Name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#overview">
              Overview</a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#relatedApps">
              Related Business Applications</a></li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="overview">
            <h4>Description</h4>
            <p>{{ investment.Description }}</p>
            <br>

            <table id="investDetailTable" class="table table-bordered table-striped table-hover w-50 mx-auto">
              <tr>
                <th>Attribute</th>
                <th>Value</th>
              </tr>
              
              <tr>
                <td><i class="fa fa-user"></i>Investment Manager</td>
                <td>
                  <a class="email" href="https://mail.google.com/mail/?view=cm&fs=1&to={{ investment.InvManagerEmail }}"
                    target="_blank">{{ investment.InvManager }}</a>
                  <div [hidden]="investment.InvManager">
                    None Provided
                  </div>
                </td>
              </tr>
              <tr>
                <td><i class="fa fa-folder"></i>Investment Type</td>
                <td>{{ investment.Type }}</td>
              </tr>
              <tr>
                <td><i class="fa fa-tag"></i>Investment UII</td>
                <td>{{ investment.UII }}</td>
              </tr>
              <tr>
                <td><i class="fa fa-door-open"></i>SSO</td>
                <td>{{ investment.SSO }}</td>
              </tr>
              <tr>
                <td><i class="fa fa-th"></i>Primary Service Area</td>
                <td>{{ investment.PSA }}</td>
              </tr>
              <tr>
                <td><i class="fa fa-th-large"></i>Secondary Service Area #1</td>
                <td>
                  {{ investment.SSA }}
                  <div [hidden]="investment.SSA">None</div>
                </td>
              </tr>
              <tr>
                <td><i class="far fa-comments"></i>Comments</td>
                <td>{{ investment.Comments }}</td>
              </tr>
            </table>

            <div class="float-right">Last Updated: {{ investment.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}</div>
    
          </div>

          <div class="tab-pane fade show" id="relatedApps">
            <table id="investRelAppsTable"></table>
          </div>

        </div>
      </div>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>
