.global-search-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    height: 100%;
    flex: 1;
    width: 94vw;

    & .global-search-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h2 {
            margin-bottom: 0;
        }

        & .global-search-title-right-button-container {
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }

    & .global-search-data-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
}