<div class="global-search-container">
  <div class="global-search-title-container">
    <h2>Global Search Results</h2>
    <div class="global-search-title-right-button-container">
      <app-page-help-button></app-page-help-button>
    </div>
  </div>


  <button (click)="testAICall()">Send Data</button>

<div *ngIf="aiResponse">
  <h3>Response from AI:</h3>
  <pre>{{ aiResponse | json }}</pre>
</div>


  <div class="global-search-data-container">
    <app-table visibleColumnStorageKey="global-search" defaultSortField="Name" [tableCols]="tableCols" reportStyle="neutral" exportName="Global Search" tableType="globalSearch" (rowClickEvent)="onRowClick($event)"></app-table>
  </div>
</div>