.capability-manager-container {
    display: flex;
    flex-direction: column;
    width: 94vw;
    padding: 2rem 1.5rem;
   

    & .breadcrumb-container {
        display: flex;
        padding-bottom: 2rem;
    }

    & .title-container {
        display: flex;
        padding-bottom: 1.5rem;

        & .title {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
        }
    }

    & .content-container {
        display: flex;
        flex-direction: column;

        & .nav-tabs {
            margin-bottom: 2rem;
        }
    }
}