<!-- Record Manager Modal -->
<div class="modal fade" id="recordManager" tabindex="-1" role="dialog" aria-labelledby="recordMngrTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="recordMngrTitle">
          <i class="fas fa-project-diagram"></i>
          <span *ngIf="record.Record_Item_Title"> {{ record.Record_Item_Title }} - <span class="text-primary">**EDITING**</span></span>
        </h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="recordMngrTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#recordMngrSystem">
              Systems Mapping</a>
          </li>
        </ul>

        <!-- Tab Panes -->
        <form [formGroup]="recordForm" class="container">
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="recordMngrSystem">
              <h4>Related Systems</h4>
              <div class="row">
                <div class="form-group col-5">
                  <label for="systemPool">Systems Pool</label>
                  <select class="form-control" id="systemPool" size="27" multiple>
                    <option *ngFor="let system of notSelectedSystems" [value]="system.ID">{{ system.Name }} <span [hidden]="!system.DisplayName">({{ system.DisplayName }})</span></option>
                  </select>
                </div>

                <div class="col-2 my-auto">
                  <button class="btn btn-success w-100 mb-5"
                    (click)="poolSelectedMove('#systemPool', selectedSysIDs, 'select')">Move
                    to<br>Selected <i class="fas fa-arrow-right fa-lg"></i></button>
                  <button class="btn btn-warning w-100"
                    (click)="poolSelectedMove('#systemSelect', selectedSysIDs, 'deselect')"><i
                      class="fas fa-arrow-left fa-lg"></i> Move to<br>Un-Selected</button>
                </div>

                <div class="form-group col-5">
                  <label for="systemSelect">Selected</label>
                  <select class="form-control" id="systemSelect" size="27" multiple>
                    <option *ngFor="let system of systemRelations" [value]="system.ID">{{ system.Name }} ({{ system.DisplayName }})</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End of Systems Mapping Pane -->

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-danger mr-auto">* Required</div>
        <div class="col-md-3 pl-0 ml-0 custom-control custom-checkbox text-right">
          <input type="checkbox" class="custom-control-input" id="recordCertifyCheck" [(ngModel)]="recordCertify">
          <label class="custom-control-label" for="recordCertifyCheck">
            <span class="text-danger">*</span>
            I certify all data is correct and up-to-date
          </label>
        </div>
        <button type="submit" form="recordForm" class="btn btn-info text-white" (click)="submitForm()"
          [disabled]="!(recordCertify && recordForm.valid)">Save</button>
      </div>

    </div>
  </div>
</div>