#orgChart {
  margin-top: 150px;
}

#orgDetail {
  display: none;
  width: 50%;
  height: auto;
  position: fixed;
  top: 14%;
  left: 6%;
}

#orgExtLink,
#orgDetailLink,
#orgDetailClose {
  cursor: pointer;
}