<!-- About GEAR Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex align-items-center">
          <i  aria-label="Close" data-bs-dismiss="modal" tabindex="0" class="fas fa-chevron-left mr-3"></i>
          <h3 class="modal-title mb-0" id="aboutModalTitle">
            About GEAR
          </h3>
        </div>
        <a role="button" aria-label="Close" data-bs-dismiss="modal" tabindex="0">
          <i class="fas fa-times align-self-center"></i>
        </a>
      </div>
      
      <div class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs mb-4">
          <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="tab" href="#overview">
              Overview</a></li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#sysRat">
              Systems Rationalization</a></li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#videoTutorials">
              Quick Video Tutorials</a></li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="overview">
            <!-- Three Horizontal Cards -->
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="card h-100">
                  <div class="card-header">
                    <h6 class="mb-0">What is GEAR?</h6>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="text-center w-100">
                      <div class="quote-icon mb-2"><i class="fas fa-qoute-left"></i></div>
                      <p class="mb-0">
                        GSA Enterprise Architecture (EA) Analytics and Reporting (AR), or GEAR, 
                        provides commonly-used strategic, business, and technical information. 
                        Use GEAR to gain insight into the common direction for GSA IT, and get 
                        the data you need to do your job.
                      </p>
                      <p class="mb-0">
                        GEAR combines authoritative sources of Agency data with helpful references 
                        between the datasets to make the data actionable and to provide a more holistic 
                        understanding of GSA and its operations.
                      </p>
                      <div class="quote-icon mt-2">"</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="card h-100">
                  <div class="card-header bg-royal-blue text-white">
                    <h6 class="mb-0">Who can use GEAR?</h6>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="text-center w-100">
                      <div class="quote-icon mb-2">"</div>
                      <p class="mb-0">
                        Anyone logged on to the GSA network can access and download data from GEAR. 
                        Please address any data discrepancies with data owners, so they can update 
                        their respective data sources.
                      </p>
                      <p class="mb-0">
                        Use the "Contact/Feedback" dropdown menu in the top right corner of the page 
                        to ask questions about IT Standards or GEAR itself.
                      </p>
                      <div class="quote-icon mt-2">"</div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-md-4">
                <div class="card h-100">
                  <div class="card-header bg-royal-blue text-white">
                    <h6 class="mb-0">How do I use GEAR?</h6>
                  </div>
                  <div class="card-body d-flex align-items-center">
                    <div class="text-center w-100">
                      <div class="quote-icon mb-2">"</div>
                      <p class="mb-0">
                        Click on the tabs on the left (or use the expansion button on the top left to 
                        expand the tabs), to explore the various investments, applications, FISMA systems, 
                        and technology standards used in GSA.
                      </p>
                      <p class="mb-0">
                        Each section has an <i class="far fa-question-circle"></i> icon for more information on
                        how to use that table. To search, use either the "Global Search" box at the top of the screen, or the 
                        topic-specific search box near the top of each topic page.
                      </p>
                      <div class="quote-icon mt-2">"</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Detailed Content Section -->
            <div class="content-section">
              <div class="mb-4">
                <h6 class="fw-bold">Overview</h6>
                <p>
                  The Office of Digital Management (IR) team provides strategic and policy support for GSA
                  customers across the entire organization. Enterprise Architecture (EA) is responsible for providing the
                  necessary support for designing organizational changes based on ever-evolving programmatic requirements. EA is
                  involved in business transformation planning through the modeling of existing processes and environments and
                  the development of roadmaps to reach the desired target states. In addition, EA is responsible for assessing
                  the impact of change across the organization such as business, application, and technological layers.
                </p>
              </div>
              
              <div class="mb-4">
                <h6 class="fw-bold">Sources of Data</h6>
                <p>
                  GEAR aims to be a hub of data by relying on authoritative sources of information as much as possible. We strive 
                  to limit the redundancy of data calls by determining if data can be imported from existing systems. 
                  For that reason, GEAR has formed partnerships with several organizations across GSA to import data, 
                  analyze and make the proper references between data sets, and present it in an intuitive and actionable manner. 
                  GEAR's data sources are provided in <a routerLink="/gear_model"><u>the GEAR Data Flow Model.</u></a>
                </p>
              </div>
              
              <div class="mb-4">
                <h6 class="fw-bold">GEAR API</h6>
                <p>
                  The GEAR development team has built openly available REST API services to provide data. 
                  The portal is available to all users within the GSA firewall.
                </p>
                <a href="#" class="text-primary">GEAR Code Repository and Issue Management on GitHub</a>
              </div>
            </div>
          </div>
          
          <div class="tab-pane fade" id="sysRat">
            <div class="card-header bg-info">
              <h4 class="my-0 font-weight-normal text-white">Systems Rationalization</h4>
            </div>
            <div class="card-body d-flex">
              <p>GSA's Enterprise Architecture program uses a business-focused, 
                data-bs-driven methodology to analyze the IT application portfolio and help guide IT investment decisions. 
                This methodology is used to calculate whether a system should be tolerated, invested, migrated, or eliminated 
                (TIME). To derive the current TIME value of a business system, we ask system owners to work with their teams 
                to complete a <b>TIME Assessment Questionnaire</b>. For access to a TIME Assessment Questionnaire,
                please <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ea_planning&#64;gsa.gov"
                target="_blank"><u>contact the EA team</u></a>, and we will provide you with a custom link to a questionnaire for your system. 
              <br><br>
                If you provide a response to our TIME Assessment Questionnaire, it will be visible on 
                <a routerLink="/systems_TIME" class="card-link">the TIME report</a>.</p>
            </div>
          </div>

          <div id="videoTutorials" class="tab-pane fade">
            <div class="card-header bg-info">
              <h4 class="my-0 font-weight-normal text-white">Quick Video Tutorials</h4>
            </div>
            <div class="card-body d-flex">
              <div class="row justify-content-center">
                <p>Coming Soon...</p>
                <!-- Placeholder for video tutorials -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>