<!-- Organizations Detail Modal -->
<div
  class="modal fade"
  id="organizationDetail"
  tabindex="-1"
  role="dialog"
  aria-labelledby="orgTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-royal-blue">
        <a
          class="mr-3 text-white"
          role="button"
          tabindex="0"
          aria-label="Previous"
          (click)="tableService.previousModalRoute('organizationDetail')"
          [hidden]="!modalService.checkModalRoutes()"
        >
        <fa-icon [icon]="['fas', 'arrow-circle-left']" [ngClass]="{'fa-fw': true, 'fa-lg': true}"></fa-icon>
        </a>
        <h5 class="modal-title text-white" id="orgTitle">
          <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
          {{ org.Name }} ({{ org.OrgSymbol }})
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <fa-icon [icon]="['fas', 'times']" [ngClass]="{'fa-lg': true}" class="text-white align-self-center"></fa-icon>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="orgTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#orgOverview">
              Overview</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#orgCaps">
              Related Capabilities</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#orgSys">
              Organizational Systems</a
            >
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="orgOverview">
            <div class="row">
              <div class="col-3">
                <h4>Display Name</h4>
                <p>{{ org.DisplayName }}</p>
              </div>

              <div class="col-3" [hidden]="!org.SSOName">
                <h4>SSO Name</h4>
                <p>{{ org.SSOName }}</p>
              </div>

              <div class="col-3" [hidden]="!org.TwoLetterOrgName">
                <h4>Two Letter Org</h4>
                <p>{{ org.TwoLetterOrgName }} ({{ org.TwoLetterOrgSymbol }})</p>
              </div>

              <div class="col-3">
                <h4>Parent Organization</h4>
                {{ org.Parent }}
                <p [hidden]="org.Parent">None</p>
              </div>
            </div>
          </div>
          <!-- End of Overview Pane -->

          <div class="tab-pane fade" id="orgCaps">
            <table id="orgCapsTable"></table>
          </div>
          <!-- End of Related Capabilities Pane -->

          <div class="tab-pane fade" id="orgSys">
            <table id="orgSysTable"></table>
          </div>
          <!-- End of Supporting Systems Pane -->
        </div>
      </div>

      <div class="modal-footer"></div>
    </div>
  </div>
</div>
