<div class="card">
  <div class="card-header text-white bg-success text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <fa-icon [icon]="['fas', 'money-bill-wave' ]" class="mr-2"></fa-icon>
        <span [hidden]="!filteredTable">{{ filterTitle }} </span>
        <span [hidden]="filteredTable">Current IT </span>
        Investments
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><fa-icon [icon]="['fas', 'question-circle']" [ngClass]="{'fa-2x': true}"></fa-icon>
    </a>
  </div>

  <div class="card-body card-text">
    <!-- Investment Definition Popover -->
    <a tabindex="0" class="btn btn-sm btn-info text-white position-absolute float-right w-11" role="button"
      data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true" title=""
      data-content="Information technology investment means an expenditure of information technology
      resources to address mission delivery and management support. This may include a
      project or projects for the development, modernization, enhancement, or maintenance of
      a single information technology asset or group of information technology assets with
      related functionality, and the subsequent operation of those assets in a production
      environment. These investments shall have a defined life cycle with start and end dates.
      (<a href='https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/OMB/circulars/a130/a130revised.pdf' 
      target='_blank' rel='noopener'>OMB A-130, pg 31</a>)">
      Investment Definition
    </a>

    <!-- Visualizations -->
    <span id="investVizText" tabindex="0"
      [attr.aria-label]="getAriaLabel(vizData)" style="visibility: hidden;">
      Pie Chart Details
    </span>


    <div
      id="investViz" class="row justify-content-center collapse show" style="height: 300px;"
      [hidden]="filterTitle == 'Inactive'">
      <ngx-charts-advanced-pie-chart appSkipFocusPiechart [scheme]="colorScheme" [results]="vizData" [label]="vizLabel"
        role="navigation"
        [ariaLabel]="getAriaLabel(vizData)"
        tabindex="0"
        (select)="onSelect($event)"       
      ></ngx-charts-advanced-pie-chart>
    </div>

    <!-- Main Table -->
    <app-table [tableCols]="tableCols" [tableData]="tableData" exportName="Investments" reportStyle="it-strategy" [filterButtons]="filterButtons" tableType="investments" (filterEvent)="onFilterEvent($event)"></app-table>
  </div>
</div>