.it-investments-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

    & .it-investments-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
         margin-bottom: 1rem;

        h2{
            margin-bottom: 0;
        }
    }

    & .it-investments-definition-container {
        padding: 1rem;
         background-color: #fff;
         border-radius: 0.3rem;

        & .it-investments-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-bottom: .5rem;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .investments-graph-container {

        & .investments-graph {
            width: 95%;
            height: 300px;
        }
    }

    & .it-investments-data-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
}