<div class="it-investments-container">
  <div class="it-investments-title-container">
    <h2>IT Investments</h2>
    <app-page-help-button></app-page-help-button>
  </div>
  <div class="it-investments-definition-container">
    <p class="it-investments-definition-text" [ngClass]="{'expanded' : defExpanded}">The IT Standards inventory is the official GSA repository of software products/versions. 
      This inventory can be used to determine which software has been reviewed and approved, ensuring that users are only requesting 
      and using software that has been approved by IT Security. The Chief Technology Office (CTO) is responsible for managing 
      the process and ensuring IT Standards are reviewed for use within GSA. 
      For more information, please see the 
      <a href='https://sites.google.com/a/gsa.gov/it_standards/it-standards' target='_blank' rel='noopener'>IT Standards site</a>
    </p>
      <app-button [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
  </div>
  <div class="investments-graph-container">
    <span id="investVizText" tabindex="0"
      [attr.aria-label]="getAriaLabel(vizData)" style="display: none;">
      Pie Chart Details
    </span>
    <div class="investments-graph">
      <ngx-charts-advanced-pie-chart 
        appSkipFocusPiechart
        [scheme]="colorScheme"
        [results]="vizData"
        [label]="vizLabel"
        role="navigation"
        [ariaLabel]="getAriaLabel(vizData)"
        tabindex="0"></ngx-charts-advanced-pie-chart>
    </div>
  </div>
  <div class="it-investments-data-container">
    <app-table visibleColumnStorageKey="investment-report" defaultSortField="Name" [attrDefs]="attrDefinitions" [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)">
      <div class="filter-tabs-container" filterTabs>
        <div class="filter-tab" [ngClass]="{'selected': isTabSelected('All')}" (click)="onSelectTab('All')" (keyup)="onKeyUp($event, 'All')" tabindex="0">
          <span class="filter-tab-text">All</span>
          <span class="filter-tab-number first">{{filterTotals?.AllTotal}}</span>
        </div>
        <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Current Year')}" (click)="onSelectTab('Current Year')" (keyup)="onKeyUp($event, 'Current Year')" tabindex="0">
          <span class="filter-tab-text">Current Year</span>
          <span class="filter-tab-number second">{{filterTotals?.AllTotal}}</span>
        </div>
        <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Previous Year')}" (click)="onSelectTab('Previous Year')" (keyup)="onKeyUp($event, 'Previous Year')" tabindex="0">
          <span class="filter-tab-text">Previous Year</span>
          <span class="filter-tab-number third">{{filterTotals?.AllTotal}}</span>
        </div>
        <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Budget Year')}" (click)="onSelectTab('Budget Year')" (keyup)="onKeyUp($event, 'Budget Year')" tabindex="0">
          <span class="filter-tab-text">Budget Year</span>
          <span class="filter-tab-number fourth">{{filterTotals?.AllTotal}}</span>
        </div>
        <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Eliminated')}" (click)="onSelectTab('Eliminated')" (keyup)="onKeyUp($event, 'Eliminated')" tabindex="0">
          <span class="filter-tab-text">Eliminated</span>
          <span class="filter-tab-number first">{{filterTotals?.EliminatedTotal}}</span>
        </div>
      </div>
    </app-table>
  </div>
</div>