<div class="card">
  <div class="card-header text-white bg-success text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-money-bill-wave mr-2"></i>
        <span [hidden]="!filteredTable">Inactive </span>
        <span [hidden]="filteredTable">Active </span>
        GSA IT Investments
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text justify-content-center">
    <div class="row w-100">
      <!-- Add Button -->
      <button role="button" name="addInvestBttn" class="btn btn-success position-absolute ml-3" (click)="createInvestment()"
        [hidden]="!sharedService.loggedIn">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Filters -->
      <div class="mx-auto">
        <span class="my-auto mr-3">Filter Buttons:</span>
        <button role="button" name="investInactiveBttn" class="btn btn-primary" (click)="inactiveFilter()"
          [hidden]="filteredTable">Inactive</button>

        <button role="button" name="investBttn" class="btn btn-primary ml-3" (click)="backToMainInvest()"
          [hidden]="!filteredTable">Back to All Active Investments</button>
      </div>
    </div>

    <!-- Main Table -->
    <table id="investTable"></table>
  </div>
</div>