<div class="card">
  <div class="row card-header text-white bg-royal-blue text-center">
    <h3 class="card-title col-12 position-absolute mb-0 align-self-center">
      <span class="my-auto">
        <i class="fas fa-project-diagram"></i>
        GSA Capabilities Model</span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="col-1 btn btn-sm text-black-50 btn-info ml-auto d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Hover:</b> Hover over a circle next to an capabilities to see its description. 
        In the pop-up window, click the <i class='far fa-file-alt'></i> icon to see additional information about the capabilities 
        or click the <i class='fa fa-times'></i> icon to close the window.
        <br><br>
        <b>Click:</b> Left click on the circle next to an capabilities to see the next level of the capabilities. 
        (Not all capabilities have another level).
        <br><br>
        <b>Search:</b> The search box below can search for any of the capabilities display names and expand the chart to the nodes that match. 
        Enter your desired term into the search bar and press <i>Enter</i>. You will get an alert if no matching term is found.
        Click the <i class='far fa-trash-alt fa-lg'></i> icon to clear the search box and reset the chart.">
      <span class="text-white mr-2">More Help</span><i class="far fa-question-circle fa-2x text-white"></i>
    </a>
  </div>

  <div class="row card-body bg-light card-text">

    <!-- Detail Card -->
    <div id="capDetail" class="card col-7">
      <div id="capDetailheader" class="row card-header bg-royal-blue text-white my-auto">
        <h4 id="capName" class="text-white"></h4>
        <div class="ml-auto">
          <span id="capDetailLink" class="far fa-file-alt fa-lg" data-toggle="tooltip"
            title="Click to view capability details"></span>
          <span id="capDetailClose" class="fa fa-times fa-lg ml-3" data-toggle="tooltip" title="Close this box"></span>
        </div>
      </div>
      <div id="capDetailbody" class="row card-body"></div>
    </div>

    <!-- Graph Searchbar -->
    <div class="input-group col-4 ml-auto">
      <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Search Capability Names"
        id="capSearchField" (keydown)="search($event)" />
      <div class="input-group-btn">
        <button class="btn btn-primary" (click)="clearSearch(); searchKey = '';">
          <i class="far fa-trash-alt fa-lg"></i>
        </button>
      </div>
    </div>

    <!-- Business Capability Graph -->
    <div #busCapGraph id="busCapGraph"></div>

  </div>
</div>