.fisma-poc-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;

    & .fisma-poc-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .fisma-poc-data-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
}