<!-- Applications Detail Modal -->
<div class="modal fade" id="appDetail" tabindex="-1" role="dialog" aria-labelledby="appTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="appTitle">
          <i class="fas fa-desktop"></i>
          {{ application.Name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#appOverview">
              Overview</a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#businessRelated">
              Business</a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#technologyRelated">
              Technology</a></li>
          <li class="nav-item" [hidden]="!interfaces.length">
            <a class="nav-link" data-toggle="tab" href="#appInterfaces">
              Interfaces</a></li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="appOverview">

            <div class="row mb-4">
              <div class="col">
                <h4>Display Name</h4>
                <p [hidden]="!application.DisplayName">{{ application.DisplayName }}</p>
                <p [hidden]="application.DisplayName">None</p>
              </div>

              <div class="col">
                <h4>Status</h4>
                <p>{{ application.Status }}</p>
              </div>

              <div class="col">
                <h4>Application or Website</h4>
                <p>{{ application.Application_or_Website }}</p>
              </div>
            </div>

            <h4>Description</h4>
            <p>{{ application.Description }}</p>
            <br><br>

            <h4>Application Notes</h4>
            <p>{{ application.Application_Notes }}</p>
            <p [hidden]="application.Application_Notes">None</p>
          </div>
          <!-- End of Overview Tab Pane -->

          <div class="tab-pane fade" id="businessRelated">
            <h4 class="text-center">Business Overview</h4>
            <br>

            <table id="appBusinessTable"
              class="table table-borderless table-striped table-dark rounded-lg w-75 mx-auto">
              <thead class="bg-danger">
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><i class="fa fa-fingerprint"></i>Application ID</td>
                  <td>{{ application.OMBUID }}</td>
                </tr>
                <tr>
                  <td class="align-middle">
                    <i class="fa fa-user-friends"></i>Business POC(s)
                  </td>
                  <td>
                    <ul [innerHTML]="sharedService.renderPOCInfo(application.BusinessPOC)"></ul>
                  </td>
                </tr>
                <tr>
                  <td><i class="fa fa-bookmark"></i>CUI Indicator</td>
                  <td>{{ application.CUI }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-calendar-alt"></i>Production Year</td>
                  <td>{{ application.ProdYear }}</td>
                </tr>
                <tr [hidden]="!application.RetiredYear">
                  <td><i class="fa fa-calendar-alt"></i>Retired Year</td>
                  <td>{{ application.RetiredYear }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-sitemap"></i>SSO</td>
                  <td>
                    {{ application.SSO }}
                    <div [hidden]="application.SSO">None Provided</div>
                  </td>
                </tr>
                <tr>
                  <td><i class="fa fa-door-open"></i>Owning Org</td>
                  <td>
                    {{ application.Owner }}
                    <div [hidden]="application.Owner">None Provided</div>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>

            <!-- App Roadmap/TIME Report -->
            <div>
              <div class="text-center">
                <h4>Business Application Roadmap</h4>
                <!-- TIME Definitions Link -->
                <a [routerLink]="['/about', '#appRat']" target="_blank">TIME Value Definitions</a>
              </div>

              <table id="appTimeTable"></table>
            </div>
            <br>

            <!-- Related Business Capabilities Table -->
            <div>
              <h4 class="text-center">Related Business Capabilities</h4>
              <table id="appCapTable"></table>
            </div>
          </div>
          <!-- End of Business Tab Pane -->

          <div class="tab-pane fade" id="technologyRelated">
            <h4 class="text-center">Technical Overview</h4>
            <br>

            <table id="techAttrTable" class="table table-borderless table-striped table-dark rounded-lg w-75 mx-auto">
              <thead class="bg-danger">
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><i class="fa fa-cloud"></i>Cloud</td>
                  <td>{{ application.Cloud }}</td>
                </tr>
                <!-- <tr>
                  <td><i class="fas fa-desktop"></i>Desktop Indicator</td>
                  <td>{{ application.Desktop_Indicator }}</td>
                </tr> -->
                <tr>
                  <td><i class="fa fa-shield-alt"></i>FISMA System</td>
                  <td>{{ application.FISMASystem }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-building"></i>Hosting Provider</td>
                  <td>{{ application.HostingProvider }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-mobile-alt"></i>Mobile App?</td>
                  <td>{{ application.Mobile_App_Indicator }}</td>
                </tr>
                <tr [hidden]="application.ParentSystem">
                  <td><i class="fa fa-server"></i>Parent System</td>
                  <td>
                    {{ application.ParentSystem }}
                  </td>
                </tr>
                <tr>
                  <td class="align-middle">
                    <i class="fa fa-user-friends"></i>Technical POC(s)
                  </td>
                  <td>
                    <ul [innerHTML]="sharedService.renderPOCInfo(application.TechnicalPOC)"></ul>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>

            <!-- Related Technologies Table -->
            <div>
              <h4 class="text-center">Related Technology</h4>
              <table id="appTechTable"></table>
            </div>
          </div>
          <!-- End of Technology Tab Pane -->

          <div class="tab-pane fade" id="appInterfaces">
            <!-- Interfaces Chord Graph -->
            <div id="interfaceChart"></div>
          </div>
          <!-- End of Interfaces Tab Pane -->

        </div>
        <!-- End of Tab Panes -->
      </div>
      <!-- End of Modal Body -->

      <div class="modal-footer">
        <div class="float-right">Last Updated: {{ application.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}</div>
        <button type="button" [hidden]="!sharedService.loggedIn" class="btn btn-info text-white"
          (click)="appEdit()">Edit This Item</button>
      </div>
    </div>
  </div>
</div>