<section class="jumbotron text-center rounded-lg">
  <div class="container">
    <h1 class="jumbotron-heading rounded-lg">Welcome to GEAR!</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">What is GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center">
            GSA EA Analytics and Reporting (GEAR) is a tool to provide commonly used strategic, business, and technical
            information to users throughout GSA in order to provide insight into the common direction for GSA IT and to
            provide working groups with data that they need to do their jobs.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">Who Can Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center"> Anyone logged on to the GSA network can access and download data from GEAR.
            Business and technical POCs that need to update data, send a <a routerLink="/manager_request"
              class="card-link">request for GEAR Manager access</a>, if not already done so.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">How Do I Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center">By clicking on the tabs on the left (or the expansion button on the top left to
            expand the tabs), you can explore the various investments, applications, FISMA systems, and technology
            standards used in GSA. Each section will have a <i class="far fa-question-circle"></i> icon for more
            information on how to use that table.
            <br><br>
            On the top of the page is a global search field for any item in GEAR. Enter your search term into the field
            and press "Enter" on your keyboard icon to execute. With any <b>search field</b> on GEAR, you can press
            "Enter" on your keyboard to execute the search.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- End of Cards -->

  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/US-GeneralServicesAdministration-Logo.svg"
      alt="GSA Logo" class="mx-auto">
  </div>
</div>