<section class="jumbotron text-center rounded-lg">
  <div class="container">
    <h1 class="jumbotron-heading rounded-lg">Welcome to GEAR!</h1>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal text-white">What is GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p>
            GSA Enterprise Architecture (EA) Analytics and Reporting (AR), or GEAR, 
            provides commonly-used strategic, business, and technical information. 
            Use GEAR to gain insight into the common direction for GSA IT, and get 
            the data you need to do your job.

            <br /><br />
            GEAR combines authoritative sources of Agency data with helpful references 
            between the datasets to make the data actionable and to provide a more holistic 
            understanding of GSA and its operations.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal text-white">Who Can Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p>
            Anyone logged on to the GSA network can access and download data from GEAR. 
            Please address any data discrepancies with data owners, so they can update 
            their respective data sources.
            <br /><br />
            Use the "Contact/Feedback" dropdown menu in the top right corner of the page 
            to ask questions about IT Standards or GEAR itself.
          </p>
        </div>
      </div>
      <div class="card mb-4 shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal text-white">How Do I Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p>
            Click on the tabs on the left (or use the expansion button on the top left to 
            expand the tabs), to explore the various investments, applications, FISMA systems, 
            and technology standards used in GSA. Each section has an
            <i class="far fa-question-circle"></i> icon for more information on
            how to use that table. <br /><br />
            To search, use either the “Global Search” box at the top of the screen, or the 
            topic-specific search box near the top of each topic page. 
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Cards -->

  <div class="row">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/8/89/US-GeneralServicesAdministration-Logo.svg"
      alt="GSA Logo"
      class="mx-auto"
    />
  </div>
</div>
