<!-- Website Detail Modal -->
<div
  class="modal fade"
  id="websiteDetail"
  tabindex="-1"
  role="dialog"
  aria-labelledby="websiteTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <a
          class="mr-3 text-white"
          role="button"
          aria-label="Previous"
          tabindex="0"
          (click)="tableService.previousModalRoute('websiteDetail')"
          [hidden]="!modalService.checkModalRoutes()"
        >
        <fa-icon [icon]="['fas', 'arrow-circle-left']" [ngClass]="{'fa-fw': true, 'fa-lg': true}"></fa-icon>
        </a>
        <h5 class="modal-title text-white" id="websiteTitle">
          <fa-icon [icon]="['fas', 'folder-open']"></fa-icon>
          {{ website.domain }}
          <!-- This refers to api/queries/GET name of object in database -->
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <fa-icon [icon]="['fas', 'times']" [ngClass]="{'fa-lg': true}" class="text-white align-self-center"></fa-icon>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="websiteTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#websitesOverview"
            >
              Overview</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#websiteRelatedSystems">
              Related Systems</a
            >
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="websitesOverview">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <h4>Status</h4>
                  <p>{{ website.production_status }}</p>
                </div>
              <!--  <div class="col">
                  <h4>Parent Domain</h4>
                  <div>
                    <p>{{ website.parent_domain }}</p>
                  </div>
                  <div [hidden]="website.parent_domain">None</div>
                </div>
              -->

                <div class="col">
                  <h4>Type of Site</h4>
                  <div>
                    <p>{{ website.type_of_site }}</p>
                  </div>
                  <div [hidden]="website.type_of_site">None</div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-12">
                  <h4>Recent Screenshots</h4>
                  <div
                    *ngIf="
                      website.production_status != 'production' ||
                      website.type_of_site == 'infrastructure'
                    "
                    class="alert alert-warning"
                    role="alert"
                  >
                    Websites that are not in a production status or are
                    considered infrastructure do not contain screenshots
                  </div>
                  <span *ngIf="websiteScans[0].scan_date != ''"
                    >As of:
                    {{ websiteScans[0].scan_date | date : "mediumDate" }}</span
                  >
                </div>
                <div class="col-12 col-md-8">
                  <img
                    src="{{
                      '../../../../../assets/website-screenshots/' +
                        websiteScans[0].desktop_img_file_name
                    }}"
                    class="img-fluid shadow"
                    alt="{{ 'Desktop screenshot of ' + website.domain }}"
                  />
                </div>
                <div class="col-12 col-md-2">
                  <img
                    src="{{
                      '../../../../../assets/website-screenshots/' +
                        websiteScans[0].mobile_img_file_name
                    }}"
                    class="img-fluid shadow"
                    alt="{{ 'Mobile screenshot of ' + website.domain }}"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12">
                  <h4>Service Categories</h4>
                </div>
                <div class="col-auto" id="websiteServiceCategories">
                  <span
                    *ngFor="let sc of websiteServiceCategories"
                    (click)="
                      websiteServiceCategoryClick(
                        sc.website_service_category_id
                      )
                    "
                    (keydown.enter)="
                      websiteServiceCategoryClick(
                        sc.website_service_category_id
                      )
                    "
                    class="badge badge-info p-3 mr-2 pointer"
                    tabindex="0"
                    role="link"
                    >{{ sc.name }}</span
                  >
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 mb-3">
                  <h4>EDX Composite Indicator</h4>
                </div>
                <div class="col-auto">
                  <div>
                    <svg
                      class="website-chart"
                      style="display: block; margin: 0 auto"
                      id="graph"
                      height="100"
                      width="100"
                      viewBox="0 0 100 100"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <title>
                        Coxcomb chart showing website strengths and weaknesses
                        on a 0 to 1 scale with 1 being the highest value. Scores
                        are as follows: Customer Centricity:
                        {{ website.customer_centricity }}, Required Links:
                        {{ website.required_links }}, Mobile Performance:
                        {{ website.mobile_performance }}, Accessibility:
                        {{ website.accessibility }}, Google Analytics:
                        {{ website.google_analytics }}, USWDS:
                        {{ website.uswds }}
                      </title>
                      <g class="background">
                        <circle cx="50" cy="50" r="50" pathLength="100" />
                      </g>

                      <g id="website-chart" class="graph">
                        <circle
                          cx="50"
                          cy="50"
                          class="one"
                          ngClass="{{
                            website.customer_centricity === '0.00'
                              ? 'zeroValue'
                              : ''
                          }}"
                          transform="rotate(-90 50 50)"
                          [style.--value]="website.customer_centricity"
                          [style.--max]="1"
                        />
                        <circle
                          cx="50"
                          cy="50"
                          class="two"
                          ngClass="{{
                            website.required_links === '0.00' ? 'zeroValue' : ''
                          }}"
                          transform="rotate(-30 50 50)"
                          [style.--value]="website.required_links"
                          [style.--max]="1"
                        />
                        <circle
                          cx="50"
                          cy="50"
                          class="three"
                          ngClass="{{
                            website.mobile_performance === '0.00'
                              ? 'zeroValue'
                              : ''
                          }}"
                          transform="rotate(30 50 50)"
                          [style.--value]="website.mobile_performance"
                          [style.--max]="1"
                        />
                        <circle
                          cx="50"
                          cy="50"
                          class="four"
                          ngClass="{{
                            website.accessibility === '0.00' ? 'zeroValue' : ''
                          }}"
                          transform="rotate(90 50 50)"
                          [style.--value]="website.accessibility"
                          [style.--max]="1"
                        />
                        <circle
                          cx="50"
                          cy="50"
                          class="five"
                          ngClass="{{
                            website.google_analytics === '0.00'
                              ? 'zeroValue'
                              : ''
                          }}"
                          transform="rotate(150 50 50)"
                          [style.--value]="website.google_analytics"
                          [style.--max]="1"
                        />
                        <circle
                          cx="50"
                          cy="50"
                          class="six"
                          ngClass="{{
                            website.uswds === '0.00' ? 'zeroValue' : ''
                          }}"
                          transform="rotate(210 50 50)"
                          [style.--value]="website.uswds"
                          [style.--max]="1"
                        />
                      </g>
                    </svg>
                  </div>
                </div>
                <div class="col-8">
                  <p>
                    The following charts show the relative strengths and
                    weaknesses of each website across 6 areas.
                  </p>
                  <p>
                    A gray semi-circle appears when data is unavailable for the
                    website in that particular category.
                  </p>
                  <div class="row">
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend one"></span>Customer Centricity
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend two"></span>Required Links
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend three"></span>Mobile Performance
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend four"></span>Accessibility (AMP)
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend five"></span>Google Analytics
                    </div>
                    <div class="col-12 col-md-4 mb-2">
                      <span class="legend six"></span>USWDS
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <h4>Additional Information</h4>
                </div>
                <table
                  id="websiteDetailTable"
                  class="table table-borderless table-striped table-dark rounded-lg w-75 mx-auto"
                >
                  <thead class="bg-danger">
                    <tr>
                      <th>
                        <h5>Attribute</h5>
                      </th>
                      <th>
                        <h5>Value</h5>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'bookmark']"></fa-icon>Office</td>
                      <td>{{ website.office }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'user-lock']"></fa-icon>Sub Office</td>
                      <td>{{ website.sub_office }}</td>
                    </tr>
                    <tr>
                      <td>
                        <fa-icon [icon]="['fas', 'calendar-day']"></fa-icon>Website Manager
                      </td>
                      <td>{{ website.site_owner_email }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'certificate']"></fa-icon>Contact Email</td>
                      <td>{{ website.contact_email }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Redirect URL</td>
                      <td>{{ website.redirects_to }}</td>
                    </tr>
                    <tr>
                      <td>
                        <fa-icon [icon]="['fas', 'list-alt']"></fa-icon>Required by Law/Policy?
                      </td>
                      <td>{{ website.required_by_law_or_policy }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'hashtag']"></fa-icon>DAP Enabled</td>
                      <td>{{ website.has_dap }}</td>
                    </tr>
                    <tr>
                      <td>
                        <fa-icon [icon]="['fas', 'address-card']"></fa-icon>Current USWDS Score
                      </td>
                      <td>{{ website.current_uswds_score }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'users']"></fa-icon>Mobile Friendly?</td>
                      <td>{{ website.mobile_friendly }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'fingerprint']"></fa-icon>Has Search?</td>
                      <td>{{ website.has_search }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>HTTPS Enabled</td>
                      <td>{{ website.https }}</td>
                    </tr>
                    <tr>
                      <td>
                        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Hosting Platform
                      </td>
                      <td>{{ website.hosting_platform }}</td>
                    </tr>
                    <tr>
                      <td>
                        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Content Management Platform
                      </td>
                      <td>{{ website.cms_platform }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Repository URL</td>
                      <td>{{ website.repository_url }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'info-circle']"></fa-icon>Target Decommission Date</td>
                      <td>{{ website.target_decommission_date | date:'shortDate' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End of Overview Tab Pane -->
            </div>
          </div>
          <div class="tab-pane fade" id="websiteRelatedSystems">
            <table id="websitesRelSysTable"></table>
          </div>
          <!-- End of Tab Panes -->
        </div>
        <!-- End of Modal Body -->
      </div>
      <div class="modal-footer">
        <button
          type="button"
          [hidden]="!sharedService.loggedIn"
          class="btn btn-info text-white"
          (click)="websiteEdit()"
        >
          Edit This Item
        </button>
      </div>
      <!-- end of modal content -->
    </div>
  </div>
</div>
