<div class="trm-container">
  <div class="trm-title-container">
    <h2>Technology Category Model</h2>
    <div class="trm-title-right-button-container">
      <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
        <b>Hover:</b> Hover over a circle next to a technology category to see its description.
        In the pop-up window, click the <i class='far fa-file-alt'></i> icon to see additional information about the technology category
        or click the <i class='fa fa-times'></i> icon to close the window.
        <br><br>
        <b>Click:</b> Left click on the circle next to a technology category to see the next level of the technology category.
        (Not all technology categories have another level).
        <br><br>
        <b>Search:</b> The search box below can search for any of the technology category display names and expand the chart to the nodes that match.
        Enter your desired term into the search bar and press <i>Enter</i>. You will get an alert if no matching term is found.
        Click the <i class='far fa-trash-alt fa-lg'></i> icon to clear the search box and reset the chart. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
      </app-button-overlay-panel>
    </div>
  </div>
  <!-- <div class="trm-definition-container">
    <p class="trm-definition-text" [ngClass]="{'expanded' : defExpanded}">A classification taxonomy used to describe the business
      functions and services at GSA. By describing GSA using standard business functions 
      rather than an organizational view, this taxonomy promotes collaboration, shared services, 
      and solution reuse in agency IT portfolios and inter-agency Lines of Business. While this taxonomy 
      provides a standardized way of classifying government functions, its true value is realized when 
      it is effectively used in business analysis, design, and decision support that help to improve the performance of GSA. 
      (<a href='https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/egov_docs/fea_v2.pdf' target='_blank' rel='noopener'>FEAF pg 30</a>)
    </p>
      <app-button [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
  </div> -->
  <div class="trm-data-container">
    <!-- Detail Card -->
    <div id="trmDetail" class="card col-6 h-30">
      <div id="trmDetailheader" class="row card-header bg-royal-blue text-white my-auto">
        <h4 id="trmName" class="text-white custom-hover-cursor"></h4>
        <div class="ml-auto">
          <span id="trmDetailLink" class="far fa-file-alt fa-lg" data-bs-toggle="tooltip"
            title="Click to view technology category details"></span>
          <span id="trmDetailClose" class="fa fa-times fa-lg ml-3" data-bs-toggle="tooltip" title="Close this box"></span>
        </div>
      </div>
      <div class="row card-body overflow-auto">
        <h5>Technology Category Level: <span id="trmLevel"></span></h5>
        <br>
        <span id="trmDetailbody"></span>
      </div>
    </div>

    <!-- Graph Searchbar -->
    <div class="input-group col-4 ml-auto">
      <input [(ngModel)]="searchKey" type="text" class="form-control" placeholder="Search Technology Category Names"
        id="trmSearchField" (keydown)="search($event)" />
      <div class="input-group-btn">
        <button aria-label="ClearSearch" class="btn btn-primary" (click)="clearSearch(); searchKey = '';">
          <i class="far fa-trash-alt fa-lg"></i>
        </button>
      </div>
    </div>

    <!-- TRM Graph -->
    <div #trmGraph id="trmGraph"></div>
    </div>
  </div>