<div class="records-management-container">
  <div class="records-management-title-container">
    <h2>Record Retention Schedules</h2>
    <div class="records-management-title-right-button-container">
      @if (!isLoggedIn()) {
        <app-button buttonText="GEAR Manager Login" (buttonClick)="sharedService.setRedirectPath()"></app-button>
      }
      @if (isLoggedIn()) {
        <app-button buttonText="Logout" buttonStyle="error" (buttonClick)="sharedService.logoutManager()"></app-button>
      }
      <app-page-help-button></app-page-help-button>
    </div>
  </div>
  <div class="records-management-data-container">
    <app-table visibleColumnStorageKey="records-management-report" defaultSortField="GSA_Number" [tableCols]="tableCols" [attrDefs]="attrDefinitions" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
  </div>
</div>