<div class="button-container">
  <button class="button" (click)="onDropdownClick()" #button>
    {{dropdownName}}
    <i class="fas fa-chevron-down"></i>
  </button>
  <div class="button-dropdown-container">
    @if (dropdownOpen) {
      <ul class="button-dropdown-menu" #menu>
        @for (chip of chips; track chip) {
          <li (click)="onChipSelect(chip)" [ngClass]="{'selected' : isChipSelected(chip)}">{{chip}}</li>
        }
      </ul>
    }
  </div>
</div>
@if (hasDisplayedChips()) {
  <div class="chip-container">
    @for (chip of displayedChips; track chip; let i = $index) {
      <div class="chip" (click)="removeChip(i)">
        <span class="chip-text">{{chip}}</span>
        <i class="fas fa-times"></i>
      </div>
    }
    <button class="remove-all" (click)="removeAllChips()">Clear All</button>
  </div>
}