<div class="card">
  <div class="card-header text-white bg-dark text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fab fa-wpforms"></i>
        Data Dictionary
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="auto" data-bs-html="true"
      title="Help Using this Page" data-bs-content="
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button on your keyboard to execute.
        <br><br>
        Click on the <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text">
    <div>
      <h3>Data Dictionary</h3>
      <table id="dataDictionaryTable"></table>
    </div>
  </div>
</div>