<!-- FISMA System Detail Modal -->
<div
  class="modal fade"
  id="fismaDetail"
  tabindex="-1"
  role="dialog"
  aria-labelledby="fismaTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <a
          class="mr-3 text-white"
          role="button"
          tabindex="0"
          aria-label="Previous"
          (click)="tableService.previousModalRoute('fismaDetail')"
          [hidden]="!modalService.checkModalRoutes()"
        >
        <fa-icon [icon]="['fas', 'arrow-circle-left']" [ngClass]="{'fa-fw': true, 'fa-lg': true}"></fa-icon>
        </a>
        <h5 class="modal-title text-white" id="fismaTitle">
          <fa-icon [icon]="['fas', 'shield-alt']"></fa-icon>
          {{ fisma.Name }}
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <fa-icon [icon]="['fas', 'times']" [ngClass]="{'fa-lg': true}" class="text-white align-self-center"></fa-icon>
        </a>
      </div>

      <div id="fismaTabs" class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#fismaOverview">
              Overview</a
            >
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#subSystemsTab">
              Certified Business Applications</a></li> -->
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div
            class="container-fluid tab-pane fade show active"
            id="fismaOverview"
          >
            <div class="row">
              <div class="col-5">
                <h4 class="text-center">System Overview</h4>
                <br />

                <table
                  id="fismaOverviewTable"
                  class="table table-striped table-dark rounded-lg"
                >
                  <thead class="bg-warning">
                    <tr>
                      <th>
                        <h5>Attribute</h5>
                      </th>
                      <th>
                        <h5>Value</h5>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>ATO Date</td>
                      <td>{{ fisma.ATODate | date : "longDate" }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'file']"></fa-icon>ATO Type</td>
                      <td>{{ fisma.ATOType }}</td>
                    </tr>
                    <!-- <tr>
                      <td><fa-icon [icon]="['fas', 'door-open']"></fa-icon>Business Org</td>
                      <td>{{ fisma.BusOrg }}</td>
                    </tr> -->
                    <tr>
                      <td><fa-icon [icon]="['fas', 'cloud']"></fa-icon>Cloud Hosted?</td>
                      <td>{{ fisma.CloudYN }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'building']"></fa-icon>Hosting Provider</td>
                      <td>{{ fisma.CSP }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'tag']"></fa-icon>FISMA System Identifier</td>
                      <td>{{ fisma.FISMASystemIdentifier }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'user-shield']"></fa-icon>PII</td>
                      <td>{{ fisma.PII }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'lock']"></fa-icon>CUI</td>
                      <td>{{ fisma.CUI }}</td>
                    </tr>
                    <tr>
                      <td class="align-middle">
                        <fa-icon [icon]="['fas', 'file-alt']"></fa-icon>Related Artifacts
                      </td>
                      <td>
                        <ul
                          [innerHTML]="
                            tableService.renderRelArtifacts(
                              fisma.RelatedArtifacts
                            )
                          "
                        ></ul>
                      </td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>Renewal Date</td>
                      <td>{{ fisma.RenewalDate | date : "longDate" }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'layer-group']"></fa-icon>Fed or Contractor System</td>
                      <td>{{ fisma.FedContractorLoc }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'door-open']"></fa-icon>Responsible Org</td>
                      <td>{{ fisma.RespOrg }}</td>
                    </tr>
                    <tr>
                      <td><fa-icon [icon]="['fas', 'certificate']"></fa-icon>Cloud Service Type</td>
                      <td>{{ fisma.ServiceType }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End of Overview Table -->

              <!-- Points of Contact Table -->
              <div class="col-7">
                <h4 class="text-center">Points of Contact</h4>
                <br />

                <table
                  id="fismaPOCTable"
                  class="table table-striped table-dark rounded-lg"
                >
                  <thead class="bg-warning">
                    <tr>
                      <th>
                        <h5>Role</h5>
                      </th>
                      <th>
                        <h5>Name</h5>
                      </th>
                      <th>
                        <h5>Email</h5>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let pocp of tableService.renderPOCInfoTable(fisma.POC)">
                      <td> {{ pocp.type }} </td>
                      <td> {{ pocp.name }} </td>
                      <td> 
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{pocp.email}}" target="_blank" rel="noopener">{{ pocp.email }}</a> 
                      </td>
                      
                    </tr>
                </tbody>
                </table>
              </div>
              <!-- End ofPoints of Contact Table -->
            </div>
          </div>
          <!-- End of Overview Tab Pane -->

          <!-- <div class="tab-pane fade" id="subSystemsTab">
            <table id="fismaSubSysTable"></table>
          </div> -->
          <!-- End of Sub-Systems Tab Pane -->
        </div>
        <!-- End of Tab Panes -->
      </div>
      <!-- End of Modal Body -->

      <div class="modal-footer"></div>
    </div>
  </div>
</div>
