.sidebar-button {
    background: transparent;
    color: var(--neutral-black-color-dark);
    display: flex;
    gap: 10px;
    padding: 12px 16px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 94, 162, 0.1);
        color: var(--primary-color);
    }

    & .sidebar-button-icon {
        color: var(--primary-color);

        & svg {
            width: 1.25rem;
            height: 1.25rem; 
        }
    }
}

.sidebar-children-container {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);

    &.expanded {
        max-height: 1000px;
        opacity: 1;
        transition: max-height 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    }

    & .sidebar-button-child {
        background: transparent;
        color: var(--neutral-black-color-dark);
        display: flex;
        gap: 10px;
        padding: 12px 16px 12px 28px;
        border-bottom: 1px solid #E2E8F0;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 94, 162, 0.1);
            color: var(--primary-color);
        }
    }

    & .sidebar-button-child-icon {
        & svg {
            width: .75rem;
            height: .75rem; 
        }
    }
}