.sidebar-button {
    background: transparent;
    color: var(--neutral-black-color-dark);
    display: flex;
    gap: 10px;
    padding: 12px 16px;
    text-wrap: nowrap;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 94, 162, 0.1);
        color: var(--primary-color);
    }

    & .sidebar-button-icon {
        color: var(--primary-color);

        & svg {
            width: 1.25rem;
            height: 1.25rem; 
        }
    }
}

.sidebar-children-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: scaleY(0);    
    transform-origin: top;
    transition: transform 0.2s ease-in-out;
    z-index: 999;
    background-color: white;

    &.expanded {
        transform: scaleY(1);
        position: relative;
    }

    & .sidebar-button-child {
        // background: #b1b1b114;
        background-color: white;
        color: var(--neutral-black-color-dark);
        gap: 5px;
        padding: 12px 0 12px 57px;
        border-bottom: 1px solid #E2E8F0;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: start;

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 94, 162, 0.1);
            color: var(--primary-color);
        }
    }

    & .sidebar-button-child-icon {
        & svg {
            width: .75rem;
            height: .75rem; 
        }
    }
}