<div class="sidebar-button" (click)="onButtonClick()" (keyup)="onKeyUp($event)" tabindex="1">
  <div class="sidebar-button-icon">
    <i [ngClass]="buttonIcon"></i>
  </div>
  @if (isSidebarExpanded) {
    <div class="sidebar-button-text">
      {{buttonText}}
    </div>
  }
</div>
<div class="sidebar-children-container" [ngClass]="{'expanded' : isButtonExpanded}">
  @for (child of buttonChildren; track child) {
    <div class="sidebar-button-child" (keyup)="onChildKeyUp($event, child)" (click)="onChildButtonClick(child)" tabindex="1">
      <div class="sidebar-button-text">
        {{child.text}}
      </div>
      @if (child.icon) {
        <div class="sidebar-button-child-icon">
          <i [ngClass]="child.icon"></i>
        </div>
      }
    </div>
  }
</div>