<div class="feedback-container">
  <div class="feedback title">
    <h2>Leave Us Some Feedback</h2>
  </div>
  <div class="feedback-content">
    <p>Please provide feedback at 
      <a href="mailto:ea_planning@gsa.gov?subject=GEAR%203.1%20Feedback" target="_blank">ea_planning@gsa.gov</a>
      or create an
      <a href="https://github.com/GSA/GEAR3/issues" target="_blank">GitHub issue</a>
    </p>
    <p><a routerLink="/dashboard">Back to Dashboard</a></p>
    <p><a href="https://ea.gsa.gov/#/">Back to current GEAR</a></p>
  </div>
</div>