<div class="card">
  <div class="card-header text-white bg-danger text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-server mr-2"></i>
        <span [hidden]="filteredTable">Active GSA </span>
        <span [hidden]="!filteredTable">{{ filterTitle }} </span>
        Systems & Sub-Systems
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text">
    <!-- Visualizations -->
    <div id="sysViz" class="row justify-content-center collapse show" style="height: 300px;" [hidden]="filterTitle == 'Active'">
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="vizData"
        [label]="vizLabel"
        (select)="onSelect($event)">
      </ngx-charts-advanced-pie-chart>
    </div>

    <div class="row w-100">
      <!-- System/Sub-System Definition Popover -->
      <a tabindex="0" class="btn btn-sm btn-info text-white position-absolute float-right w-11" role="button" data-toggle="popover"
        data-trigger="focus" data-placement="auto" data-html="true" title="" data-content="A system is based upon 
        a hierarchical organization where systems and sub-systems are ranked one above the other according to status, authority 
        or access point.  From one system, you have access to other subsystems.
        <img src='/assets/img/systems.png'>">
        System/Sub-System Definition
      </a>

      <!-- Filters -->
      <div class="mx-auto">
        <span class="my-auto mr-3">Add'l Filter Buttons:</span>
        <button role="button" name="sysCloudBttn" class="btn btn-primary" (click)="changeFilter('CloudYN', 'Yes')">
          Cloud Enabled</button>
        <button role="button" name="sysInactiveBttn" class="btn btn-primary" (click)="changeFilter('Status', 'Inactive')">
          Inactive</button>
        <button role="button" name="sysPendingBttn" class="btn btn-primary" (click)="changeFilter('Status', 'Pending')">
          Pending</button>

        <button role="button" name="sysBttn" class="btn btn-primary ml-3" (click)="backToMainSys()"
          [hidden]="!filteredTable">
          Back to All Active Systems</button>
      </div>
    </div>

    <!-- Main Table -->
    <table id="systemTable"></table>
  </div>
</div>