<div class="systems-container">
  <div class="systems-title-container">
    <h2>Business Systems & Subsystems</h2>
    <div class="systems-title-right-button-container">
      @if (!isLoggedIn()) {
        <app-button buttonText="GEAR Manager Login" (buttonClick)="sharedService.setRedirectPath()"></app-button>
      }
      @if (isLoggedIn()) {
        <app-button buttonText="Logout" buttonStyle="error" (buttonClick)="sharedService.logoutManager()"></app-button>
      }
      <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
        <b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that
        meets
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box.
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon.
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on
        the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
      </app-button-overlay-panel>
    </div>
  </div>
  <div class="systems-definition-container">
    <p class="systems-definition-text">A business system represents a logical boundary for related assets (e.g.,
      software, devices, and people)
      to accomplish one or more business capabilities. A business system is accessed by the end user via a graphical
      user interface (e.g. web application, desktop application, etc.).
    </div>
    <div class="systems-graph-container">
      <span id="sysVizText" tabindex="0" [attr.aria-label]="getAriaLabel(vizData)" style="display: none;">
        Pie Chart Details
      </span>
      <div class="systems-graph">
        <ngx-charts-advanced-pie-chart [scheme]="colorScheme" [results]="vizData" [label]="vizLabel"
          [ariaLabel]="getAriaLabel(vizData)" appSkipFocusPiechart tabindex="0" (select)="onSelect($event)"
        role="navigation"></ngx-charts-advanced-pie-chart>
      </div>
    </div>
    <div class="systems-data-container">
      <app-table visibleColumnStorageKey="systems-report" defaultSortField="Name" [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"
        (rowClickEvent)="onRowClick($event)">
        <div class="filter-tabs-container" filterTabs>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('All')}" (click)="onSelectTab('All')" (keyup)="onKeyUp($event, 'All')" tabindex="0">
            <span class="filter-tab-text">All Active</span>
            <span class="filter-tab-number first">{{filterTotals?.AllTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Cloud Enabled')}"
            (click)="onSelectTab('Cloud Enabled')" (keyup)="onKeyUp($event, 'Cloud Enabled')" tabindex="0">
            <span class="filter-tab-text">Active Cloud Enabled</span>
            <span class="filter-tab-number second">{{filterTotals?.CloudEnabledTotal}}</span>
          </div>
          <div class="filter-tab" [ngClass]="{'selected': isTabSelected('Inactive')}" (click)="onSelectTab('Inactive')" (keyup)="onKeyUp($event, 'Inactive')" tabindex="0">
            <span class="filter-tab-text">Inactive</span>
            <span class="filter-tab-number third">{{filterTotals?.InactiveTotal}}</span>
          </div>
        </div>
      </app-table>
    </div>