<div class="card">
  <div class="card-header text-white bg-danger text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-server mr-2"></i>
        <span [hidden]="filteredTable">Active GSA </span>
        <span [hidden]="!filteredTable">{{ filterTitle }} </span>
        Business Systems & Subsystems
      </span>
    </h3>

    <!-- GEAR Manager Access -->
    <a
      class="btn btn-sm btn-info text-white shadow mngr-btn d-flex align-items-center justify-content-center"
      routerLink="/gear_manager"
      *ngIf="!sharedService.loggedIn"
      aria-label="GEAR Manager Login"
      (click)="sharedService.setRedirectPath()"
    >
      <span class="mr-2">GEAR Manager Login</span
      ><i class="fa fa-sign-in-alt fa-2x"></i>
    </a>

    <a
      class="btn btn-sm btn-danger text-white shadow mngr-btn d-flex align-items-center justify-content-center"
      routerLink="/systems"
      *ngIf="sharedService.loggedIn"
      aria-label="GEAR Manager Logout"
      (click)="sharedService.logoutManager()"
    >
      <span class="mr-2">Logout</span><i class="fas fa-sign-out-alt fa-2x"></i>
    </a>

    <!-- Help Button -->
    <a
      tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button"
      data-toggle="popover"
      data-trigger="focus"
      data-placement="auto"
      data-html="true"
      title="Help Using this Table"
      data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page."
    >
      <span class="mr-2">More Help</span
      ><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text">    
    <!-- System/Sub-System Definition Popover -->
    <a
      tabindex="0"
      class="btn btn-sm btn-info text-white position-absolute float-right w-11"
      role="button"
      data-toggle="popover"
      data-trigger="focus"
      data-placement="auto"
      data-html="true"
      title=""
      data-content="A business system represents a logical boundary for related assets (e.g., software, devices, and people) to accomplish one or more business capabilities. A business system is accessed by the end user via a graphical user interface (e.g. web application, desktop application, etc.)."
    >
      Business System Definition
    </a>

    <!-- Visualizations -->
    <span id="sysVizText" tabindex="0"
      [attr.aria-label]="getAriaLabel(vizData)" style="visibility: hidden;">
      Pie Chart Details
    </span>

    <div
      id="sysViz"
      class="row justify-content-center collapse show"
      style="height: 300px"
      [hidden]="filterTitle == 'Active'"
    >
      <ngx-charts-advanced-pie-chart
        [scheme]="colorScheme"
        [results]="vizData"
        [label]="vizLabel"
        [ariaLabel]="getAriaLabel(vizData)"
        (select)="onSelect($event)"
        appSkipFocusPiechart
        tabindex="0" 
        role="navigation"
      >
      </ngx-charts-advanced-pie-chart>
    </div>

    <!-- Main Table -->
    <app-table [tableCols]="tableCols" [tableData]="tableData" exportName="Systems" reportStyle="business-systems" [buttonFilters]="buttonFilters" tableType="systems" (filterEvent)="onFilterEvent($event)"></app-table>
  </div>
</div>
