<div class="card">
  <div class="card-header text-white bg-danger text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="far fa-clock"></i>
        Systems TIME Report
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text">
    <!-- Visualizations -->
    <div id="timeViz" class="row justify-content-center" style="height: 300px;">
      <ngx-charts-bar-vertical-stacked *ngIf="vizData"
        [scheme]="colorScheme"
        [results]="vizData"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [legendTitle]="legendTitle"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [animations]="animations"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical-stacked>
    </div>

    <div class="row w-100">
      <!-- TIME Definitions Link -->
      <a type="button" class="btn btn-sm btn-info text-white ml-3" [routerLink]="['/about', 'sysRat']">
        TIME Value Definitions</a>
    </div>
  
    <!-- Main Table -->
    <table id="timeTable" aria-label="The TIME report table indicates where systems are in their lifecycle by using the tolerate, invest, migrate, and eliminate (TIME) designation."></table>
  </div>
</div>