.time-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;

    & .time-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .time-definition-container {
        padding: 1.5rem;

        & .time-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .time-graph-container {

        & .time-graph {
            width: 95%;
            height: 300px;
        }
    }

    & .time-questionaire-container {
        padding: 1rem 0;
    }

    & .time-data-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
}