@if (isDataReady) {
<div class="time-container">
  <div class="time-title-container">
    <h2>Systems TIME Report</h2>
    <app-page-help-button></app-page-help-button>
  </div>
  <div class="time-definition-container">
    <app-button buttonText="TIME Value Definitions" (buttonClick)="onDefinitionsClick()"></app-button>
  </div>
  <div class="time-graph-container">
    <div class="time-graph">
      @if (vizData) {
        <ngx-charts-bar-vertical-stacked
          [scheme]="colorScheme"
          [results]="vizData"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [legendTitle]="legendTitle"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          [animations]="animations"
          (select)="onSelect($event)">
        </ngx-charts-bar-vertical-stacked>
      }
    </div>
  </div>
  <div class="time-questionaire-container">
    <app-button buttonText="Please complete your system's TIME Questionnaire" (buttonClick)="onQuestionaireClick()"></app-button>
  </div>
  <div class="time-data-container">
    <app-table visibleColumnStorageKey="time-report" defaultSortField="System Name" [tableCols]="tableCols" [attrDefs]="attrDefinitions" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
  </div>
</div>
}