#sidebarToggle {
  display: inline !important;
}

.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
}

#contactDropdown {
  cursor: pointer;
}

/* CSS for making the dropdown menu scrollable */
.navbar-nav .dropdown-menu.gearNavDropdown {
  max-height: 350px; /* Set a fixed height for the dropdown menu */
  overflow-y: auto; /* Enable vertical scrolling */
}
