<app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
  <span>
    <b>Details:</b> Left click on a row within the table to view additional details.
    <br><br>
    <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
    <br><br>
    <b>Add/Remove Columns:</b> Click the <i class="fas fa-th-list"></i> to add or remove available data fields.
    <br><br>
    <b>Filtering:</b> Click the <i class="fas fa-filter"></i> icon to open the filter window.
    <br><br>
    <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon.
    <br><br>
    <b>Search:</b> Perform a filtered search across all fields in the data table.
    <br><br>
    <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page.
  </span>
</app-button-overlay-panel>