<div class="glossary-container">
  <div class="glossary-title-container">
    <h2>Glossary</h2>
    <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
      <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button on your keyboard to execute.
        <br><br>
        Click on the <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
    </app-button-overlay-panel>
  </div>
  <div class="glossary-data-container">
    <app-table [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
  </div>
</div>

<!-- <div class="card">
  <div class="card-header text-white bg-light-blue text-center d-flex align-items-center justify-content-between">
    <div></div>
    <h3 class="card-title mb-0">
      <span>
        <i class="fab fa-wpforms"></i>
        Glossary
      </span>
    </h3> -->
    <!-- Help Button -->
    <!-- <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
      <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button on your keyboard to execute.
        <br><br>
        Click on the <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
    </app-button-overlay-panel>
  </div>

  <div class="card-body card-text">
    <div>
      <h3>Glossary</h3>
      <app-table [tableCols]="tableCols" exportName="Glossary" reportStyle="additional-info"></app-table>
    </div>
  </div>
</div> -->