.organization-details-container {
    display: flex;
    flex-direction: column;
    
    padding: 2rem 1.5rem;

    & .breadcrumb-container {
        display: flex;
        padding-bottom: 2rem;
    }

    & .title-container {
        display: flex;
        padding-bottom: 1.5rem;

        & .title {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
        }
    }

    & .content-container {
        display: flex;
        flex-direction: column;

        & .nav-tabs {
            margin-bottom: 2rem;
        }

        & .overall-data-container,
        .related-organizations-container,
        .supporting-systems-container {
            display: flex;
            flex-flow: row wrap;

            & .main-data-container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                & .data-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    background-color: #fff;
                    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
                    border-radius: 4px;
                    padding: 1.5rem;
                    margin-bottom: 1.5rem;
                    width: 100%;
                }

                & .data {
                    display: flex;
                    flex-direction: column;
                    flex: 33%;
                    padding-bottom: 1.5rem;

                    &:last-child {
                        flex: 66%;
                    }

                    & .data-label {
                        font-weight: bold;
                    }
                }

                & .sub-content {
                    display: flex;
                    flex-direction: column;
                    background-color: #fff;
                    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
                    border-radius: 4px;
                    padding: 1.5rem;
                    margin-bottom: 1.5rem;

                    &.full-width {
                        width: 100%;
                    }

                    & .sub-header {
                        color: var(--neutral-black-color-dark);
                        font-family: var(--primary-font);
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        display: block;
                        padding-bottom: 10px;
                    }

                    & table {
                        & tr {
                            border-bottom: 1px solid #e0e0e0;
                        }
                        & th {
                            background-color: #f5f5f5;
                            font-weight: bold;
                            padding: 0.75rem;
                        }
                        & td {
                            padding: 0.75rem;
                        }
                    }
                }

                & .data-full {
                    display: flex;
                    flex-direction: column;
                    flex: 100%;
                    padding-bottom: 1.5rem;

                    & .data-label {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}