@if (isDataReady) {
  <div class="systems-details-container">
    <div class="breadcrumb-container">
      <app-breadcrumb>
        <span currentPageName>{{detailsData.Name}}</span>
      </app-breadcrumb>
    </div>
    <div class="title-container">
      <span class="title">{{detailsData.Name}}</span>
    </div>
    <div class="content-container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isOverviewTabActive" (click)="onTabClick('overview', $event)" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isBusinessTabActive" (click)="onTabClick('business', $event)" href="#business">Business</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isTechnicalTabActive" (click)="onTabClick('technical', $event)" href="#technical">Technical</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isRecordsTabActive" (click)="onTabClick('records', $event)" href="#records">Records</a>
        </li>
        @if(sysWebsitesData && sysWebsitesData.length > 0){
          <li class="nav-item">
            <a class="nav-link" [class.active]="isWebsitesTabActive" (click)="onTabClick('websites', $event)" href="#websites">Websites</a>
          </li>
        }
      </ul>
      <div class="time-questionnaire-button-container">
        <app-button [buttonText]="getTimeQuestionnaireButtonText()" buttonStyle="success" (buttonClick)="onTimeButtonClick()"></app-button>
      </div>
      @if (isOverviewTabActive) {
        <div class="tab-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="data-wrapper">
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Alias/Acronym')" role="tooltip">
                      Alias/Acronym
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.DisplayName}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Status')" role="tooltip">
                      Status
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span [ngClass]="getStatusClass(detailsData.Status)">{{detailsData.Status}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('System Level')" role="tooltip">
                      System Level
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.SystemLevel}}</span>
                  </span>
                </div>
                <div class="data-full">
                  <label class="data-label">
                    <span [title]="getTooltip('Description')" role="tooltip">
                      Description
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>{{detailsData.Description}}</span>
                </div>
                <div class="data-full">
                  <label class="data-label">
                    <span [title]="getTooltip('Related Artifacts')" role="tooltip">
                      Related Artifacts
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  @if (detailsData.RelatedArtifacts) {
                    <span>
                      <ul [innerHTML]="getRelatedArtifacts()"></ul>
                    </span>
                  }
                  @if (!detailsData.RelatedArtifacts) {
                    <span>None</span>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isBusinessTabActive) {
        <div class="tab-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="data-wrapper">
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('ATO Date')" role="tooltip">
                      ATO Date
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.ATODate | date: 'longDate'}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('ATO Type')" role="tooltip">
                      ATO Type
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.ATOType}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Business Org')" role="tooltip">
                      Business Org
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.BusOrg}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('CUI')" role="tooltip">
                      CUI
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.CUI}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Responsible IT Org')" role="tooltip">
                      Responsible IT Org
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.RespOrg}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Cloud Service Type')" role="tooltip">
                      Cloud Service Type
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.ServiceType}}</span>
                  </span>
                </div>
              </div>
              <div class="sub-content full-width">
                <span class="sub-header">Point of Contacts</span>
                <table>
                  <tr>
                    <th>Role</th>
                    <th>Name</th>
                    <th>Email</th>
                  </tr>
                  <!-- @for (poc of getPOCList(); track poc) {
                    <tr>
                      <td> {{ poc.type }} </td>
                      <td> {{ poc.name }} </td>
                      <td>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{poc.email}}" target="_blank" rel="noopener">{{ poc.email }}</a>
                      </td>
                    </tr>
                  } -->
                  @for (poc of splitPOCs; track poc) {
                    <tr>
                      <td> {{ poc.type }} </td>
                      <td> {{ poc.name }} </td>
                      <!-- <td [title]="poc.orgName"> {{ poc.orgCode }} </td> -->
                      <td>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{poc.email}}" target="_blank" rel="noopener">{{ poc.email }}</a>
                      </td>
                    </tr>
                  }
                </table>
              </div>
              <div class="sub-content full-width">
                <span class="sub-header">Related Business Capabilities</span>
                <app-table [localTableData]="sysCapabilitiesData" [isLocal]="true" [tableCols]="relatedCapabilitiesCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" tableType="capabilities" [contextSystemName]="detailsData?.Name"></app-table>
              </div>
              <div class="sub-content full-width">
                <span class="sub-header">System Time Report</span>
                <app-table [localTableData]="systemTimeData" [isLocal]="true" [tableCols]="systemTimeCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isTechnicalTabActive) {
        <div class="tab-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="data-wrapper">
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Cloud Hosted?')" role="tooltip">
                      Cloud Enabled?
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.CloudYN}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Hosting Provider')" role="tooltip">
                      Hosting Provider
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.CSP}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Complete FISMA Assessment for Current FY')" role="tooltip">
                      Complete FISMA Assessment for Current FY
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.ComplFISMA}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('FIPS Impact Level')" role="tooltip">
                      FIPS Impact Level
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.FIPS_Impact_Level}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Gov\'t-Wide Shared Service')" role="tooltip">
                      Gov't-Wide Shared Service
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.SharedService}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('FISMA System Identifier')" role="tooltip">
                      FISMA System Identifier
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.FISMASystemIdentifier}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Cloud Service Type')" role="tooltip">
                      Service Type
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.ServiceType}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('PII Indicator')" role="tooltip">
                      PII Indicator
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.PII}}</span>
                  </span>
                </div>
              </div>
              <div class="sub-content full-width">
                <span class="sub-header">Related Technology</span>
                <app-table [localTableData]="sysTechnologiesData" [isLocal]="true" [tableCols]="relatedTechnologyCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" tableType="itStandards" [contextSystemName]="detailsData?.Name"></app-table>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isRecordsTabActive) {
        <div class="tab-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="sub-content full-width">
                <span class="sub-header">Related Records</span>
                @if(sysRecordsData && sysRecordsData.length > 0) {
                  <app-table [localTableData]="sysRecordsData" [isLocal]="true" [tableCols]="recordsCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" tableType="records" [contextSystemName]="detailsData?.Name"></app-table>
                } @else {
                  <span>Contact Records Management (records@gsa.gov) for a more detailed analysis of records associated with this system.</span>
                }
              </div>
            </div>
          </div>
        </div>
      }
      @if (isWebsitesTabActive) {
        <div class="tab-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="sub-content full-width">
                <span class="sub-header">Related Websites</span>
                <app-table [localTableData]="sysWebsitesData" [isLocal]="true" [tableCols]="websiteCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" tableType="website" [contextSystemName]="detailsData?.Name"></app-table>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isLoggedIn()) {
        <app-button [buttonText]="'Edit'" buttonStyle="outline" (buttonClick)="editSystem()"></app-button>
      }
    </div>
  </div>
}