<div class="trm-container">
  <div class="trm-title-container">
    <h2>Technology Reference Model</h2>
    <div class="trm-title-right-button-container">
      <app-page-help-button></app-page-help-button>
    </div>
  </div>
  <!-- <div class="trm-definition-container">
    <p class="trm-definition-text" [ngClass]="{'expanded' : defExpanded}">A classification taxonomy used to describe the business
      functions and services at GSA. By describing GSA using standard business functions
      rather than an organizational view, this taxonomy promotes collaboration, shared services,
      and solution reuse in agency IT portfolios and inter-agency Lines of Business. While this taxonomy
      provides a standardized way of classifying government functions, its true value is realized when
      it is effectively used in business analysis, design, and decision support that help to improve the performance of GSA.
      (<a href='https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/egov_docs/fea_v2.pdf' target='_blank' rel='noopener'>FEAF pg 30</a>)</p>
      <app-button [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
    </div> -->
    <div class="trm-data-container">
      <app-table visibleColumnStorageKey="trm-report" defaultSortField="Name" [tableCols]="tableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
    </div>
  </div>