#divProduct{
    background-color: inherit;
  }
  .disabledDivProduct {
      pointer-events: none;
      opacity: 0.5;
  }

#divVersion{
    background-color: inherit;
  }
  .disabledDivVersion {
      pointer-events: none;
      opacity: 0.5;
  }

#divRelease{
    background-color: inherit;
  }
  .disabledDivRelease {
      pointer-events: none;
      opacity: 0.5;
  }

#divOldName{
    background-color: inherit;
  }
  .disabledDivOldName {
      pointer-events: none;
      opacity: 0.8;
  }

#divEndOfLifeDate{
    background-color: inherit;
  }
  .disabledDivEndOfLifeDate {
      pointer-events: none;
      opacity: 0.8;
  }