<!-- IT Standards Manager Modal -->
<div class="modal fade" id="itStandardsManager" tabindex="-1" role="dialog" aria-labelledby="itStandMngrTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="itStandMngrTitle">
          <i class="fas fa-microchip"></i>
          <span *ngIf="itStandard.Name; else elseITStandName"> {{ itStandard.Name }} - <span
              class="text-primary">**EDITING**</span></span>
          <ng-template #elseITStandName> Create New IT-Standard</ng-template>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#itStandMngrOverview">
              Overview</a></li>
        </ul>

        <!-- Tab Panes -->
        <form [formGroup]="itStandardsForm" class="container">
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="itStandMngrOverview">

              <div class="row align-items-center">
                <div class="form-group col-3">
                  <label for="itStandStatus">Status<span class="text-danger">*</span></label>
                  <select class="form-control" id="itStandStatus" formControlName="itStandStatus" required>
                    <option *ngFor="let status of statuses" [value]="status.ID"
                      [selected]="status.Name === itStandard.Status">{{ status.Name }}</option>
                  </select>
                </div>

                <div class="form-group col">
                  <label for="itStandName">IT-Standard Name<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="itStandName" formControlName="itStandName"
                    placeholder="Enter a Name" [value]="itStandard.Name" required>
                </div>

                <div class="form-group col-3">
                  <label for="itStandPOC">POC(s)<span class="text-danger">*</span></label>
                  <select class="form-control" id="itStandPOC" formControlName="itStandPOC" multiple required>
                    <option *ngFor="let poc of POCs" [value]="poc.ID"
                      [selected]="modalService.nameMatch(itStandard.POC, poc.Name)">{{ poc.Name }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="itStandDesc">Description</label>
                <textarea type="text" class="form-control" id="itStandDesc" formControlName="itStandDesc"
                  placeholder="Enter a Description" rows="3" [value]="itStandard.Description"></textarea>
              </div>

              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="form-group col-3 my-auto">
                      <label for="itStandType">Type<span class="text-danger">*</span></label>
                      <select class="form-control" id="itStandType" formControlName="itStandType" required>
                        <option *ngFor="let type of types" [value]="type.ID"
                          [selected]="type.Name === itStandard.StandardType">{{ type.Name }}</option>
                      </select>
                    </div>

                    <div class="form-group col-5">
                      <label for="itStandCategory">Category<span class="text-danger">*</span></label>
                      <select class="form-control" id="itStandCategory" formControlName="itStandCategory" multiple
                        required>
                        <option *ngFor="let category of categories" [value]="category.ID"
                          [selected]="modalService.nameMatch(itStandard.Category, category.Name)">{{ category.Name }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col-4 my-auto">
                      <label for="itStand508">508 Compliance Status</label>
                      <select class="form-control" id="itStand508" formControlName="itStand508">
                        <option *ngFor="let status of compliance" [value]="status.ID"
                          [selected]="status.Name === itStandard.ComplianceStatus">{{ status.Name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="form-group col-3 text-center mb-0">
                      <label for="itStandMyView">Available through MyView</label>
                      <div id="itStandMyView" class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="itStandMyViewSwitch"
                          formControlName="itStandMyView" [checked]="itStandard.Available_through_Myview === 'T'">
                        <label class="custom-control-label" for="itStandMyViewSwitch">True</label>
                      </div>
                    </div>

                    <div class="form-group col-5">
                      <label for="itStandVendorOrg">Vendor Standard Organization</label>
                      <input type="text" class="form-control" id="itStandVendorOrg" formControlName="itStandVendorOrg"
                        placeholder="Enter an Org Name (e.g. Adobe)" [value]="itStandard.Vendor_Standard_Organization">
                    </div>

                    <div class="form-group col-4">
                      <label for="itStandDeployment">Deployment Type<span class="text-danger">*</span></label>
                      <select class="form-control" id="itStandDeployment" formControlName="itStandDeployment" required>
                        <option *ngFor="let type of deploymentTypes" [value]="type.ID"
                          [selected]="type.Name === itStandard.DeploymentType">{{ type.Name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="form-group col-3 text-center mb-0">
                      <label for="itStandGoldImg">Gold Image</label>
                      <div id="itStandGoldImg" class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="itStandGoldImgSwitch"
                          formControlName="itStandGoldImg" [checked]="itStandard.Gold_Image === 'T'">
                        <label class="custom-control-label" for="itStandGoldImgSwitch">True</label>
                      </div>
                    </div>

                    <div class="form-group col-9">
                      <label for="itStandGoldComment">Gold Image Comment</label>
                      <input type="text" class="form-control" id="itStandGoldComment"
                        formControlName="itStandGoldComment" placeholder="Enter a Comment about the Gold Image"
                        [value]="itStandard.Gold_Image_Comment">
                    </div>
                  </div>
                </div>

                <div class="form-group col-3 text-center">
                  <label for="itStandAprvExp">Approval Expiration Date</label>
                  <div id="itStandAprvExp"></div>
                </div>

              </div>

              <div class="form-group">
                <label for="itStandComments">Comments</label>
                <textarea type="text" class="form-control" id="itStandComments" formControlName="itStandComments"
                  placeholder="Enter Any Additional Comments" rows="2" [value]="itStandard.Comments"></textarea>
              </div>

              <div class="form-group">
                <label for="itStandRefDocs">Link to Reference Document(s)</label>
                <input type="text" class="form-control" id="itStandRefDocs" formControlName="itStandRefDocs"
                  placeholder="Enter a Link to Doc or Folder for Reference" [value]="itStandard.ReferenceDocuments">
              </div>
            </div>
            <!-- End of Overview Pane -->

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-danger mr-auto">* Required</div>
        <div [hidden]="!itStandard.ChangeDTG">Last Updated: {{ itStandard.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}
        </div>
        <button type="submit" form="itStandardsForm" class="btn btn-info text-white"
          (click)="submitForm()">Save</button>
      </div>

    </div>
  </div>
</div>