#divProduct{
    background-color: inherit;
  }
  .disabledDivProduct {
      pointer-events: none;
      opacity: 0.2;
  }

#divVersion{
    background-color: inherit;
  }
  .disabledDivVersion {
      pointer-events: none;
      opacity: 0.2;
  }

#divRelease{
    background-color: inherit;
  }
  .disabledDivRelease {
      pointer-events: none;
      opacity: 0.2;
  }

#divOldName{
    background-color: inherit;
  }
  .disabledDivOldName {
      pointer-events: none;
      opacity: 0.2;
  }