<!-- IT Standards Manager Modal -->
<div class="modal fade" id="itStandardsManager" tabindex="-1" role="dialog" aria-labelledby="itStandMngrTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="itStandMngrTitle">
          <i class="fas fa-microchip"></i>
          <span *ngIf="itStandard.Name; else elseITStandName"> {{ itStandard.Name }} - <span
              class="text-primary">**EDITING**</span></span>
          <ng-template #elseITStandName> Create New IT-Standard</ng-template>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="itStandMngrTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#itStandMngrOverview">
              Overview</a></li>
        </ul>

        <!-- Tab Panes -->
        <form [formGroup]="itStandardsForm" class="container">
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="itStandMngrOverview">

              <!-- Tech Catalog Information row 1 -->
              <div class="row align-items-center">
                
                <div class="form-group col">
                  <label for="tcManufacturer">Manufacturer Name<span *ngIf="!isOldRecord(itStandard.OldName)" class="text-danger">*</span></label>
                    <ng-select id="tcManufacturer" formControlName="tcManufacturer"
                      [items]="manufacturers"
                      [multiple]="false"
                      appendTo="#itStandardsManager"
                      bindLabel="name"
                      bindValue="id"
                      clearAllText="Clear All"
                      [clearSearchOnAdd]="true"
                      [closeOnSelect]="true"
                      [loading]="manufacturersLoading"
                      placeholder="Search & Select Manufacturer Here"
                      [virtualScroll]="true"
                      (scroll)="modalService.onScroll($event, manufacturersBuffer, bufferSize, manufacturers, manufacturersLoading)"
                      (scrollToEnd)="modalService.onScrollToEnd(manufacturersBuffer, bufferSize, manufacturers, manufacturersLoading)"
                      (change)="manufacturerChange($event)">
                      <ng-template ng-header-tmp>
                        <small class="form-text text-muted">Loaded {{ manufacturersBuffer.length }} of {{ manufacturers.length }}</small>
                      </ng-template>
                    </ng-select>
                    <div *ngIf="!isOldRecord(itStandard.OldName)">
                      <div id="divIsValidManufacturer" *ngIf="!hasValue('tcManufacturer')">
                        <div class="invalid-feedback" *ngIf="!isOldRecord(itStandard.OldName)">
                          One Manufacturer Required
                        </div>
                      </div>
                    </div>
                  </div>
  
                <div class="form-group col" id="divProduct">
                  <label for="tcSoftwareProduct">Software Product Name<span *ngIf="!isOldRecord(itStandard.OldName)" class="text-danger">*</span></label>
                    <ng-select id="tcSoftwareProduct" formControlName="tcSoftwareProduct"
                      [items]="softwareProducts"
                      [multiple]="false"
                      appendTo="#itStandardsManager"
                      bindLabel="name"
                      bindValue="id"
                      clearAllText="Clear All"
                      [clearSearchOnAdd]="true"
                      [closeOnSelect]="true"
                      [loading]="softwareProductsLoading"
                      placeholder="Search & Select Software Product"
                      [virtualScroll]="true"
                      (scroll)="modalService.onScroll($event, softwareProductsBuffer, bufferSize, softwareProducts, softwareProductsLoading)"
                      (scrollToEnd)="modalService.onScrollToEnd(softwareProductsBuffer, bufferSize, softwareProducts, softwareProductsLoading)"
                      (change)="softwareProductChange($event)">
                      <ng-template ng-header-tmp>
                        <small class="form-text text-muted">Loaded {{ softwareProductsBuffer.length }} of {{ softwareProducts.length }}</small>
                      </ng-template>
                    </ng-select>
                    <div *ngIf="!isOldRecord(itStandard.OldName)">
                      <div id="divIsValidSoftwareProduct" *ngIf="!hasValue('tcSoftwareProduct')">
                        <div class="invalid-feedback" *ngIf="!isOldRecord(itStandard.OldName)">
                          One Software Product Required
                        </div>
                      </div>
                    </div>
                  </div>
              </div>

              <!-- Tech Catalog Information row 2 -->
              <div class="row align-items-center">
                <div class="form-group col-3" id="divVersion">
                  <label for="tcSoftwareVersion">Software Version<span *ngIf="!isOldRecord(itStandard.OldName)" class="text-danger">*</span></label>
                    <ng-select id="tcSoftwareVersion" formControlName="tcSoftwareVersion"
                      [items]="softwareVersions"
                      [multiple]="false"
                      appendTo="#itStandardsManager"
                      bindLabel="name"
                      bindValue="id"
                      clearAllText="Clear All"
                      [clearSearchOnAdd]="true"
                      [closeOnSelect]="true"
                      [loading]="softwareVersionsLoading"
                      placeholder="Search & Select Software Version"
                      [virtualScroll]="true"
                      (scroll)="modalService.onScroll($event, softwareVersionsBuffer, bufferSize, softwareVersions, softwareVersionsLoading)"
                      (scrollToEnd)="modalService.onScrollToEnd(softwareVersionsBuffer, bufferSize, softwareVersions, softwareVersionsLoading)"
                      (change)="softwareVersionChange($event)">
                      <ng-template ng-header-tmp>
                        <small class="form-text text-muted">Loaded {{ softwareVersionsBuffer.length }} of {{ softwareVersions.length }}</small>
                      </ng-template>
                    </ng-select>
                    <div *ngIf="!isOldRecord(itStandard.OldName)">
                      <div id="divIsValidSoftwareVersion" *ngIf="!hasValue('tcSoftwareVersion')">
                        <div class="invalid-feedback" *ngIf="!isOldRecord(itStandard.OldName)">
                          One Software Version Required
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="form-group col-6" id="divRelease">
                  <label for="tcSoftwareRelease">Software Release<span *ngIf="!isOldRecord(itStandard.OldName)" class="text-danger">*</span></label>
                    <ng-select id="tcSoftwareRelease" formControlName="tcSoftwareRelease"
                      [items]="softwareReleases"
                      [multiple]="false"
                      appendTo="#itStandardsManager"
                      bindLabel="application"
                      bindValue="id"
                      clearAllText="Clear All"
                      [clearSearchOnAdd]="true"
                      [closeOnSelect]="true"
                      [loading]="softwareReleasesLoading"
                      placeholder="Search & Select Software Release"
                      [virtualScroll]="true"
                      (scroll)="modalService.onScroll($event, softwareReleasesBuffer, bufferSize, softwareReleases, softwareReleasesLoading)"
                      (scrollToEnd)="modalService.onScrollToEnd(softwareReleasesBuffer, bufferSize, softwareReleases, softwareReleasesLoading)"
                      (change)="setApprovalExpirationDate($event)">
                      <ng-template ng-header-tmp>
                        <small class="form-text text-muted">Loaded {{ softwareReleasesBuffer.length }} of {{ softwareReleases.length }}</small>
                      </ng-template>
                    </ng-select>
                    <div *ngIf="!isOldRecord(itStandard.OldName)">
                      <div id="divIsValidSoftwareRelease" *ngIf="!hasValue('tcSoftwareRelease')">
                        <div class="invalid-feedback" *ngIf="!isOldRecord(itStandard.OldName)">
                          One Software Release Required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-3" id="divEndOfLifeDate">
                    <label for="tcEndOfLifeDate">Software End of Life Date</label>
                    <input type="text" class="form-control" id="tcEndOfLifeDate"
                      formControlName="tcEndOfLifeDate" placeholder="Not Available" [value]="formatEndOfLifeDate(endOfLifeDate)">
                      <!--<div class="success-feedback" *ngIf="isAssignedToitStandAprvExp(endOfLifeDate, aprvExpDate)">
                        This date value was set to the Approval Expiration Date
                      </div>-->
                      <div class="invalid-feedback" *ngIf="hasEndOfLifeDatePassed(endOfLifeDate)">
                        Note: This Software is no longer supported
                      </div>
                  </div>
                </div>

              <!-- Status, old IT Standard Name & POCs -->
              <div class="row align-items-center">
                <div class="form-group col-2">
                  <label for="itStandStatus">Status<span class="text-danger">*</span></label>
                  <select class="form-control" [ngClass]="{'is-invalid': modalService.fieldValidCheck(itStandardsForm, 'itStandStatus')}" id="itStandStatus"
                    formControlName="itStandStatus" required>
                    <option *ngFor="let status of statuses" [value]="status.ID"
                      [selected]="status.Name === itStandard.Status">{{ status.Name }}</option>
                  </select>
                  <div *ngIf="modalService.fieldValidCheck(itStandardsForm, 'itStandStatus')">
                    <div class="invalid-feedback" *ngIf="itStandardsForm.controls['itStandStatus'].errors.required">
                      IT Standard Status Required
                    </div>
                  </div>
                </div>

                <div class="form-group col-6" id="divOldName">
                  <label for="itStandName">Previously Known As</label>
                  <input type="text" class="form-control" id="itStandName"
                    formControlName="itStandName" placeholder="Not Applicable" [value]="itStandard.OldName" >
                </div>

                <div class="form-group col-4">
                  <label for="itStandPOC">POC(s)<span class="text-danger">*</span></label>
                  <ng-select id="itStandPOC" formControlName="itStandPOC"
                    [items]="POCs"
                    [multiple]="true"
                    appendTo="#itStandardsManager"
                    bindLabel="Name"
                    bindValue="SamAccountName"
                    clearAllText="Clear All"
                    [clearSearchOnAdd]="true"
                    [closeOnSelect]="false"
                    [loading]="pocsLoading"
                    placeholder="Search & Select POCs Here"
                    [virtualScroll]="true"
                    (scroll)="modalService.onScroll($event, pocsBuffer, bufferSize, POCs, pocsLoading)"
                    (scrollToEnd)="modalService.onScrollToEnd(pocsBuffer, bufferSize, POCs, pocsLoading)"
                    required>
                    <ng-template ng-header-tmp>
                      <small class="form-text text-muted">Loaded {{ pocsBuffer.length }} of {{ POCs.length }}</small>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="modalService.fieldValidCheck(itStandardsForm, 'itStandPOC')">
                    <div class="invalid-feedback" *ngIf="itStandardsForm.controls['itStandPOC'].errors.required">
                      At least One Business Point of Contact Required
                    </div>
                  </div>
                </div>
              </div>

              <!-- Description -->
              <div class="form-group">
                <label for="itStandDesc">Description</label>
                <textarea type="text" class="form-control" id="itStandDesc" formControlName="itStandDesc"
                  placeholder="Enter a Description" rows="3" [value]="itStandard.Description"></textarea>
              </div>

              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="form-group col-3 my-auto">
                      <label for="itStandType">Type<span class="text-danger">*</span></label>
                      <select class="form-control" [ngClass]="{'is-invalid': modalService.fieldValidCheck(itStandardsForm, 'itStandType')}" id="itStandType"
                        formControlName="itStandType" required>
                        <option *ngFor="let type of types" [value]="type.ID"
                          [selected]="type.Name === itStandard.StandardType">{{ type.Name }}</option>
                      </select>
                      <div *ngIf="modalService.fieldValidCheck(itStandardsForm, 'itStandType')">
                        <div class="invalid-feedback" *ngIf="itStandardsForm.controls['itStandType'].errors.required">
                          IT Standard Type Required
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-5">
                      <label for="itStandCategory">Category<span class="text-danger">*</span></label>
                      <ng-select id="itStandCategory" formControlName="itStandCategory"
                        [items]="categories"
                        [multiple]="true"
                        appendTo="#itStandardsManager"
                        bindLabel="Name"
                        bindValue="ID"
                        clearAllText="Clear All"
                        [clearSearchOnAdd]="true"
                        [closeOnSelect]="false"
                        [loading]="catsLoading"
                        placeholder="Search & Select Categories Here"
                        [virtualScroll]="true"
                        (scroll)="modalService.onScroll($event, catsBuffer, bufferSize, categories, catsLoading)"
                        (scrollToEnd)="modalService.onScrollToEnd(catsBuffer, bufferSize, categories, catsLoading)"
                        required>
                        <ng-template ng-header-tmp>
                          <small class="form-text text-muted">Loaded {{ catsBuffer.length }} of {{ categories.length }}</small>
                        </ng-template>
                      </ng-select>
                      <div *ngIf="modalService.fieldValidCheck(itStandardsForm, 'itStandCategory')">
                        <div class="invalid-feedback" *ngIf="itStandardsForm.controls['itStandCategory'].errors.required">
                          IT Standard Category Required
                        </div>
                      </div>
                    </div>

                    <div class="form-group col-4 my-auto">
                      <label for="itStand508">508 Compliance Status</label>
                      <select class="form-control" id="itStand508" formControlName="itStand508">
                        <option *ngFor="let status of compliance" [value]="status.ID"
                          [selected]="status.Name === itStandard.ComplianceStatus">{{ status.Name }}</option>
                      </select>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="form-group col-3 text-center mb-0">
                      <label for="itStandMyView">Available through MyView</label>
                      <div id="itStandMyView" class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="itStandMyViewSwitch"
                          formControlName="itStandMyView" [checked]="itStandard.Available_through_Myview === 'T'">
                        <label class="custom-control-label" for="itStandMyViewSwitch">True</label>
                      </div>
                    </div>

                    <div class="form-group col-5">
                      <label for="itStandVendorOrg">Vendor Standard Organization</label>
                      <input type="text" class="form-control" id="itStandVendorOrg" formControlName="itStandVendorOrg"
                        placeholder="Enter an Org Name (e.g. Adobe)" [value]="itStandard.Vendor_Standard_Organization">
                    </div>

                    <div class="form-group col-4">
                      <label for="itStandDeployment">Deployment Type<span class="text-danger">*</span></label>
                      <select class="form-control" [ngClass]="{'is-invalid': modalService.fieldValidCheck(itStandardsForm, 'itStandDeployment')}" id="itStandDeployment"
                        formControlName="itStandDeployment" required>
                        <option *ngFor="let type of deploymentTypes" [value]="type.ID"
                          [selected]="type.Name === itStandard.DeploymentType">{{ type.Name }}</option>
                      </select>
                      <div *ngIf="modalService.fieldValidCheck(itStandardsForm, 'itStandDeployment')">
                        <div class="invalid-feedback" *ngIf="itStandardsForm.controls['itStandDeployment'].errors.required">
                          IT Standard Deployment Type Required
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row align-items-center">
                    <div class="form-group col-3 text-center mb-0">
                      <label for="itStandGoldImg">Gold Image</label>
                      <div id="itStandGoldImg" class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="itStandGoldImgSwitch"
                          formControlName="itStandGoldImg" [checked]="itStandard.Gold_Image === 'T'">
                        <label class="custom-control-label" for="itStandGoldImgSwitch">True</label>
                      </div>
                    </div>

                    <div class="form-group col-9">
                      <label for="itStandGoldComment">Gold Image Comment</label>
                      <input type="text" class="form-control" id="itStandGoldComment"
                        formControlName="itStandGoldComment" placeholder="Enter a Comment about the Gold Image"
                        [value]="itStandard.Gold_Image_Comment">
                    </div>
                  </div>
                </div>

                <div class="form-group col-3 text-center">
                  <label for="itStandAprvExp">Approval Expiration Date</label>
                  <div id="itStandAprvExp"></div>
                </div>

              </div>

              <!-- End of General Info Pane -->
              <div class="form-group">
                <label for="itStandComments">Comments</label>
                <textarea type="text" class="form-control" id="itStandComments" formControlName="itStandComments"
                  placeholder="Enter Any Additional Comments" rows="2" [value]="itStandard.Comments"></textarea>
              </div>

              <div class="form-group">
                <label for="itStandRefDocs">Link to Reference Document(s)</label>
                <input type="text" class="form-control" id="itStandRefDocs" formControlName="itStandRefDocs"
                  placeholder="Enter a Link to Doc or Folder for Reference" [value]="itStandard.ReferenceDocuments">
              </div>
            </div>
            <!-- End of Overview Pane -->

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-danger mr-auto">* Required</div>
        <div [hidden]="!itStandard.ChangeDTG" class="position-absolute center text-center">
          Last Updated:<br>{{ itStandard.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}
        </div>
        <div class="col-md-3 pl-0 ml-0 custom-control custom-checkbox text-right">
          <input type="checkbox" class="custom-control-input" id="itStandCertifyCheck" [(ngModel)]="itStandCertify">
          <label class="custom-control-label" for="itStandCertifyCheck">
            <span class="text-danger">*</span>
            I certify all data is correct and up-to-date
          </label>
        </div>
        <button type="submit" form="itStandardsForm" class="btn btn-info text-white" (click)="submitForm()"
          [disabled]="!(itStandCertify && itStandardsForm.valid)">Save</button>
      </div>

    </div>
  </div>
</div>