<!-- Application Manager Modal -->
<div class="modal fade" id="appManager" tabindex="-1" role="dialog" aria-labelledby="appMngrTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title text-white" id="appMngrTitle">
          <i class="fas fa-money-bill-wave"></i>
          <span *ngIf="application.Name; else elseAppName"> {{ application.Name }} - <span
              class="text-primary">**EDITING**</span></span>
          <ng-template #elseAppName> Create New Business Application</ng-template>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="appMngrTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#appMngrOverview">
              Overview<span class="text-danger">*</span></a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#appMngrBusiness">
              Business<span class="text-danger">*</span></a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#appMngrTechnology">
              Technology<span class="text-danger">*</span></a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#appMngrTIME">
              TIME Analysis<span class="text-danger">*</span></a></li>
        </ul>

        <!-- Tab Panes -->
        <form [formGroup]="appForm" class="container">
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="appMngrOverview">

              <div class="row align-items-center">
                <div class="form-group col-6">
                  <label for="appDisplayName">Display Name or Alias<span class="text-danger">*</span></label>
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appDisplayName')}"
                    id="appDisplayName" formControlName="appDisplayName" placeholder="Enter a Short Name or Alias"
                    [value]="application.DisplayName" required>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appDisplayName')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appDisplayName'].errors.required">
                      Application Display Name/Alias Required
                    </div>
                  </div>
                </div>

                <div class="form-group col-3">
                  <label for="appStatus">Status<span class="text-danger">*</span></label>
                  <select class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appStatus')}" id="appStatus"
                    formControlName="appStatus" required>
                    <option *ngFor="let status of statuses" [value]="status.ID"
                      [selected]="status.Name === application.Status">{{ status.Name }}</option>
                  </select>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appStatus')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appStatus'].errors.required">
                      Application Status Required
                    </div>
                  </div>
                </div>

                <div class="form-group col-3">
                  <label for="appOrWeb">Application or Website<span class="text-danger">*</span></label>
                  <select class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appOrWeb')}" id="appOrWeb"
                    formControlName="appOrWeb" required>
                    <option value="Application" [selected]="application.Application_or_Website === 'Application'">
                      Application</option>
                    <option value="Website" [selected]="application.Application_or_Website === 'Website'">Website
                    </option>
                  </select>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appOrWeb')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appOrWeb'].errors.required">
                      Application or Website Indication Required
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="appName">Full Application Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control"
                  [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appName')}" id="appName"
                  formControlName="appName" placeholder="Enter a Name" [value]="application.Name" required>
                <div *ngIf="modalService.fieldValidCheck(appForm, 'appName')">
                  <div class="invalid-feedback" *ngIf="appForm.controls['appName'].errors.required">
                    Application Name Required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="appDesc">Description</label>
                <textarea type="text" class="form-control" id="appDesc" formControlName="appDesc"
                  placeholder="Enter a Description" rows="5" [value]="application.Description"></textarea>
              </div>

              <div class="form-group">
                <label for="appNotes">Application Notes</label>
                <textarea type="text" class="form-control" id="appNotes" formControlName="appNotes"
                  placeholder="Enter Additional Notes, if any" rows="2"
                  [value]="application.Application_Notes"></textarea>
              </div>

              <div class="form-group">
                <label for="appRefDoc">Reference Document Google Drive Link</label>
                <input type="text" class="form-control" id="appRefDoc" formControlName="appRefDoc"
                  placeholder="Enter a Google Drive Link" [value]="application.Reference_Document">
              </div>

            </div>
            <!-- End of Overview Pane -->

            <div class="tab-pane fade" id="appMngrBusiness">
              <div class="row">
                <div class="form-group col">
                  <label for="appUID">Application ID<span class="text-danger">*</span></label>
                  <input type="text" class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appUID')}" id="appUID"
                    formControlName="appUID" placeholder="Ex: 1234-1234-1234567-1234" [value]="application.OMBUID"
                    required>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appUID')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appUID'].errors.required">
                      Application Unique Identifier Required
                    </div>
                    <div class="invalid-feedback" *ngIf="appForm.controls['appUID'].errors.pattern">
                      Application Unique Identifier Needs to be in the Form of [4 digits]-[4 digits]-[7 digits]-[4
                      digits]
                    </div>
                  </div>
                </div>

                <div class="form-group col">
                  <label for="appCUI">CUI Indicator</label>
                  <select class="form-control" id="appCUI" formControlName="appCUI">
                    <option value="Yes" [selected]="application.CUI === 'Yes'">Yes</option>
                    <option value="No" [selected]="application.CUI === 'No'">No</option>
                    <option value="TBD" [selected]="application.CUI === 'TBD'">TBD</option>
                  </select>
                </div>

                <div class="form-group col">
                  <label for="appProdYr">Production Year</label>
                  <input type="number" class="form-control" id="appProdYr" formControlName="appProdYr"
                    placeholder="Ex: 2008" min="1950" max="3000" [value]="application.ProdYear">
                </div>

                <div class="form-group col">
                  <label for="appRetiredYr">Retired Year</label>
                  <input type="number" class="form-control" id="appRetiredYr" formControlName="appRetiredYr"
                    placeholder="Ex: 2020" min="1950" max="3000" [value]="application.RetiredYear">
                </div>
              </div>

              <div class="row align-items-center">
                <div class="form-group col-4">
                  <label for="appBizPOC">Business Point of Contact(s)<span class="text-danger">*</span></label>
                  <ng-select id="appBizPOC" formControlName="appBizPOC" [items]="POCs" [multiple]="true"
                    appendTo="#appManager" bindLabel="Name" bindValue="ID" clearAllText="Clear All"
                    [clearSearchOnAdd]="true" [closeOnSelect]="false" [loading]="pocsLoading"
                    placeholder="Search & Select POCs Here" [virtualScroll]="true"
                    (scroll)="modalService.onScroll($event, pocsBuffer, bufferSize, POCs, pocsLoading)"
                    (scrollToEnd)="modalService.onScrollToEnd(pocsBuffer, bufferSize, POCs, pocsLoading)" required>
                    <ng-template ng-header-tmp>
                      <small class="form-text text-muted">Loaded {{ pocsBuffer.length }} of {{ POCs.length }}</small>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appBizPOC')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appBizPOC'].errors.required">
                      At least One Business Point of Contact Required
                    </div>
                  </div>
                </div>

                <div class="form-group col-4">
                  <label for="appOwner">Owning Org<span class="text-danger">*</span></label>
                  <select class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appOwner')}" id="appOwner"
                    formControlName="appOwner" required>
                    <option *ngFor="let org of orgs" [value]="org.ID" [selected]="org.Name === application.Owner">
                      {{ org.Name }}</option>
                  </select>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appOwner')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appOwner'].errors.required">
                      Owning Organization Required
                    </div>
                  </div>
                </div>

                <div class="form-group col-4">
                  <label for="appSupport">Supporting Org</label>
                  <select class="form-control"
                    [ngClass]="{'is-invalid': modalService.fieldValidCheck(appForm, 'appSupport')}" id="appSupport"
                    formControlName="appSupport">
                    <option *ngFor="let org of orgs" [value]="org.ID" [selected]="org.Name === application.Support">
                      {{ org.Name }}</option>
                  </select>
                </div>

              </div>

            </div>
            <!-- End of Business Pane -->

            <div class="tab-pane fade" id="appMngrTechnology">
              <div class="row align-items-center">
                <div class="form-group col-2 text-center mb-0">
                  <label for="appCloud">Cloud Enabled?</label>
                  <div id="appCloud" class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="appCloudSwitch" formControlName="appCloud">
                    <label class="custom-control-label" for="appCloudSwitch">Yes</label>
                  </div>
                </div>

                <!-- <div class="form-group col-2 text-center mb-0">
                  <label for="appDesktop">Desktop Indicator</label>
                  <div id="appDesktop" class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="appDesktopSwitch"
                      formControlName="appDesktop" [checked]="application.Mobile_App_Indicator === 'Yes'">
                    <label class="custom-control-label" for="appDesktopSwitch">Yes</label>
                  </div>
                </div> -->

                <div class="form-group col-2 text-center mb-0">
                  <label for="appMobile">Mobile App?</label>
                  <div id="appMobile" class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="appMobileSwitch"
                      formControlName="appMobile">
                    <label class="custom-control-label" for="appMobileSwitch">Yes</label>
                  </div>
                </div>

                <div class="form-group col">
                  <label for="appHost">Hosting Provider<span class="text-danger">*</span></label>
                  <select class="form-control" id="appHost" formControlName="appHost" required>
                    <option *ngFor="let host of hosts" [value]="host.ID"
                      [selected]="application.HostingProvider === host.Name">{{ host.Name }}</option>
                  </select>
                </div>

              </div>

              <div class="row align-items-center">
                <div class="form-group col-5">
                  <label for="appTechPOC">Technical Point of Contact(s)<span class="text-danger">*</span></label>
                  <ng-select id="appTechPOC" formControlName="appTechPOC" [items]="POCs" [multiple]="true"
                    appendTo="#appManager" bindLabel="Name" bindValue="ID" clearAllText="Clear All"
                    [clearSearchOnAdd]="true" [closeOnSelect]="false" [loading]="pocsLoading"
                    placeholder="Search & Select POCs Here" [virtualScroll]="true"
                    (scroll)="modalService.onScroll($event, pocsBuffer, bufferSize, POCs, pocsLoading)"
                    (scrollToEnd)="modalService.onScrollToEnd(pocsBuffer, bufferSize, POCs, pocsLoading)" required>
                    <ng-template ng-header-tmp>
                      <small class="form-text text-muted">Loaded {{ pocsBuffer.length }} of {{ POCs.length }}</small>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="modalService.fieldValidCheck(appForm, 'appTechPOC')">
                    <div class="invalid-feedback" *ngIf="appForm.controls['appTechPOC'].errors.required">
                      At least One Technical Point of Contact Required
                    </div>
                  </div>
                </div>

                <div class="form-group col">
                  <label for="appFISMA">FISMA System</label>
                  <select class="form-control" id="appFISMA" formControlName="appFISMA">
                    <option *ngFor="let system of fismaSystems" [value]="system.ID"
                      [selected]="application.FISMASystem === system.Name">{{ system.Name }}</option>
                  </select>
                </div>

                <div class="form-group col">
                  <label for="appParent">Parent System</label>
                  <select class="form-control" id="appParent" formControlName="appParent">
                    <option *ngFor="let system of parentSystems" [value]="system.ID"
                      [selected]="application.ParentSystem === system.Name">{{ system.Name }}</option>
                  </select>
                </div>
              </div>

              <div class="text-center mt-3">
                <h4 class="justify-content-center">Related Technologies</h4>
                <div class="row">
                  <div class="form-group col-5">
                    <label for="standardsPool">IT-Standards Pool</label>
                    <select class="form-control" id="standardsPool" size="14" multiple>
                      <option *ngFor="let tech of notSelected" [value]="tech.ID">
                        {{ tech.Name }} - ({{ tech.Status }})</option>
                    </select>
                  </div>

                  <div class="col-2 my-auto">
                    <button class="btn btn-success w-100 mb-5" (click)="poolToSelected()">Move to<br>Selected <i
                        class="fas fa-arrow-right  fa-lg"></i></button>
                    <button class="btn btn-warning w-100" (click)="selectedToPool()"><i
                        class="fas fa-arrow-left fa-lg"></i> Move to<br>Un-Selected</button>
                  </div>

                  <div class="form-group col-5">
                    <label for="standardsSelect">Selected</label>
                    <select class="form-control" id="standardsSelect" size="14" multiple>
                      <option *ngFor="let tech of techRelations" [value]="tech.ID">
                        {{ tech.Name }} - ({{ tech.Status }})</option>
                    </select>
                  </div>
                </div>
              </div>

            </div>
            <!-- End of Technology Pane -->

            <div class="tab-pane fade text-center" id="appMngrTIME">
              <!-- TIME Definitions Link -->
              <div class="row">
                <a class="link mb-3 float-left" [routerLink]="['/about', 'appRat']" target="_blank">
                  TIME Value Definitions</a>
              </div>

              <div class="row justify-content-center">
                <ng-template ngFor let-year [ngForOf]="TIMEYears">
                  <div class="form-group col-2">
                    <label for="TIME{{ year }}">{{ year }}</label>
                    <select class="form-control" id="TIME{{ year }}" formControlName="TIME{{ year }}">
                      <option *ngFor="let TIME of TIMEValues" [value]="TIME" [selected]="timeMatch('FY19', TIME)">
                        {{ TIME }}</option>
                    </select>
                  </div>
                </ng-template>
              </div>

              <div class="row justify-content-center">
                <div class="form-group w-75 mt-3">
                  <label for="TIMENotes">TIME Notes</label>
                  <textarea type="text" class="form-control" id="TIMENotes" formControlName="TIMENotes"
                    placeholder="Enter Notes on Rational of Roadmap" rows="2"
                    [value]="application.TIME_Notes"></textarea>
                </div>
              </div>

            </div>
            <!-- End of TIME Pane -->

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-danger mr-auto">* Required</div>
        <div [hidden]="!application.ChangeDTG" class="position-absolute center text-center">
          Last Updated:<br>{{ application.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}
        </div>
        <div class="col-md-3 pl-0 ml-0 custom-control custom-checkbox text-right">
          <input type="checkbox" class="custom-control-input" id="appCertifyCheck" [(ngModel)]="appCertify">
          <label class="custom-control-label" for="appCertifyCheck">
            <span class="text-danger">*</span>
            I certify all data is correct and up-to-date
          </label>
        </div>
        <button type="submit" form="appForm" class="btn btn-info text-white" (click)="submitForm()"
          [disabled]="!(appCertify && appForm.valid)">Save</button>
      </div>

    </div>
  </div>
</div>