<div class="capability-details-container" *ngIf="isDataReady">
    <div class="breadcrumb-container">
         <app-breadcrumb>
            <span currentPageName>{{detailsData.Name}}</span>
         </app-breadcrumb>
    </div>
    <div class="title-container">
        <span class="title">{{detailsData.Name}}</span>
    </div>
    <div class="content-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" [class.active]="isOverviewTabActive" (click)="onTabClick('overview', $event)" href="#overview">Overview</a>
            </li>
            <li class="nav-item" *ngIf="hasRelatedOrganizations">
                <a class="nav-link" [class.active]="isRelatedOrganizationsTabActive" (click)="onTabClick('related_organizations', $event)" href="#related_organizations">Related Organizations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [class.active]="isSupportingSystemsTabActive" (click)="onTabClick('supporting_systems', $event)" href="#supporting_systems">Supporting Systems</a>
            </li>
        </ul>
        <div class="overview-container" *ngIf="isOverviewTabActive">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="data-wrapper">
                        <div class="data-full">
                            <label class="data-label">
                                <span>
                                    Description
                                </span>
                            </label>
                            <span>
                                <span>{{detailsData.Description}}</span>
                            </span>
                        </div>
                        <div class="data-full">
                            <label class="data-label">
                                <span>
                                    Level
                                </span>
                            </label>
                            <span>
                                <span>{{detailsData.Level}}</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="related-organizations-container" *ngIf="isRelatedOrganizationsTabActive">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="sub-content full-width">
                        <span class="sub-header">Related Organizations</span>
                        <app-table [tableCols]="relatedOrgsTableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
                    </div>
                </div>
            </div>
        </div>
        <div class="supporting-systems-container" *ngIf="isSupportingSystemsTabActive">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="sub-content full-width">
                        <span class="sub-header">Supporting Systems</span>
                        <app-table [tableCols]="supportingSystemsTableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>