@if (filterButtons && filterButtons.length > 0) {
  <div class="d-flex align-items-center justify-content-center flex-1">
    <span class="mr-2">Filter Buttons:</span>
    @for (buttons of filterButtons; track buttons) {
      <span class="mr-2">
        @for (button of buttons; track button) {
          <p-button (click)="onFilterButtonClick(button)" [ngClass]="{'it-standards-filter-button-active': isFilterButtonActive(button)}" severity="contrast" [ariaLabel]="'Filter by ' + button.buttonText">{{button.buttonText}}</p-button>
        }
      </span>
    }
    @if (showResetButton()) {
      <span><p-button (click)="onFilterButtonClear()" severity="primary" ariaLabel="Reset Filters">Reset Filters</p-button></span>
    }
  </div>
}