<div class="card bg-light">
  <div class="card-header text-white bg-dark">
    <h3 class="card-title my-auto">GSA Enterprise Architecture Reporting (GEAR)
      Portal
      Overview</h3>
  </div>
  <div class="card-body card-text">
    <p>For users of Assistive Technology, this page is intended to give you
      an overview of GEAR (the GSA Enterprise Analysis and Reporting site),
      in order to provide a frame of reference for further navigation.
    <p>The front page consists of five navigation links (“Strategy,”
      “Business,” “Business Applications,” “Security,” and “Infrastructure”)
      that open up to list different reports (such as “GSA IT Strategic
      Framework” or “GSA Investments” under the “Strategy” navigation link).
      These navigation links are available on every one of the GEAR pages.
    <p>There are also four information links (“About”, “Assistive
      Technology” (this page), “Contact EA Team,”). Besides the “Home” link,
      these links take you to other pages that are formatted differently.
    <p>The remainder of the front page consists of four dynamically
      created charts, depicting a count of business applications owned by
      an SSO, or investments in a particular category. The unlabelled
      images that your screen reader describes to you are either the
      pieces of the pie chart or color labels for the legend. There are no
      images of significance on the GEAR site.
    <p>For every dynamic chart on the GEAR site, there is an
      accompanying list that contains the same information. For example, under
      the “Business” navigation link, there is a “GSA Capability Model” that
      visually depicts the same information that is available in the “GSA
      Capability List.”
    <p>If you discover a component of the GEAR site that causes a
      problem with your assistive technology, please let us know at
      <a
      href="https://mail.google.com/mail/?view=cm&fs=1&to=ea_planning@gsa.gov"
      target="_blank" class="card-link">ea_planning@gsa.gov</a>. We strive to
      make this site equally available to everyone.
  </div>
</div>
