<!-- replaced by new link below for gg-178 <a href="https://www.gsa.gov/cdnstatic/GSA%20IT%20Strategic%20Plan%20FY%202018-2021_.pdf" -->
<a href="https://www.gsa.gov/reference/reports/budget-and-performance/gsa-fy-20222026-strategic-plan"
  target="_blank" rel="noopener"> Download Full GSA IT Strategic Plan <i class="fas fa-external-link-alt"></i>
</a>

<pdf-viewer [src]="frameworkSrc"
            [render-text]="true"
            [render-text-mode]="2"
            [zoom]="1"
            style="display: block;">
</pdf-viewer>
