<!-- replaced by new link below for gg-178 <a href="https://www.gsa.gov/cdnstatic/GSA%20IT%20Strategic%20Plan%20FY%202018-2021_.pdf" -->
<div class="card">
  <div class="card-header text-white bg-purple text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-cog mr-2"></i>
        GSA strategic plan View
      </span>
    </h3>
  </div>
  <div class="card-body card-text">
    <iframe src="/assets/img/GSA IT Strategic Framework.pdf" width="100%"
      aria-label="GSA strategic plan View" height="{{ pdfHeight }}"></iframe>
  </div>
</div>
