.footer {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  color: #9d9d9d;
  text-align: center;
  background-color: #222;
  border: 0;
}

.vertical-center {
  z-index: 100;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 50%;
  right: -3%;
  border: none;
  transform: rotate(270deg) translateY(-50%);
  cursor: pointer;
  background: rgb(35, 120, 195);
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.info-banner {
    background-color: #f7f2b0;
    display: flex;
    justify-content: center;
    padding: 0.25rem 0;
}

.info-banner span {
  font-weight: bold;
}

.info-banner a {
  color:rgb(35, 120, 195);
  text-decoration: underline;
  cursor: pointer;
}

.maintenance-banner {
  background-color: #f88d8d;
  display: flex;
  justify-content: center;
  padding: 0.25rem 0;
}

.maintenance-banner span {
font-weight: bold;
}