.nav-item.dropdown:hover>.dropdown-menu {
  display: block;
}

/* Sidebar */
ng-sidebar-container {
  height: 100vh;
  z-index: 100; /* Behind the top navbar */
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Side Menu item*/
ng-sidebar .list-group a {
    color: white;
}

.footer {
  position: fixed;
  height: 20px;
  right: 0;
  left: 0;
  bottom: 0;
  color: #9d9d9d;
  text-align: center;
  background-color: #222;
  border: 0;
}
