// .site-container {
//   display: flex;
//   flex-direction: column;

//   & .content-container {
//     display: flex;
//     flex-direction: row;
//     height: 100%;
//   }
// }

.site-container {
  display: flex;
  flex-direction: column;

  & .full-content-container {
    display: flex;
    flex-direction: row;
    height: 100%;

    & .content-container {
      display: flex;
      flex-direction: column;
    }
  }
}



.vertical-center {
  z-index: 100;
  padding: 5px 10px 12px 10px;
  margin: 0;
  position: fixed;
  top: 50%;
  right: -4%;
  border: none;
  transform: rotate(270deg) translateY(-50%);
  cursor: pointer;
  background: rgb(35, 120, 195);
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;

  @media (max-width: 1575px) {
    padding: 3px 8px 8px 8px;
  }
}