<!-- Top Navbar -->
<top-navbar></top-navbar>

<!-- Sidebar -->
<app-sidebar></app-sidebar>

<div class="page-wrap">
  <div class="sidebar-content-wrapper">
    <div class="sidebar-icon-container" 
         (mouseenter)="onSidebarIconsMouseEnter()"
         tabindex="0"
         (keydown)="onSidebarIconsKeyDown($event)"
         role="application"
         aria-details="Press enter or space to open the sidebar navigation"
         aria-roledescription="sidebar navigation toggle">
      <div class="sidebar-icon-wrap">
        <div class="sidebar-icon it-strategy"><i class="fas fa-puzzle-piece fa-lg fa-fw"></i></div>
        <div class="sidebar-icon gsa-enterprise"><i class="fas fa-sitemap fa-lg fa-fw"></i></div>
        <div class="sidebar-icon business-systems"><i class="fas fa-laptop fa-lg fa-fw"></i></div>
        <div class="sidebar-icon security"><i class="fas fa-shield-alt fa-lg fa-fw"></i></div>
        <div class="sidebar-icon technologies"><i class="fas fa-microchip fa-lg fa-fw"></i></div>
        <div class="sidebar-icon enterprise-architecture"><i class="fas fa-network-wired fa-lg fa-fw"></i></div>
        <div class="icon-break"></div>
        <div class="sidebar-icon additional-info"><i class="fab fa-wpforms fa-lg fa-fw"></i></div>
      </div>
    </div>
    
    <!-- Main Module -->
    <div class="container-fluid content-body" id="mainModule">
      <div class="w-100">
        <main role="main">
          <div class="">
            <div class="col-md-12">
              <!-- Logged In Notification -->
              <div
                id="loggedIn"
                class="container toast hide rounded-lg w-25"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-delay="3000"
              >
                <div id="loggedInCollapse" class="collapse">
                  <div class="toast-header">
                    <i class="fa fa-sign-in-alt mr-2 fa-fw"></i>
                    <strong class="mr-auto text-success"
                      >You have successfully logged into GEAR Manager!</strong
                    >
                  </div>
                </div>
              </div>

              <!-- Logged Out Notification -->
              <div
                id="loggedOut"
                class="container toast hide rounded-lg w-25"
                role="alert"
                aria-live="assertive"
                aria-atomic="true"
                data-delay="3000"
              >
                <div id="loggedOutCollapse" class="collapse">
                  <div class="toast-header">
                    <i class="fas fa-sign-out-alt mr-2 fa-fw"></i>
                    <strong class="mr-auto text-warning"
                      >You have been logged out of GEAR Manager!</strong
                    >
                  </div>
                </div>
              </div>

              <!-- Components Content -->
              <router-outlet></router-outlet>
            </div>
          </div>
        </main>
      </div>
    </div>
    <!-- End Main Module -->
  </div>

  <!-- Footer -->
  <footer class="footer mt-auto" id="footer">
    <div class="container">
      <small>GSA Enterprise Architecture 2024, v3.0</small>
    </div>
    <!-- USWDS Identifier -->
    <app-identifier></app-identifier>
  </footer>
  <!-- End Footer -->
</div>

<!-- Details Modals -->
<investments-modal></investments-modal>
<capabilities-modal></capabilities-modal>
<organizations-modal></organizations-modal>
<website-service-category-modal></website-service-category-modal>
<systems-modal></systems-modal>
<records-modal></records-modal>
<websites-modal></websites-modal>
<fisma-modal></fisma-modal>
<it-standards-modal></it-standards-modal>

<!-- GEAR Manager Modals -->
<capability-manager></capability-manager>
<it-standard-manager></it-standard-manager>
<record-manager></record-manager>
<website-manager></website-manager>
<system-manager></system-manager>

<button class="vertical-center" (click)="showPopup('https://feedback.gsa.gov/jfe/form/SV_1FHaqcMEjIa9hPM','feedback', 900, 600)">Give Feedback</button>