<!-- Top Navbar -->
<top-navbar></top-navbar>

<!-- Main Module -->
<div class="container-fluid" id="mainModule">
  <div class="row">
    <!-- Side Navbar -->
    <sidenav>
      <!-- Page content is within sidenav component -->
    </sidenav>
  </div>
</div>
<!-- End Main Module -->

<!-- Footer -->
<footer class="footer mt-auto" id="footer">
  <div class="container">
    <small>GSA Enterprise Architecture 202555, v3.0</small>
  </div>
</footer>
<!-- End Footer -->

<!-- Details Modals -->
<investments-modal></investments-modal>
<capabilities-modal></capabilities-modal>
<organizations-modal></organizations-modal>
<website-service-category-modal></website-service-category-modal>
<systems-modal></systems-modal>
<records-modal></records-modal>
<websites-modal></websites-modal>
<fisma-modal></fisma-modal>
<it-standards-modal></it-standards-modal>

<!-- GEAR Manager Modals -->
<capability-manager></capability-manager>
<it-standard-manager></it-standard-manager>
<record-manager></record-manager>
<website-manager></website-manager>
<system-manager></system-manager>

<button class="vertical-center" (click)="showPopup('https://feedback.gsa.gov/jfe/form/SV_1FHaqcMEjIa9hPM','feedback', 900, 600)">Give Feedback</button>