.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  & .content-container {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
}

.vertical-center {
  z-index: 100;
  padding: 5px 10px 12px 10px;
  margin: 0;
  position: fixed;
  top: 50%;
  right: -4%;
  border: none;
  transform: rotate(270deg) translateY(-50%);
  cursor: pointer;
  background: rgb(35, 120, 195);
  font-size: 15px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}