.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh; // Use viewport height to maximize space

  & .main-container {
    display: flex;
    flex-direction: row;
  
    & .content-container {
      display: flex;
      flex-direction: column;
     
    }
  }

  & footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; // Don't shrink footer

    & .footer-text {
      text-align: center;
    }
  }
}





