<div class="card">
  <div class="card-header text-info bg-silver text-center">
    <h3 class="card-title col-12 mb-0 align-self-center">
      <span>
        <fa-icon [icon]="['fas', 'user-cog']"></fa-icon>
        GEAR Manager Portal</span>
    </h3>
  </div>

  <div style="background-color:#fff9de;">
    <h1 style="text-align: center;">Warning: Official Use Only</h1>
    <h3 style="text-align: center;">******WARNING******</h3>
    <div class="container">
      <div class="col"></div>
      <div class="col">
        <p style="text-align: left;">
          This is a U.S. General Services Administration Federal Government computer system that is "FOR OFFICIAL USE ONLY."
          This system is subject to monitoring.
          Individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.
        </p>
      </div>
      <div class="col"></div>
    </div>
  </div>
  
  <div class="row card-body card-text justify-content-center">
    <div class="col-3">
      <img
        src="https://images.idgesg.net/images/article/2019/07/it-security_lock_cybersecurity_breach_alignment-100801286-large.jpg"
        alt="">
    </div>

    <div class="col-4 my-auto">
      <p>
        If you have a business need to edit/add data to the IT Standards list, please 
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSdmvOEESbKRJ5z4GnOw9hMqWIAI8m5H8I0-tB4zU3mc3aeYPA/viewform?usp=sf_link" 
          class="text-info card-link">
          request access to GEAR Manager
        </a>
      </p>
      <p>
        The GEAR Manager portal provides the ability for the EA Team and the CTO Office to edit and update mappings of
        investments and IT Standards to systems to reflect in GEAR.
      </p>
      <p>If you've already been granted access,</p>
      <h3><a href="/beginAuth" rel="noopener noreferrer" class="text-info card-link">Access
          GEAR Manager</a>
      </h3>
    </div>
  </div>
</div>