<div class="card">
  <div class="card-header text-info bg-silver text-center">
    <h3 class="card-title col-12 mb-0 align-self-center">
      <span>
        <i class="fas fa-user-cog"></i>
        GEAR Manager Portal</span>
    </h3>
  </div>

  <div class="row card-body card-text justify-content-center">
    <div class="col-3">
      <img
        src="https://images.idgesg.net/images/article/2019/07/it-security_lock_cybersecurity_breach_alignment-100801286-large.jpg"
        alt="">
    </div>

    <div class="col-4 my-auto">
      <p>
        The GEAR Manager portal provides the ability for business and technology POCs to edit and update their
        applications to reflect in GEAR.
      </p>
      <p>If you have a business need to edit GEAR data, please <a routerLink="/manager_request"
        class="card-link">request access to GEAR Manager</a>.
      </p>
      <p>If you've already been granted access,</p>
      <h3><a href="/beginAuth" rel="noopener noreferrer" class="text-info card-link">Access
          GEAR Manager</a>
      </h3>
    </div>
  </div>
</div>