<div class="card bg-light">
  <div class="card-header text-white bg-dark">
    <h3 class="card-title my-auto">GEAR Assistive Technology Explanations</h3>
  </div>
  <div class="card-body card-text">
    <p>For users of Assistive Technology, this page is intended to give you an overview of GEAR (the GSA EA Analytics
      and Reporting tool) to provide a frame of reference for further navigation.
    <p>The main landing page consists of six major navigation links to the left ("IT Strategy," GSA Enterprise,"
      "Business Systems," "Security," "Technologies," "Enterprise Architecture," and "Additional Information") 
      that open up to list different sub-sections (such as "IT Strategic Framework" or "IT Investments" under the 
      "Strategy" navigation link). These navigation links are available on every one of the GEAR pages on the left side
      as well as at the top of the page, named "GEAR Navigation". If your computer's display is small (like a laptop 
      screen), then the "GEAR Navigation" will appear under the "More Links" dropdown.
    <p>There are also four links on the top navigation bar ("About," the aforementioned "GEAR Navigation," "Assistive Technology" (this page),
      and "Contact/Feedback"). Except for the "GEAR Navigation" option, these links take you to descriptive pages 
      (like this page) that are formatted differently than the main sections linked on the left of the page.
    <p>The "Business Capabilities Model" and "Organization Chart" links under the "GSA Enterprise" navigation link
      display dynamic charts that are interactive with a network of connected nodes, showing the relationships between
      capabilities or organizations. Accompanying each dynamic chart is a table that contains the same information. For
      example, under the "GSA Enterprise" navigation link, there is a "Business Capability Model" that visually depicts
      the same information that is available in the "Business Capability List."
    <p>If you discover a component of the GEAR site that causes a problem with your assistive technology, please let us
      know at <a href="https://mail.google.com/mail/?view=cm&fs=1&to=ea_planning@gsa.gov" target="_blank" rel="noopener"
        class="card-link">ea_planning@gsa.gov</a>. We strive to make this site equally accessible to everyone.
  </div>
</div>