<!-- Record Detail Modal -->
<div
  class="modal fade"
  id="recordDetail"
  tabindex="-1"
  role="dialog"
  aria-labelledby="recordTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <a
          class="mr-3 text-white"
          role="button"
          tabindex="0"
          aria-label="Previous"
          (click)="tableService.previousModalRoute('recordDetail')"
          [hidden]="!modalService.checkModalRoutes()"
        >
          <i class="fas fa-arrow-circle-left fa-lg fa-fw"></i>
        </a>
        <h5 class="modal-title text-white" id="recordTitle">
          <i class="far fa-folder-open"></i>
          {{ record.Record_Item_Title }}
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <i class="fas fa-times fa-lg text-white align-self-center"></i>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="recordTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#recordsOverview"
            >
              Overview</a
            >
          </li>
          <li class="nav-item" *ngIf="showRelatedSystemsTab()">
            <a class="nav-link" data-toggle="tab" href="#recRelatedSystems">
              Related Systems</a
            >
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="recordsOverview">
            <h4>Description</h4>
            <p>{{ record.Description }}</p>
            <br />

            <h4>Retention Instructions</h4>
            <div>
              <p>{{ record.Retention_Instructions }}</p>
            </div>
            <div [hidden]="record.Retention_Instructions">None</div>
            <br />

            <h4>Disposition Notes</h4>
            <div>
              <p>{{ record.Disposition_Notes }}</p>
            </div>
            <div [hidden]="record.Disposition_Notes">None</div>
            <br />

            <table
              id="recordDetailTable"
              class="table table-borderless table-striped table-dark rounded-lg w-75 mx-auto"
            >
              <thead class="bg-danger">
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><i class="fa fa-bookmark"></i>CUI</td>
                  <td>{{ record.CUI }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-bookmark"></i>Retention Years</td>
                  <td>{{ record.FY_Retention_Years }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-user-lock"></i>Disposition Authority</td>
                  <td>{{ record.Legal_Disposition_Authority }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-calendar-day"></i>DA Approval Date</td>
                  <td>{{ record.Date_DA_Approved }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-certificate"></i>Disposition Type</td>
                  <td>{{ record.Type_Disposition }}</td>
                </tr>
                <tr>
                  <td><i class="far fa-list-alt"></i>FP Category</td>
                  <td>{{ record.FP_Category }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-hashtag"></i>GSA Number</td>
                  <td>{{ record.GSA_Number }}</td>
                </tr>
                <tr>
                  <td><i class="far fa-address-card"></i>PII</td>
                  <td>{{ record.PII }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-users"></i>Record Group</td>
                  <td>{{ record.RG }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-fingerprint"></i>Record ID</td>
                  <td>{{ record.Rec_ID }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i>Status</td>
                  <td>{{ record.Record_Status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End of Overview Tab Pane -->

          <div class="tab-pane fade" id="recRelatedSystems">
            <table id="recordsRelSysTable"></table>
          </div>
        </div>
        <!-- End of Tab Panes -->
      </div>
      <!-- End of Modal Body -->

      <div class="modal-footer">
        <button
          type="button"
          [hidden]="!sharedService.loggedIn"
          class="btn btn-info text-white"
          (click)="recordEdit()"
        >
          Edit This Item
        </button>
      </div>
    </div>
  </div>
</div>
