<div class="card">
  <div class="card-header text-white bg-warning text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <i class="fas fa-shield-alt mr-2"></i>GSA 
        <span [hidden]="retiredTable">Active </span>
        <span [hidden]="!retiredTable">Retired </span>
        FISMA System Inventory
      </span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Table" data-content="<b>Details:</b> <b><i>DOUBLE</i></b> left click on a row within the table to 
        view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="mr-2">More Help</span><i class="far fa-question-circle fa-2x"></i>
    </a>
  </div>

  <div class="card-body card-text justify-content-center">
    <div class="w-100">
      <!-- FISMA Definition Popover -->
      <a tabindex="0" class="btn btn-sm btn-info text-white position-absolute float-right w-11" role="button" data-toggle="popover"
        data-trigger="focus" data-placement="auto" data-html="true" title="" data-content="FISMA Inventory is used to track security 
        information for all systems. (<a href='https://www.google.com/search?q=What+is+a+FISMA+Inventory' target='_blank' 
        rel='noopener'>Link</a>)">
        FISMA Definition
      </a>

      <!-- Filters -->
      <div class="text-center">
        <span class="my-auto mr-3">Filter Buttons:</span>
        <button role="button" name="fismaRetiredBttn" class="btn btn-primary" (click)="showRetired()"
          [hidden]="retiredTable">Retired FISMA Systems</button>

        <button role="button" name="fismaBttn" class="btn btn-primary" (click)="backToMainFisma()"
          [hidden]="!retiredTable">Back to Active FISMA Systems</button>
      </div>
    </div>

    <!-- Main Table -->
    <table id="fismaTable" aria-label="The FISMA System Inventory table provides a list of security system boundaries and information and contact information about each FISMA system."></table>
  </div>
</div>