.fisma-inventory-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

    & .fisma-inventory-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
          margin-bottom: .5rem;

        h2{
            margin-bottom: 0;
        }
    }

    & .fisma-inventory-definition-container {
        padding: 1rem;
         background-color: #fff;
         border-radius: 0.3rem;

        & .fisma-inventory-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-bottom: 5px;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .fisma-inventory-data-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
}