.banner-container {
    display: flex;
    flex-direction: column;
    padding: .25rem 0;
    background-color: #f0f0f0;
    
    & .banner-header-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;

        & .banner-flag-icon {
            width: 1rem;
            height: .65rem;
            margin-right: .5rem;
        }

        & .banner-header-text {
            font-size: 10px;
            line-height: 1.1;
            color: #1b1b1b;
        }

        & .banner-header-link-text {
            color: #005ea2;
            background: none;
            border: none;
            line-height: 1.1;
            font-size: 10px;
            text-decoration: underline;
            cursor: pointer;
        }

        & .banner-header-link-icon {
            color: #005ea2;
            font-size: 10px;
            margin: .25rem 0 0 .25rem;
            cursor: pointer;
        }
    }

    & .banner-content-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        padding: .5rem 28rem;
        font-size: 12px;

        & .banner-content-block {
            display: flex;
            flex-direction: row;
            align-items: start;
        }
    }
}