<div class="dashboard-container">
  <h1 class="dashboard-title">Welcome to GEAR</h1>

  <div class="dashboard-quick-view-container">
    <div class="dashboard-metrics-grid">
      <div class="dashboard-quick-view-item">
        <a (click)="viewAllFisma()" class="dashboard-view-all-link" tabindex="0" (keydown.enter)="viewAllFisma()" (keydown.space)="viewAllFisma()">View All</a>
        <div class="dashboard-header-row">
          <div class="dashboard-icon-box" [ngClass]="{'zero-value': (fismaExpiringThisQuarter || 0) === 0}">
            <i class="dashboard-quick-view-icon fas fa-shield-alt"></i>
          </div>
          <span class="dashboard-quick-view-number">{{ fismaExpiringThisQuarter || 0 }}</span>
        </div>
        <span class="dashboard-quick-view-text">FISMA Expiring by {{ getExpiringDate() }}</span>
        <div class="dashboard-quick-view-expire-container" [ngClass]="{'neutral-message': (fismaExpiringThisWeek || 0) === 0}">
          @if ((fismaExpiringThisWeek || 0) > 0) {
            <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
          }
          <span class="dashboard-quick-view-expire-text" [ngClass]="{'positive-expire-text' : fismaExpiringThisWeek > 0, 'neutral-text': (fismaExpiringThisWeek || 0) === 0}">
            @if ((fismaExpiringThisWeek || 0) > 0) {
              <span tabindex="0" (keydown.enter)="viewExpiringFisma()" (keydown.space)="viewExpiringFisma()">{{ fismaExpiringThisWeek || 0 }} items expiring within 7 days</span>
            }
            @if ((fismaExpiringThisWeek || 0) === 0) {
              <span>No items expiring within 7 days</span>
            }
          </span>
        </div>
      </div>
      <div class="dashboard-quick-view-item">
        <a (click)="viewAllSystems()" class="dashboard-view-all-link" tabindex="0" (keydown.enter)="viewAllSystems()" (keydown.space)="viewAllSystems()">View All</a>
        <div class="dashboard-header-row">
          <div class="dashboard-icon-box" [ngClass]="{'zero-value': (decommissionedSystemsLast6Months || 0) === 0}">
            <i class="dashboard-quick-view-icon fas fa-laptop"></i>
          </div>
          <span class="dashboard-quick-view-number">{{ decommissionedSystemsLast6Months || 0 }}</span>
        </div>
        <span class="dashboard-quick-view-text">Decommissioned systems (Last 6 months)</span>
        <div class="dashboard-quick-view-expire-container" [ngClass]="{'neutral-message': (decommissionedSystemsLast7Days || 0) === 0}">
          @if ((decommissionedSystemsLast7Days || 0) > 0) {
            <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
          }
          <span class="dashboard-quick-view-expire-text" [ngClass]="{'positive-expire-text' : decommissionedSystemsLast7Days > 0, 'neutral-text': (decommissionedSystemsLast7Days || 0) === 0}">
            @if ((decommissionedSystemsLast7Days || 0) > 0) {
              <span tabindex="0" (keydown.enter)="viewDecommissionedSystems()" (keydown.space)="viewDecommissionedSystems()">{{ decommissionedSystemsLast7Days || 0 }} items decommissioned in last 7 days</span>
            }
            @if ((decommissionedSystemsLast7Days || 0) === 0) {
              <span>No items decommissioned in last 7 days</span>
            }
          </span>
        </div>
      </div>
      <div class="dashboard-quick-view-item">
        <a (click)="viewAllITStandards()" class="dashboard-view-all-link" tabindex="0" (keydown.enter)="viewAllITStandards()" (keydown.space)="viewAllITStandards()">View All</a>
        <div class="dashboard-header-row">
          <div class="dashboard-icon-box" [ngClass]="{'zero-value': (standardsExpiringThisQuarter || 0) === 0}">
            <i class="dashboard-quick-view-icon fas fa-microchip"></i>
          </div>
          <span class="dashboard-quick-view-number">{{ standardsExpiringThisQuarter || 0 }}</span>
        </div>
        <span class="dashboard-quick-view-text">IT Standards Expiring by {{ getExpiringDate() }}</span>
        <div class="dashboard-quick-view-expire-container" [ngClass]="{'neutral-message': (standardsExpiringThisWeek || 0) === 0}">
          @if ((standardsExpiringThisWeek || 0) > 0) {
            <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
          }
          <span class="dashboard-quick-view-expire-text" [ngClass]="{'positive-expire-text' : standardsExpiringThisWeek > 0, 'neutral-text': (standardsExpiringThisWeek || 0) === 0}">
            @if ((standardsExpiringThisWeek || 0) > 0) {
              <span tabindex="0" (keydown.enter)="viewExpiringITStandards()" (keydown.space)="viewExpiringITStandards()">{{ standardsExpiringThisWeek || 0 }} items expiring within 7 days</span>
            }
            @if ((standardsExpiringThisWeek || 0) === 0) {
              <span>No items expiring within 7 days</span>
            }
          </span>
        </div>
      </div>

      <div class="dashboard-quick-view-item">
        <a (click)="viewAllITStandards()" class="dashboard-view-all-link" tabindex="0" (keydown.enter)="viewAllITStandards()" (keydown.space)="viewAllITStandards()">View All</a>
        <div class="dashboard-header-row">
          <div class="dashboard-icon-box" [ngClass]="{'zero-value': (retiredITStandardsLast6Months || 0) === 0}">
            <i class="dashboard-quick-view-icon fas fa-microchip"></i>
          </div>
          <span class="dashboard-quick-view-number">{{ retiredITStandardsLast6Months || 0 }}</span>
        </div>
        <span class="dashboard-quick-view-text">Retired IT standards (Last 6 months)</span>
        <div class="dashboard-quick-view-expire-container" [ngClass]="{'neutral-message': (retiredITStandardsLast7Days || 0) === 0}">
          @if ((retiredITStandardsLast7Days || 0) > 0) {
            <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
          }
          <span class="dashboard-quick-view-expire-text" [ngClass]="{'positive-expire-text' : retiredITStandardsLast7Days > 0, 'neutral-text': (retiredITStandardsLast7Days || 0) === 0}">
            @if ((retiredITStandardsLast7Days || 0) > 0) {
              <span tabindex="0" (keydown.enter)="viewRecentRetiredITStandards()" (keydown.space)="viewRecentRetiredITStandards()">{{ retiredITStandardsLast7Days || 0 }} items retired in last 7 days</span>
            }
            @if ((retiredITStandardsLast7Days || 0) === 0) {
              <span>No items retired in last 7 days</span>
            }
          </span>
        </div>
      </div>
    </div>
    <div class="dashboard-quick-view-item dashboard-quick-links-card">
      <span class="dashboard-card-title">
        <i class="dashboard-quick-links-icon fas fa-link"></i>
        <span class="dashboard-card-title-text">Quick Links</span>
      </span>
      <div class="dashboard-quick-links-link-container">
        <a routerLink="/it_standards" class="dashboard-quick-links-link">
          Approved/denied software
        </a>
        <a routerLink="/FISMA" class="dashboard-quick-links-link">
          Active FISMA systems
        </a>
        <a routerLink="/systems" class="dashboard-quick-links-link">
          Business systems/subsystems
        </a>
        <a routerLink="/org_chart" class="dashboard-quick-links-link">
          GSA org chart
        </a>
      </div>
    </div>
  </div>

  <div class="dashboard-charts-container">
    <div class="dashboard-charts-grid">
      <div class="dashboard-chart-card bar-chart-card" [ngClass]="{'rotated-labels': shouldRotateLabels}">
        <div class="dashboard-chart-header">
          <h3 class="dashboard-card-title-text">Hosting Platforms</h3>
          <a (click)="viewAllSystems()" class="dashboard-view-all-link" style="cursor: pointer;" tabindex="0" (keydown.enter)="viewAllSystems()" (keydown.space)="viewAllSystems()">View All</a>
        </div>
        <div class="dashboard-chart-content bar-chart-content">
          <ngx-charts-bar-vertical
            [view]="barChartView"
            [scheme]="colorScheme"
            [results]="hostingPlatformsData"
            [gradient]="false"
            [xAxis]="true"
            [yAxis]="true"
            [legend]="false"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisLabel]="'Hosting Platforms'"
            [yAxisLabel]="'# of Systems'"
            [rotateXAxisTicks]="shouldRotateLabels"
            [animations]="true"
            [barPadding]="15"
            [xAxisTickFormatting]="xAxisTickFormatting">
          </ngx-charts-bar-vertical>
        </div>
      </div>

      <div class="dashboard-chart-card pie-chart-card">
        <div class="dashboard-chart-header">
          <h3 class="dashboard-card-title-text">Business Systems</h3>
          <a (click)="viewAllSystems()" class="dashboard-view-all-link" style="cursor: pointer;" tabindex="0" (keydown.enter)="viewAllSystems()" (keydown.space)="viewAllSystems()">View All</a>
        </div>
        <div class="dashboard-chart-content pie-chart-content">
          <ngx-charts-pie-chart
            [view]="pieChartView"
            [scheme]="pieColorScheme"
            [results]="cloudBusinessSystemsData"
            [gradient]="false"
            [legend]="false"
            [labels]="false"
            [doughnut]="true"
            [animations]="true"
            [tooltipDisabled]="false"
            [arcWidth]="0.25"
            (select)="onPieChartSelect($event)">
          </ngx-charts-pie-chart>
          <div class="dashboard-chart-center-text">
            <div class="center-title">Business Systems</div>
            <div class="center-number">{{ totalBusinessSystems || 0 }}</div>
          </div>
        </div>
        <div class="custom-legend">
          <div class="legend-item" (click)="navigateToCloudBasedSystems()" style="cursor: pointer;">
            <div class="legend-color green"></div>
            <span class="legend-text">Cloud Based</span>
          </div>
          <div class="legend-item" (click)="navigateToNonCloudBasedSystems()" style="cursor: pointer;">
            <div class="legend-color orange"></div>
            <span class="legend-text">Not Cloud Based</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dashboard-recent-report-container">
    <div class="dashboard-recent-report-title">
      <span class="dashboard-card-title-text">Recent GSA IT Standards</span>
      <a (click)="viewAllITStandards()" class="dashboard-view-all-link normal" tabindex="0" (keydown.enter)="viewAllITStandards()" (keydown.space)="viewAllITStandards()">View All</a>
    </div>
    @if (showTable) {
      <app-table [tableCols]="tableCols" [showToolbar]="false" [showPagination]="false" reportStyle="neutral" (rowClickEvent)="onTableRowClick($event)">
      </app-table>
    }
  </div>
</div>
