<div class="dashboard-container">
    <h1 class="dashboard-title">Welcome to GEAR</h1>
    <div class="dashboard-quick-view-container">
        <div class="dashboard-quick-view-item">
           <div class="dashboard-icon-box">
            <i class="dashboard-quick-view-icon fas fa-clipboard-list"></i>
           </div>
            <span class="dashboard-quick-view-number">{{ fismaExpiringThisQuarter }}</span>
            <span class="dashboard-quick-view-text">FISMA Expiring by {{ getExpiringDate() }}</span>
            <div style="cursor: pointer;" (click)="navigateToFismaTabs()"  class="dashboard-quick-view-expire-container">
                <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
                <span class="dashboard-quick-view-expire-text">{{ fismaExpiringThisWeek }} items expiring within 7 days</span>
            </div>
            <a (click)="navigateToFisma()" class="dashboard-quick-view-link" style="cursor: pointer;">View All</a>
        </div>
        <div class="dashboard-quick-view-item">
            <div class="dashboard-icon-box">
                <i class="dashboard-quick-view-icon fas fa-desktop"></i>
            </div>
            <span class="dashboard-quick-view-number">{{ standardsExpiringThisQuarter }}</span>
            <span class="dashboard-quick-view-text">IT Standards Expiring by {{ getExpiringDate() }}</span>
            <div style="cursor: pointer;" (click)="navigateToItStandardTabs()" class="dashboard-quick-view-expire-container">
                <i class="dashboard-quick-view-expire-icon fas fa-exclamation-triangle"></i>
                <span class="dashboard-quick-view-expire-text">{{ standardsExpiringThisWeek }} items expiring within 7 days</span>
            </div>
            <a (click)="navigateToItStandards()" class="dashboard-quick-view-link" style="cursor: pointer;">View All</a>
        </div>
        <div class="dashboard-quick-view-item">
            <span class="dashboard-quick-links-title">
                <i class="dashboard-quick-links-icon fas fa-link"></i>
                <span class="dashboard-quick-links-text">Quick Links</span>
            </span>
            <div class="dashboard-quick-links-link-container">
                <a href="https://ea.gsa.gov/#/it_standards" class="dashboard-quick-links-link">
                   Approved/denied software
                   
                </a>
                <a href="https://ea.gsa.gov/#/it_standards/filtered/Mobile/Approved" class="dashboard-quick-links-link">
                    Approved mobile apps
                    
                </a>
                <a href="https://ea.gsa.gov/#/FISMA" class="dashboard-quick-links-link">
                    Active FISMA systems
                </a>
                <a href="https://ea.gsa.gov/#/systems" class="dashboard-quick-links-link">
                   Business systems/subsystems
                </a>
                <a href="https://ea.gsa.gov/#/org_chart" class="dashboard-quick-links-link">
                    GSA org chart
                </a>
            </div>
        </div>
    </div>
    <div class="dashboard-recent-report-container">
        <div class="dashboard-recent-report-title">
            <span class="dashboard-recent-report-title-text">Recent GSA IT Standards</span>
            <a  (click)="navigateToItStandards()"  class="dashboard-recent-report-title-link">View All</a>
        </div>
        <app-table *ngIf="showTable" [tableCols]="tableCols" [showToolbar]="false" [showPagination]="false" reportStyle="neutral" (rowClickEvent)="onTableRowClick($event)">
            
        </app-table>
        
    </div>
</div>