.dashboard-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem 2.25rem 2rem;

    & .dashboard-quick-view-container {
        display: flex;
        justify-content: space-between;
        gap: 25px;

        & .dashboard-quick-view-item {
            width: 40%;
            padding: 1.5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: center;
            background-color: #fff;
            box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
            border-radius: 8px;

            &:last-child {
                width: 20%;
                align-items: start;
            }

            & .dashboard-icon-box{
                background: #F4E3DB;
                border-radius: 3rem;
                height: 3.8rem;
                width: 3.8rem;
                padding: 1rem 1.25rem;
                color: #B50909;
                display: flex;
                align-items: center;
                justify-content: center;
                & .dashboard-quick-view-icon {
                  width: 22px;
                  height: 22px;
                }
            }

           

            & .dashboard-quick-view-number {
                color: var(-neutral-black-color-dark);
                font-family: var(--primary-font);
                font-size: 1.75rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            & .dashboard-quick-view-text {
                color: var(-neutral-black-color-dark);
                font-family: var(--primary-font);
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            & .dashboard-quick-view-expire-container {

                & .dashboard-quick-view-expire-icon {
                    color: #D97706;
                    padding-right: .25rem;
                }

                & .dashboard-quick-view-expire-text {
                    color: #D97706;
                    font-family: var(--primary-font);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: underline;
                }
            }

            & .dashboard-quick-view-link {
                margin-top: 1.5rem;
                color: var(--primary-color);
                font-family: var(--primary-font);
                font-size: .875rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem;
                text-decoration-line: underline;
            }

            & .dashboard-quick-links-title {
                padding-bottom: 2rem;

                & .dashboard-quick-links-icon {
                    color: var(-neutral-black-color-dark);
                    padding-right: .5rem;
                    font-size: 1.25rem;
                }

                & .dashboard-quick-links-text {
                    color: var(-neutral-black-color-dark);
                    font-family: var(--primary-font);
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                }
            }

            & .dashboard-quick-links-link-container {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                & .dashboard-quick-links-link {
                    color: var(--primary-color);
                    font-family: var(--primary-font);
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-decoration: none;
                    display: flex;
                    flex-direction: row;
                    align-items: start;
                    gap: .5rem;

                    &:hover {
                        text-decoration: underline;
                    }

                    & .dashboard-quick-links-link-icon {
                        color: var(--primary-color);
                        font-size: .75rem;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    & .dashboard-recent-report-container {
        padding: 10px 24px;
        margin-top: 2rem;

        & .dashboard-recent-report-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            & .dashboard-recent-report-title-text {
                color: var(-neutral-black-color-dark);
                font-family: var(--primary-font);
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            & .dashboard-recent-report-title-link {
                color: var(--primary-color);
                font-family: var(--primary-font);
                font-size: 1rem;
                font-style: normal;
                font-weight: 500;
                line-height: 1.25rem;
                text-decoration-line: underline;
            }
        }
    }
}