<div class="card">
  <div class="row card-header text-white bg-dark text-center">
    <h3 class="card-title col-11 mb-0 align-self-center">
      <span class="my-auto">
        <i class="fab fa-wpforms"></i>
        Access Forms & Glossary</span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0"
      class="col-1 btn btn-sm text-black-50 btn-info float-right d-flex align-items-center justify-content-center"
      role="button" data-toggle="popover" data-trigger="focus" data-placement="auto" data-html="true"
      title="Help Using this Page" data-content="For the form links table, click on a row to open the form in a new window.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button on your keyboard to execute.
        <br><br>
        Click on the <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="text-white mr-2">More Help</span><i class="far fa-question-circle fa-2x text-white"></i>
    </a>
  </div>

  <div class="row card-body card-text">
    <div>
      <h3>Form Links</h3>
      <table id="formsTable"></table>
    </div>

    <br>

    <div>
      <h3>Glossary</h3>
      <span class="my-auto">(
        <a href="https://docs.google.com/document/d/1oHX5VE1u2q3hK7UzT3QUo8Mvg09bZRCcBLp0bTzlPbg/edit">
          PM's Guide for Acronyms and Abbreviations <i class="fas fa-external-link-alt"></i></a>
        )</span>
      <table id="glossaryTable"></table>
    </div>

  </div>
</div>