<!-- Website Service Category Detail Modal -->
<div
  class="modal fade"
  id="websiteServiceCategoryDetail"
  tabindex="-1"
  role="dialog"
  aria-labelledby="websiteServiceCategoryTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-royal-blue">
        <a
          class="mr-3 text-white"
          role="button"
          aria-label="Previous"
          tabindex="0"
          (click)="
            tableService.previousModalRoute('websiteServiceCategoryDetail')
          "
          [hidden]="!modalService.checkModalRoutes()"
        >
          <i class="fas fa-arrow-circle-left fa-lg fa-fw"></i>
        </a>
        <h5 class="modal-title text-white" id="websiteServiceCategoryTitle">
          <i class="fas fa-project-diagram"></i>
          {{ websiteServiceCategory.name }}
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <i class="fas fa-times fa-lg text-white align-self-center"></i>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="websiteServiceCategoryTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a
              class="nav-link active"
              data-toggle="tab"
              href="#websiteServiceCategoryOverview"
            >
              Overview</a
            >
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div
            class="tab-pane fade show active"
            id="websiteServiceCategoryOverview"
          >
            <div class="card-body card-text">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h4>{{ websiteServiceCategory.name }}</h4>
                  <p>{{ websiteServiceCategory.description }}</p>
                </div>
              </div>
            </div>

            <div class="card-body card-text justify-content-center">
              <div class="row">
                <div class="col-12 col-md-6">
                  <h5>About Related Websites</h5>
                  <p>
                    Website Service Categories at GSA can stretch across
                    multiple staff offices. Below are websites that fall into
                    the website service category described above.
                  </p>
                </div>
              </div>
              <!-- Main Table -->
              <table id="websiteServiceCategoryWebsites"></table>
            </div>
          </div>
          <!-- End of Overview Pane -->
        </div>
      </div>

      <div class="modal-footer">
        <button
          type="button"
          [hidden]="!sharedService.loggedIn"
          class="btn btn-info text-white"
          (click)="serviceCategoryEdit()"
        >
          Edit This Item
        </button>
      </div>
    </div>
  </div>
</div>
