.website-categories-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;

    & .website-categories-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
         margin-bottom: 1rem;

        h2{
            margin-bottom: 0;
        }
    }

    & .website-categories-definition-container {
        padding: 1rem;
         background-color: #fff;
         border-radius: 0.3rem;

        & .website-categories-definition-text {
            margin-bottom: 5px;

            &.truncated {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;  
                overflow: hidden;
            }

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .website-categories-data-container {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }
}