<div class="website-categories-container">
  <div class="website-categories-title-container">
    <h2>GSA Website Service Categories List</h2>
    <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
      <b>Details:</b> Left click on a row within the table to view additional details.
          <br><br>
          <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
          <br><br>
          <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
          your needs.
          <br><br>
          <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
          keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
          Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
          <br><br>
          <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
          <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
    </app-button-overlay-panel>
  </div>
  <div class="website-categories-definition-container">
    <p class="website-categories-definition-text" [ngClass]="{'expanded' : defExpanded}">Website Service Categories draw connections between sites that serve similar themes. For instance, GSA supports both travel policy 
      (OGP) and travel services (FAS) and maintains several websites that reference one or both. All teams across GSA that manage or reference
       a common content topic area (such as travel) need to communicate and coordinate around these service themes in order to provide a consistent 
       experience to customers across all channels.</p>
      <app-button [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
  </div>
  <div class="website-categories-data-container">
    <app-table visibleColumnStorageKey="websites-website-categories" [tableCols]="tableCols" [attrDefs]="attrDefinitions" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
  </div>
</div>



<!-- <div class="card">
  <div class="card-header text-white bg-royal-blue text-center d-flex align-items-center justify-content-between">
    <div></div>
    <h3 class="card-title mb-0">
      <span>
        <i class="fas fa-sitemap"></i>
        GSA Website Service Categories List
      </span>
    </h3> -->
    <!-- Help Button -->
    <!-- <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
      <b>Details:</b> Left click on a row within the table to view additional details.
          <br><br>
          <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
          <br><br>
          <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
          your needs.
          <br><br>
          <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
          keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
          Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
          <br><br>
          <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
          <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
    </app-button-overlay-panel>
  </div>

  <div class="card-body card-text"> -->
    <!-- Main Table -->
    <!-- <div class="row">
      <div class="col-12">
        <app-table visibleColumnStorageKey="" [tableCols]="tableCols" exportName="Website Service Category" reportStyle="gsa-enterprise" tableType="websiteServiceCategory"> -->
          <!-- Service Category Definition Popover -->
          <!-- <app-button-overlay-panel definitionBtn buttonText="Website Service Category Definition">
            Website Service Categories draw connections between sites that serve similar themes. For instance, GSA supports both travel policy 
            (OGP) and travel services (FAS) and maintains several websites that reference one or both. All teams across GSA that manage or reference
             a common content topic area (such as travel) need to communicate and coordinate around these service themes in order to provide a consistent 
             experience to customers across all channels.
          </app-button-overlay-panel>
        </app-table>
      </div>
    </div>
  </div>
</div> -->
