<div class="card">
  <div class="card-header text-white bg-royal-blue text-center">
    <h3 class="card-title col-12 mb-0">
      <span>
        <fa-icon [icon]="['fas', 'sitemap']"></fa-icon>
        GSA Website Service Categories List
      </span>
    </h3>
    <!-- Help Button -->
    <a
      tabindex="0"
      class="btn btn-sm btn-info text-white shadow help-btn d-flex align-items-center justify-content-center"
      role="button"
      data-toggle="popover"
      data-trigger="focus"
      data-placement="auto"
      data-html="true"
      title="Help Using this Table"
      data-content="<b>Details:</b> Left click on a row within the table to view additional details.
          <br><br>
          <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
          <br><br>
          <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
          your needs.
          <br><br>
          <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
          keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
          Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
          <br><br>
          <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
          <i class='fas fa-caret-square-down'></i> icon to display everything on one page."
    >
      <span class="mr-2">More Help</span
      ><fa-icon [icon]="['far', 'question-circle']" [ngClass]="{'fa-2x': true}"></fa-icon>
    </a>
  </div>

  <div class="card-body card-text">
    <!-- Service Category Definition Popover -->
    <div class="row justify-content-end">
      <div class="col-auto">
        <a
          tabindex="0"
          class="btn btn-sm btn-info text-white"
          role="button"
          data-toggle="popover"
          data-trigger="focus"
          data-placement="auto"
          data-html="true"
          title=""
          data-content="Website Service Categories draw connections between sites that serve similar themes. For instance, GSA supports both travel policy (OGP) and travel services (FAS) and maintains several websites that reference one or both. All teams across GSA that manage or reference a common content topic area (such as travel) need to communicate and coordinate around these service themes in order to provide a consistent experience to customers across all channels."
        >
          Website Service Category Definition
        </a>
      </div>
    </div>
    <!-- Main Table -->
    <div class="row">
      <div class="col-12">
        <app-table [tableCols]="tableCols" [tableData]="tableData" exportName="Website Service Category" reportStyle="gsa-enterprise" tableType="websiteServiceCategory"></app-table>
      </div>
    </div>
  </div>
</div>
