.sidebar-container {
    --closed-sidebar-width: 76px;
    --open-sidebar-width: 280px;

    height: 100%;
    width: var(--closed-sidebar-width);
    background-color: var(--neutral-white-color);
    transition: 150ms cubic-bezier(0, 0, 0, 1);
    border-radius: 1rem;

    & .sidebar-toggle-icon {
        position: absolute;
        left: var(--closed-sidebar-width);
        top: 30px;
        border-radius: 99px;
        border: 1px solid #E2E8F0;
        background: #FFF;
        padding: 4px;
        height: 1.5rem;
        width: 1.5rem;
    }

    &.expanded {
        width: var(--open-sidebar-width);
        transition: 150ms cubic-bezier(0, 0, 0, 1);

        & .sidebar-toggle-icon {
            left: var(--open-sidebar-width);
            top: 35px;
        }
    }

    & .sidebar-logo {
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        display: flex;
        justify-items: center;
        align-items: center;
        gap: .5rem;

        & svg {
            height: 2rem;
            width: 2rem;
        }

        & .sidebar-logo-text {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 1rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.25rem;
        }
    }

    & .sidebar-button-container {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        padding: 0 1.5rem;

        & .sidebar-button-divider {
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
            height: 1px; 
            width: 100%;
            background: none;
            border: none;

            &.expanded {
                background-color: #E2E8F0;
            }
        }
    }
}