<div class="sidebar-container" [ngClass]="{'expanded' : isSidebarExpanded}" (mouseenter)="toggleSidebar()"
  (mouseleave)="toggleSidebar()" (focus)="toggleSidebar()" tabindex="1" id="sidebar" [class.expanded]="isSidebarExpanded">
  
<div class="sidebar-button-container">
  <app-sidebar-button buttonText="Dashboard"
    buttonIcon="fas fa-th-large"
    buttonRoute="/"
    [isSidebarExpanded]="isSidebarExpanded"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="IT Strategy"
    buttonIcon="fas fa-puzzle-piece"
    [buttonChildren]="itStrategyChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'itStrategy'"
    (keyup)="onKeyUp($event, 'itStrategy')"
    (click)="onMenuToggle('itStrategy')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="GSA Enterprise"
    buttonIcon="fas fa-sitemap"
    [buttonChildren]="gsaEnterpriseChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'gsaEnterprise'"
    (keyup)="onKeyUp($event, 'gsaEnterprise')"
    (click)="onMenuToggle('gsaEnterprise')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="Business Systems"
    buttonIcon="fas fa-laptop"
    [buttonChildren]="businessSystemsChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'businessSystems'"
    (keyup)="onKeyUp($event, 'businessSystems')"
    (click)="onMenuToggle('businessSystems')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="Security"
    buttonIcon="fas fa-shield-alt"
    [buttonChildren]="securityChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'security'"
    (keyup)="onKeyUp($event, 'security')"
    (click)="onMenuToggle('security')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="Technologies"
    buttonIcon="fas fa-microchip"
    [buttonChildren]="technologiesChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'technologies'"
    (keyup)="onKeyUp($event, 'technologies')"
    (click)="onMenuToggle('technologies')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <app-sidebar-button buttonText="Enterprise Architecture"
    buttonIcon="fas fa-network-wired"
    [buttonChildren]="enterpriseArchitectureChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'ea'"
    (keyup)="onKeyUp($event, 'ea')"
    (click)="onMenuToggle('ea')"
  (routeChange)="onRouteChange()"></app-sidebar-button>

  <hr class="sidebar-button-divider" [ngClass]="{'expanded' : isSidebarExpanded}" />

  <app-sidebar-button buttonText="Additional Information"
    buttonIcon="fab fa-wpforms"
    [buttonChildren]="additionalInfoChildren"
    [isSidebarExpanded]="isSidebarExpanded"
    [isButtonExpanded]="activeMenu === 'additional'"
    (keyup)="onKeyUp($event, 'additional')"
    (click)="onMenuToggle('additional')"
  (routeChange)="onRouteChange()"></app-sidebar-button>
</div>
</div>