<div class="card">
  <div class="row card-header text-white bg-teal text-center">
    <h3 class="card-title col-11 mb-0 align-self-center">
      <span class="my-auto">
        <i class="fas fa-microchip"></i>
        GSA IT Standards</span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0" class="col-1 btn btn-sm text-black-50 btn-info float-right d-flex align-items-center justify-content-center" role="button" data-toggle="popover"
      data-trigger="focus" data-placement="auto" data-html="true" title="Help Using this Table"
      data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Hidden Fields:</b> Access hidden fields by clicking on the <i class='fas fa-th-list'></i> icon.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button to execute. Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon.
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <span class="text-white mr-2">More Help</span><i class="far fa-question-circle fa-2x text-white"></i>
    </a>
  </div>

  <div class="row card-body card-text justify-content-center">
    <div class="row w-100">
      <!-- Add Button -->
      <button role="button" name="addITStandBttn" class="btn bg-teal text-white" (click)="createITStand()"
        [hidden]="!sharedService.loggedIn">
        <i class="fas fa-plus"></i>
      </button>

      <!-- Filters -->
      <div class="offset-md-3">
        <span class="my-auto mr-3">Filters:</span>
        <button role="button" name="itDesktopBttn" class="btn btn-primary"
          (click)="changeFilter('DeploymentType', 'Desktop')">
          Desktop</button>
        <button role="button" name="itServerBttn" class="btn btn-primary"
          (click)="changeFilter('DeploymentType', 'Server')">
          Server</button>

        <button role="button" name="itDeniedBttn" class="btn btn-primary ml-3" (click)="changeFilter('Status', 'Denied')">
          Denied</button>
        <button role="button" name="itSunsetBttn" class="btn btn-primary" (click)="changeFilter('Status', 'Sunsetting')">
          Sunsetting</button>
        <button role="button" name="itExpiredBttn" class="btn btn-primary" (click)="changeFilter('Status', 'Expired')">
          Expired</button>

        <button role="button" name="itBttn" class="btn btn-primary ml-3" (click)="backToMainIT()"
          [hidden]="!filteredTable">
          Back to All IT Standards</button>
      </div>
    </div>

    <!-- Main IT Standards Table -->
    <table id="itStandardsTable"></table>
  </div>
</div>