.it-standards-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 2.5rem 2.25rem 2rem;

    & .it-standards-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h2{
            margin-bottom: 0;
        }
    }

    & .it-standards-definition-container {
        padding: 1rem;
         background-color: #fff;
         border-radius: 0.3rem;

        & .it-standards-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            margin-bottom: 5px;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .it-standards-data-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0;
    }
}