<div class="organizations-container">
  <div class="organizations-title-container">
    <h2>GSA Organizations List</h2>
    <app-page-help-button></app-page-help-button>
  </div>
  <div class="organizations-data-container">
    <app-table visibleColumnStorageKey="organizations-report" defaultSortField="OrgSymbol" [tableCols]="tableCols" [attrDefs]="attrDefinitions" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
  </div>
</div>