.organizations-container {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    width: 94vw;

    & .organizations-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .organizations-data-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}