<div class="card">
  <div class="row card-header text-white bg-royal-blue text-center">
    <h3 class="card-title col-11 mb-0 align-self-center">
      <span class="my-auto">
        <i class="fas fa-project-diagram"></i>
        GSA Business Capabilities List</span>
    </h3>
    <!-- Help Button -->
    <a tabindex="0" class="col-1 btn btn-sm text-black-50 btn-info float-right" role="button" data-toggle="popover"
      data-trigger="focus" data-placement="auto" data-html="true" title="Help Using this Table"
      data-content="<b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format
        that meets your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed
        data. Hit the 'Enter' button to execute. Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon.
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.">
      <i class="far fa-question-circle fa-2x text-white"></i>
    </a>
  </div>

  <div class="row card-body card-text justify-content-center">
    <div>
      <!-- Filter by SSO Buttons -->
      <span class="my-auto mr-3">Filters:</span>
      <button role="button" name="capFASbttn" class="btn btn-primary" (click)="changeCapSSO('FAS')">
        FAS (Q)</button>
      <button role="button" name="capITbttn" class="btn btn-primary" (click)="changeCapSSO('GSA IT')">
        GSA IT (I)</button>
      <button role="button" name="capOCFObttn" class="btn btn-primary" (click)="changeCapSSO('OCFO')">
        OCFO (B)</button>
      <button role="button" name="capPBSbttn" class="btn btn-primary" (click)="changeCapSSO('PBS')">
        PBS (P)</button>

      <button role="button" name="capBttn" class="btn btn-primary mx-3" (click)="backToMainCap()" [hidden]="!ssoTable">
        Back to All Capabilities</button>
    </div>

    <!-- Main Capabilities Table -->
    <table id="capTable"></table>
  </div>
</div>