<div class="card bg-light">
  <div class="row card-header text-white bg-dark text-center">
      <h3 class="card-title col-11 mb-0 align-self-center">
        <span class="my-auto">GSA IT Investments</span>
      </h3>
      <a tabindex="0" class="col-1 btn btn-sm text-black-50 btn-info float-right" role="button"
          data-toggle="popover" data-trigger="focus" data-placement="bottom"
          title="Help Using this Table" data-content="<b>Details:</b>Left click on a
          row within the table to view additional details.
          <br>
          <b>Sorting:</b>Sort fields by clicking on the arrows in the column headers.
          <br>
          <b>Export:</b>Export data by clicking on the <span class='glyphicon
          glyphicon-export' aria-hidden='true'></span> icon and selecting the format
          that meets your needs.
          <br>
          <b>Hidden Fields:</b>Access hidden fields by clicking on the &nbsp<span
          class='glyphicon glyphicon-th' aria-hidden='true'></span> icon.
          <br>
          <b>Search:</b>Perform a filtered search across all fields in the displayed
          data. Search within specific columns by clicking on the <span
          class='glyphicon glyphicon-search' aria-hidden='true'></span> icon.
          <br>
          <b>Pages:</b>Choose how many rows per page are displayed. Click on the
          <span class='glyphicon glyphicon-collapse-down' aria-hidden='true'></span>
          icon to display everything on one page.">
          <fa-icon icon="question-circle" class="fa-2x text-white"></fa-icon>
        </a>
  </div>
  <div class="row card-body card-text">
    <!-- <table id="investmenttable" style="cursor: pointer;" data-search="true"
      data-advanced-search="true" data-id-table="investmenttable"
      data-trim-on-search="false" data-show-columns="true" data-show-export="true"
      data-classes="table table-no-bordered table-hover table-condensed"
      data-striped="true" data-pagination="true"
      data-show-pagination-switch="true" data-sort-name="Name"
      data-sort-order="asc">
    </table> -->
  </div>
</div>
