<div class="topbar-container">
  <div class="topbar-info-container">
    @if (!isProd()) {
      <span class="topbar-info-env-mode">- {{ envName }} Environment</span>
    }
    @if (isLoggedIn()) {
      <span class="topbar-info-manager-mode">**GEAR Manager Mode**</span>
    }
  </div>
  <div class="topbar-items-container">
    <form role="search">
      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="fas fa-search" />
        <input type="text" placeholder="Global Search" id="globalSearch" name="globalSearchField" [(ngModel)]="searchKW" (keydown)="globalSearch($event)" pInputText />
      </p-iconField>
    </form>
    <app-button buttonText="About GEAR" buttonType="button" buttonStyle="outline" (buttonClick)="onAboutClick()"></app-button>
  </div>
</div>