.it-standards-details-container {
    display: flex;
    flex-direction: column;
    
    padding: 2rem 1.5rem;
    background-color: #f8f9fa;

    & .breadcrumb-container {
        display: flex;
        padding-bottom: 2rem;
    }

    & .title-container {
        display: flex;
        padding-bottom: 1.5rem;

        & .title {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
        }
    }

    & .content-container {
        display: flex;
        flex-direction: column;

        & .nav-tabs {
            margin-bottom: 1.5rem;
        }

        & .overall-data-container {
            display: flex;
            flex-flow: row wrap;
            gap: 15px;

            & .main-data-container {
                padding: 1.5rem;
                display: flex;
                flex-wrap: wrap;
                flex: 0 0 calc(60% - 15px);
                max-width: calc(60% - 15px);
                background-color: #fff;
                box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
                border-radius: 4px;

                @media (max-width: 1200px) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                & .data {
                    display: flex;
                    flex-direction: column;
                    flex: 50%;
                    padding-bottom: 1.5rem;

                    & .data-label {
                        font-weight: bold;
                    }

                    & .status-green {
                        padding: .5rem;
                        border-radius: 4px;
                        background-color: rgba(0, 128, 0, 0.30);
                        color: #008000;
                        display: inline-block;
                    }

                    & .status-red {
                        padding: .5rem;
                        border-radius: 4px;
                        background-color: rgba(219, 100, 100, 0.30);
                        color: #EA0000;
                        display: inline-block;
                    }

                    & .status-yellow {
                        padding: .5rem;
                        border-radius: 4px;
                        background-color: rgba(255, 140, 4, 0.30);
                        ;
                        color: #FF5E04;
                        display: inline-block;
                    }

                    & .data-icon-container {
                        display: flex;
                        align-items: center;
                        gap: .5rem;

                        & .circle-green {
                            display: inline-block;
                            height: 1rem;
                            width: 1rem;
                            background-color: #008000;
                            border-radius: 50px;
                        }

                        & .circle-yellow {
                            display: inline-block;
                            height: 1rem;
                            width: 1rem;
                            background-color: #bdbd16;
                            border-radius: 50px;
                        }

                        & .circle-red {
                            display: inline-block;
                            height: 1rem;
                            width: 1rem;
                            background-color: #EA0000;
                            border-radius: 50px;
                        }
                    }
                }

                & .data-full {
                    display: flex;
                    flex-direction: column;
                    flex: 100%;
                    padding-bottom: 1.5rem;

                    & .data-label {
                        font-weight: bold;
                    }
                }
            }

            & .sub-data-container {
                padding: 1.5rem 1.5rem;
                flex: 0 0 40%;
                max-width: 40%;
                background-color: #fff;
                box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
                border-radius: 4px;

                @media (max-width: 1200px) {
                    max-width: 100%;
                    flex: 0 0 100%;
                }

                & tr {
                    border-bottom: 1px solid #E5E5E5;
                    padding: 1rem 0;
                }

                & th {
                    width: 70%;
                    padding: .625rem;
                }

                & td {
                    padding: 1rem .625rem;

                    &:nth-of-type(odd) {
                        font-weight: bold;
                    }

                    a {
                        line-break: anywhere;
                    }
                }
            }
        }

         & .systems-container {
        .main-data-container {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

        & .edit-info-container {
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 1.5rem;

            & .edit-info-button-wrapper {
                display: flex;
                flex-direction: row;
                gap: 1.5rem;
            }
        }
    }

   
}