<div class="website-service-category-details-container" *ngIf="isDataReady">
    <div class="breadcrumb-container">
         <app-breadcrumb>
            <span currentPageName>{{detailsData.name}}</span>
         </app-breadcrumb>
    </div>
    <div class="title-container">
        <span class="title">{{detailsData.name}}</span>
    </div>
    <div class="content-container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#overview">Overview</a>
            </li>
        </ul>
        <div class="overview-container">
            <website-service-category-details-content [data]="detailsData"></website-service-category-details-content>
        </div>
    </div>
</div>