<div class="website-service-category-details-container" *ngIf="isDataReady">
    <div class="breadcrumb-container">
         <app-breadcrumb>
            <span currentPageName>{{detailsData.name}}</span>
         </app-breadcrumb>
    </div>
    <div class="title-container">
        <span class="title">{{detailsData.name}}</span>
    </div>
    <div class="content-container">
        <div class="data-tab-container">
            <span class="data-tab-text active">Overview</span>
        </div>
        <website-service-category-details-content [data]="detailsData"></website-service-category-details-content>
    </div>
</div>