<div class="website-service-category-details-container" *ngIf="isDataReady">
    <div class="breadcrumb-container">
         <app-breadcrumb>
            <span currentPageName>{{detailsData.name}}</span>
         </app-breadcrumb>
    </div>
    <div class="title-container">
        <span class="title">{{detailsData.name}}</span>
    </div>
    <div class="content-container">
        <div class="data-tab-container">
            <span class="data-tab-text active">Overview</span>
        </div>
        <div class="overview-container">
            <div class="overall-data-container">
                <div class="main-data-container">
                    <div class="data-full">
                        <label class="data-label">
                            <span>
                                {{detailsData.name}}
                            </span>
                        </label>
                        <span>
                            <span>{{detailsData.description}}</span>
                        </span>
                    </div>
                    <div class="data-full">
                        <label class="data-label">
                            <span>
                                About Related Websites
                            </span>
                        </label>
                        <span>
                            <span>Website Service Categories at GSA can stretch across multiple staff offices.
                                 Below are websites that fall into the website service category described above.</span>
                        </span>
                    </div>
                    <app-table [tableCols]="relatedWebsitesTableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral"></app-table>
                </div>
            </div>
        </div>
    </div>
</div>