.website-service-category-details-container {
    display: flex;
    flex-direction: column;
      
    padding: 2rem 1.5rem;


    & .breadcrumb-container {
        display: flex;
        padding-bottom: 2rem;
    }

    & .title-container {
        display: flex;
        padding-bottom: 1.5rem;

        & .title {
            color: var(--neutral-black-color-dark);
            font-family: var(--primary-font);
            font-size: 2rem;
            font-weight: 500;
            line-height: normal;
        }
    }

    & .content-container {
        display: flex;
        flex-direction: column;

        & .data-tab-container {
            width: 100%;
            padding-bottom: .7rem;
            border-bottom: 1px solid #B2B2B2;
            margin-bottom: 2rem;

            .data-tab-text {
                padding: .75rem 1.5rem;
                background-color: var(--neutral-white-color);
                color: var(--neutral-black-color-dark);

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    background-color: var(--primary-color);
                    color: var(--neutral-white-color);
                }
            }
        }

        & .overall-data-container {
            display: flex;
            flex-flow: row wrap;
            & .main-data-container {
                padding: 3.5rem 1.5rem;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                background-color: #fff;
                box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
                border-radius: 4px;
    
                & .data {
                    display: flex;
                    flex-direction: column;
                    flex: 33%;;
                    padding-bottom: 1.5rem;

                    &:last-child {
                        flex: 66%;
                    }
    
                    & .data-label {
                        font-weight: bold;
                    }
                }
    
                & .data-full {
                    display: flex;
                    flex-direction: column;
                    flex: 100%;
                    padding-bottom: 1.5rem;
    
                    & .data-label {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}