<div class="card">
  <div class="card-header text-white bg-royal-blue text-center d-flex align-items-center justify-content-between">
    <!-- GEAR Manager Access -->
    <a class="btn btn-sm btn-info text-white shadow d-flex align-items-center btn-border-white"
      routerLink="/gear_manager" *ngIf="!sharedService.loggedIn" aria-label="GEAR Manager Login" (click)="sharedService.setRedirectPath()">
      <span class="mr-2">GEAR Manager Login</span><i class="fa fa-sign-in-alt fa-2x"></i>
    </a>
    <a class="btn btn-sm btn-danger text-white shadow d-flex align-items-center btn-border-white"
      routerLink="/capabilities" *ngIf="sharedService.loggedIn" aria-label="GEAR Manager Logout" (click)="sharedService.logoutManager()">
      <span class="mr-2">Logout</span><i class="fas fa-sign-out-alt fa-2x"></i>
    </a>

    <h3 class="card-title mb-0">
      <span>
        <i class="fas fa-project-diagram mr-2"></i>
        <span [hidden]="ssoTable">GSA </span>
        <span [hidden]="!ssoTable" [innerHTML]="filterTitle"></span>
        Business Capabilities List
      </span>
    </h3>
    
    <!-- Help Button -->
    <app-button-overlay-panel buttonText="More Help" buttonIcon="far fa-question-circle" buttonIconPos="right">
      <b>Details:</b> Left click on a row within the table to view additional details.
        <br><br>
        <b>Sorting:</b> Sort fields by clicking on the arrows in the column headers.
        <br><br>
        <b>Export:</b> Export data by clicking on the <i class='fas fa-download'></i> icon and selecting the format that meets 
        your needs.
        <br><br>
        <b>Search:</b> Perform a filtered search across all fields in the displayed data. Hit the 'Enter' button on your 
        keyboard to execute. Click the <i class='far fa-trash-alt'></i> icon to clear the search box. 
        Search within specific columns by clicking on the <i class='fas fa-angle-down'></i> icon. 
        <br><br>
        <b>Pages:</b> Choose how many rows per page are displayed from the selector at the bottom of the page. Click on the
        <i class='fas fa-caret-square-down'></i> icon to display everything on one page.
    </app-button-overlay-panel>
  </div>

  <div class="card-body card-text">
      <!-- Business Capability Definition Popover -->
      <app-button-overlay-panel definitionBtn buttonText="Business Capability Definition">
        A classification taxonomy used to describe the business
        functions and services at GSA. By describing GSA using standard business functions 
        rather than an organizational view, this taxonomy promotes collaboration, shared services, 
        and solution reuse in agency IT portfolios and inter-agency Lines of Business. While this taxonomy 
        provides a standardized way of classifying government functions, its true value is realized when 
        it is effectively used in business analysis, design, and decision support that help to improve the performance of GSA. 
        (<a href='https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/egov_docs/fea_v2.pdf' target='_blank' rel='noopener'>FEAF pg 30</a>)
      </app-button-overlay-panel> 
      <!-- Main Table -->
      <app-table [tableCols]="tableCols" exportName="Capabilities" reportStyle="gsa-enterprise" tableType="capabilities"></app-table>
  </div>
</div>