.capabilities-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;

    & .capabilities-title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    & .capabilities-definition-container {
        padding: 1.5rem;

        & .capabilities-definition-text {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            &.expanded {
                -webkit-line-clamp: none;
                overflow: visible;
            }
        }
    }

    & .capabilities-data-container {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
}