<div class="capabilities-container">
  <div class="capabilities-title-container">
    <h2>GSA Business Capabilities List</h2>
    <div class="capabilities-title-right-button-container">
      @if (!isLoggedIn()) {
        <app-button buttonText="GEAR Manager Login" (buttonClick)="sharedService.setRedirectPath()"></app-button>
      }
      @if (isLoggedIn()) {
        <app-button buttonText="Logout" buttonStyle="error" (buttonClick)="sharedService.logoutManager()"></app-button>
      }
      <app-page-help-button></app-page-help-button>
    </div>
  </div>
  <div class="capabilities-definition-container">
    <p #definitionText class="capabilities-definition-text" [ngClass]="{'expanded' : defExpanded, 'truncated': showViewMore && !defExpanded}">
      This model categorizes GSA’s business functions and services using a standard framework rather than organizational charts. By standardizing these functions, it promotes collaboration, shared services, and IT solution reuse. It is most effective when used for business analysis, design, and decision-making to improve agency performance. (<a href='https://obamawhitehouse.archives.gov/sites/default/files/omb/assets/egov_docs/fea_v2.pdf' target='_blank' rel='noopener'>FEAF pg 30</a>)
    </p>
      <app-button *ngIf="showViewMore" [buttonText]="defExpanded ? 'View Less' : 'View More'" buttonStyle="link" (buttonClick)="onViewAll()"></app-button>
    </div>
    <div class="capabilities-data-container">
      <app-table visibleColumnStorageKey="capabilities-report" defaultSortField="Name" [tableCols]="tableCols" [attrDefs]="attrDefinitions" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
    </div>
  </div>