/* You can add global styles to this file, and also import other style files */

/* Underline H4 Headers, email links, card links for easy distinction */
h4,
a.email,
a.link,
.card-link,
.modal .modal-body table th {
  text-decoration: underline;
}

/* Bold has got to be bolder than what the theme gives */
b,
strong,
.font-weight-bold {
  font-weight: 900 !important;
  color: #1a1a1a !important;
}

/* More Width Classes */
.w-15 {
  width: 15% !important;
}
.w-80 {
  width: 80% !important;
}

/* Make xl modals bigger */
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 80% !important;
  }
}

.submenu-icon {
  padding-left: 0.5rem;
  margin-left: auto;
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl2 > .container,
  .navbar-expand-xl2 > .container-fluid, .navbar-expand-xl2 > .container-sm, .navbar-expand-xl2 > .container-md, .navbar-expand-xl2 > .container-lg, .navbar-expand-xl2 > .container-xl {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1500px) {
  .navbar-expand-xl2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar-expand-xl2 .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .navbar-expand-xl2 .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl2 .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl2 > .container,
  .navbar-expand-xl2 > .container-fluid, .navbar-expand-xl2 > .container-sm, .navbar-expand-xl2 > .container-md, .navbar-expand-xl2 > .container-lg, .navbar-expand-xl2 > .container-xl {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .navbar-expand-xl2 .navbar-collapse {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
  .navbar-expand-xl2 .navbar-toggler {
    display: none;
  }
}

/* Make tab borders thicker */
.nav-tabs {
  border-bottom: 2px solid rgba(26,26,26,0.5) !important;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: rgba(26,26,26,0.5) rgba(26,26,26,0.5) rgba(26,26,26,0.5) !important;
}

.nav-tabs .nav-item {
  margin-bottom: -4px;
}

.nav-tabs .nav-link {
  border: 4px solid transparent;
}

.nav-tabs .dropdown-menu {
  margin-top: -4px;
}

.nav-tabs > li > a.active {
  color: #fff !important;
  background-color: #1F9BCF !important;
}

.bg-dark a.nav-link:not(.active) {
  color: #fff !important;
}

/* Increase popover font size */
.popover-header {
  font-size: 1.25rem;
}

.popover-body {
  font-size: 1rem;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black !important;
}

/* Customize Table formatting */
table h5 {
  margin-bottom: 0;
}

table.table-dark h5 {
  color: #fff;
}

.clickable-table {
  cursor: pointer;
}

/* Separate icons from text when in tables */
table svg {
  margin-right: 10px;
}

/* Links in dark tables should be white and underlined */
table.table-dark a {
  color: #fff;
  text-decoration: underline;
}

/* Unordered lists in tables shouldn't have bullets */
table ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-bottom: 0;
}

/* Cursor pointer for html tables that can be clicked on */
td.pointer {
  cursor: pointer;
  font-size: 0.765625rem;
  text-transform: uppercase;
}

/* Softer Card Background Color */
.card-body {
  background-color: #ededed !important;
}

/* Custom Colors */
.bg-royal-blue {
  background-color: #2b60de !important;
}

a.bg-royal-blue:hover, a.bg-royal-blue:focus,
button.bg-royal-blue:hover,
button.bg-royal-blue:focus {
  background-color: #214599 !important;
}

.btn-outline-royal-blue {
  color: #2b60de;
  border-color: #2b60de;
}

.btn-outline-royal-blue:hover {
  color: #fff;
  background-color: #2b60de;
  border-color: #2b60de;
}

.btn-outline-royal-blue:focus, .btn-outline-royal-blue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 96, 222, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(43, 96, 222, 0.5);
}

.btn-outline-royal-blue.disabled, .btn-outline-royal-blue:disabled {
  color: #2b60de;
  background-color: transparent;
}

.btn-outline-royal-blue:not(:disabled):not(.disabled):active, .btn-outline-royal-blue:not(:disabled):not(.disabled).active,
.show > .btn-outline-royal-blue.dropdown-toggle {
  color: #fff;
  background-color: #2b60de;
  border-color: #2b60de;
}

.btn-outline-royal-blue:not(:disabled):not(.disabled):active:focus, .btn-outline-royal-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-royal-blue.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(43, 96, 222, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(43, 96, 222, 0.5);
}

.bg-teal {
  background-color: #008080 !important;
}

a.bg-teal:hover, a.bg-teal:focus,
button.bg-teal:hover,
button.bg-teal:focus {
  background-color: #076464 !important;
}

.bg-silver {
  background-color: #C0C0C0 !important;
}

/* Date Picker Calendar Adjustments */
.datepicker-inline,
.table-condensed {
  width: 100% !important;
}