/* You can add global styles to this file, and also import other style files */

/* Underline H4 Headers, email links, card links for easy distinction */
h4,
a.email,
.card-link,
.modal .modal-body table th {
  text-decoration: underline;
}

/* More Width Classes */
.w-15 {
  width: 15% !important;
}
.w-80 {
  width: 80% !important;
}

/* Make xl modals bigger */
@media (min-width: 1200px) {
  .modal-xl {
    max-width: 80% !important;
  }
}

/* Make tab borders thicker */
.nav-tabs {
  border-bottom: 4px solid #eceeef;
}

.nav-tabs .nav-item {
  margin-bottom: -4px;
}

.nav-tabs .nav-link {
  border: 4px solid transparent;
}

.nav-tabs .dropdown-menu {
  margin-top: -4px;
}

/* Increase popover font size */
.popover-header {
  font-size: 1.25rem;
}

.popover-body {
  font-size: 1rem;
}

table svg {
  margin-right: 10px;
}