<section class="jumbotron text-center rounded-lg">
  <div class="container">
    <h1 class="jumbotron-heading rounded-lg">Welcome to GEAR!</h1>
    <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">What is GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center">
            GSA EA Analytics and Reporting (GEAR) is a tool to provide commonly used strategic, business, and technical
            information to users throughout GSA in order to provide insight into the common direction for GSA IT and to
            provide working groups with data that they need to do their jobs.
          </p>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">Who Can Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center">
            Anyone logged on to the GSA network can access and download data from GEAR. Business and technical need to
            update data, send a request to GEAR Manager here.
          </p>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header bg-info">
          <h4 class="my-0 font-weight-normal">How Do I Use GEAR?</h4>
        </div>
        <div class="card-body d-flex">
          <p class="align-self-center">
            By clicking on the tabs on the left, you can explore the various applications, technologies, and investments
            surrounding GSA. Using the icons on the top right of each table, you can choose which variables to view, perform
            advanced searches, and download data.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- End of Cards -->

  <div class="row">
    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/US-GeneralServicesAdministration-Logo.svg" alt="GSA Logo" class="mx-auto">
  </div>
</div>