<!-- Investment Manager Modal -->
<div class="modal fade" id="investManager" tabindex="-1" role="dialog" aria-labelledby="investMngrTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="investMngrTitle">
          <i class="fas fa-money-bill-wave"></i>
          <span *ngIf="investment.Name; else elseInvestName"> {{ investment.Name }} - <span
              class="text-primary">**EDITING**</span></span>
          <ng-template #elseInvestName> Create New Investment</ng-template>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="investMngrTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#investMngrOverview">
              Overview<span class="text-danger">*</span></a></li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#investMngrRelatedApps">
              Related Business Applications<span class="text-danger">*</span></a></li>
        </ul>

        <!-- Tab Panes -->
        <form [formGroup]="investForm" class="container">
          <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="investMngrOverview">

              <div class="row align-items-center">
                <div class="form-group col-2 text-center mb-0">
                  <label for="investStatus">Status</label>
                  <div id="investStatus" class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="investStatusSwitch"
                      formControlName="investStatus">
                    <label class="custom-control-label" for="investStatusSwitch">Active</label>
                  </div>
                </div>

                <div class="form-group col mb-0">
                  <label for="investName">Investment Name<span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="investName" formControlName="investName"
                    placeholder="Enter a Name" [value]="investment.Name" required>
                  <!-- <div class="invalid-feedback" *ngIf="investForm.get('investName').errors.required">
                    Need an Investment Name
                  </div> -->
                </div>
              </div>

              <div class="form-group">
                <label for="investDesc">Description</label>
                <textarea type="text" class="form-control" id="investDesc" formControlName="investDesc"
                  placeholder="Enter a Description" rows="2" [value]="investment.Description"></textarea>
              </div>

              <div class="form-group">
                <label for="invManager">Investment Manager<span class="text-danger">*</span></label>
                <select class="form-control" id="invManager" formControlName="invManager" required>
                  <option *ngFor="let manager of managers" [value]="manager.ID"
                    [selected]="manager.Name === investment.InvManager">{{ manager.Name }}</option>
                </select>
              </div>

              <div class="row align-items-center justify-content-center">
                <div class="form-group col-8 text-center mb-0">
                  <label for="investType">Type<span class="text-danger">*</span></label>
                  <div id="investType">
                    <div class="custom-control custom-control-inline custom-radio" *ngFor="let type of types">
                      <input class="custom-control-input" type="radio" id="investType{{ type.ID }}" [value]="type.ID"
                        [checked]="type.Name === investment.Type" formControlName="investType">
                      <label class="custom-control-label" for="investType{{ type.ID }}">{{ type.Name }}</label>
                    </div>
                  </div>
                </div>

                <div class="form-group col-2 mb-0">
                  <label for="investBY">Budget Year<span class="text-danger">*</span></label>
                  <select class="form-control" id="investBY" formControlName="investBY" required>
                    <option *ngFor="let year of budgetYears" [value]="year"
                      [selected]="year === investment.Budget_Year">
                      {{ year }}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="investUII">UII<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="investUII" formControlName="investUII"
                  placeholder="Enter the Investment's UII" [value]="investment.UII" required>
              </div>

              <div class="form-group">
                <label for="investSSO">Owning SSO<span class="text-danger">*</span></label>
                <select class="form-control" id="investSSO" formControlName="investSSO" required>
                  <option *ngFor="let sso of SSOs" [value]="sso.ID" [selected]="sso.Name === investment.SSO">
                    {{ sso.Name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="investPSA">Primary Service Area</label>
                <select class="form-control" id="investPSA" formControlName="investPSA">
                  <option *ngFor="let servArea of serviceAreas" [value]="servArea.ID"
                    [selected]="servArea.Name === investment.PSA">{{ servArea.Name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="investSSA">Secondary Service Area #1</label>
                <select class="form-control" id="investSSA" formControlName="investSSA">
                  <option *ngFor="let servArea of serviceAreas" [value]="servArea.ID"
                    [selected]="servArea.Name === investment.SSA">{{ servArea.Name }}</option>
                </select>
              </div>

              <!-- <div class="form-group">
                <label for="investSSA2">Secondary Service Area #2</label>
                <select class="form-control" id="investSSA2" formControlName="investSSA2">
                  <option *ngFor="let servArea of serviceAreas" [value]="servArea.ID"
                    [selected]="servArea.Name === investment.SSA2">{{ servArea.Name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="investSSA3">Secondary Service Area #3</label>
                <select class="form-control" id="investSSA3" formControlName="investSSA3">
                  <option *ngFor="let servArea of serviceAreas" [value]="servArea.ID"
                    [selected]="servArea.Name === investment.SSA3">{{ servArea.Name }}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="investSSA4">Secondary Service Area #4</label>
                <select class="form-control" id="investSSA4" formControlName="investSSA4">
                  <option *ngFor="let servArea of serviceAreas" [value]="servArea.ID"
                    [selected]="servArea.Name === investment.SSA4">{{ servArea.Name }}</option>
                </select>
              </div> -->

              <div class="form-group">
                <label for="investComments">Comments</label>
                <textarea type="text" class="form-control" id="investComments" formControlName="investComments"
                  placeholder="Enter Any Additional Comments" rows="2" [value]="investment.Comments"></textarea>
              </div>

            </div>
            <!-- End of Overview Pane -->

            <div class="tab-pane fade show" id="investMngrRelatedApps">
              <h4>Related Business Applications</h4>
              <div class="row">
                <div class="form-group col-5">
                  <label for="investRelAppsPool">Business Applications Pool</label>
                  <select class="form-control" id="investRelAppsPool" size="27" multiple>
                    <option *ngFor="let app of notSelected" [value]="app.ID">{{ app.Name }}</option>
                  </select>
                </div>

                <div class="col-2 my-auto">
                  <button class="btn btn-success w-100 mb-5" (click)="poolToSelected()">Move to<br>Selected <i
                      class="fas fa-arrow-right  fa-lg"></i></button>
                  <button class="btn btn-warning w-100" (click)="selectedToPool()"><i
                      class="fas fa-arrow-left fa-lg"></i> Move to<br>Un-Selected</button>
                </div>

                <div class="form-group col-5">
                  <label for="investRelAppsSelect">Selected</label>
                  <select class="form-control" id="investRelAppsSelect" size="27" multiple>
                    <option *ngFor="let app of relatedApps" [value]="app.ID">{{ app.Name }}</option>
                  </select>
                </div>
              </div>
            </div>
            <!-- End of Related Business Apps Pane -->

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="text-danger mr-auto">* Required</div>
        <div [hidden]="!investment.ChangeDTG">Last Updated: {{ investment.ChangeDTG | date:'MMM d, y, h:mm:ss a O' }}</div>
        <button type="submit" form="investForm" class="btn btn-info text-white" (click)="submitForm()">Save</button>
      </div>

    </div>
  </div>
</div>