@if (isDataReady) {
  <div class="investment-details-container">
    <div class="breadcrumb-container">
      <app-breadcrumb>
        <span currentPageName>{{detailsData.Name}}</span>
      </app-breadcrumb>
    </div>
    <div class="title-container">
      <span class="title">{{detailsData.Name}}</span>
    </div>
    <div class="content-container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" [class.active]="isOverviewTabActive" (click)="onTabClick('overview', $event)" href="#overview">Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="isBudgetYearTabActive" (click)="onTabClick('budget_year', $event)" href="#budget_year">Budget Year</a>
        </li>
        @if (hasRelatedSystems) {
          <li class="nav-item">
            <a class="nav-link" [class.active]="isRelatedSystemsTabActive" (click)="onTabClick('related_systems', $event)" href="#related_systems">Related Systems</a>
          </li>
        }
      </ul>
      @if (isOverviewTabActive) {
        <div class="overview-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="data-wrapper">
                <div class="data-full">
                  <label class="data-label">
                    <span [title]="getTooltip('Description')" role="tooltip">
                      Description
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Description}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Budget Year')" role="tooltip">
                      <i class="fas fa-calendar"></i>
                      Budget Year
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Budget_Year}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Start Year')" role="tooltip">
                      <i class="fas fa-calendar"></i>
                      Start Year
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Start_Year}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('End Year')" role="tooltip">
                      <i class="fas fa-calendar"></i>
                      End Year
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.End_Year}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Cloud Alternatives Evaluation')" role="tooltip">
                      <i class="fas fa-cloud"></i>
                      Cloud Alternatives Evaluation
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Cloud_Alt}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Comments')" role="tooltip">
                      <i class="fas fa-comments"></i>
                      Comments
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Comments}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Investment Manager')" role="tooltip">
                      <i class="fas fa-user"></i>
                      Investment Manager
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.InvManager}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Investment Type')" role="tooltip">
                      <i class="fas fa-database"></i>
                      Investment Type
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Type}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Investment UII')" role="tooltip">
                      <i class="fas fa-tag"></i>
                      Investment UII
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.UII}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Part of IT Portfolio')" role="tooltip">
                      <i class="fas fa-folder-open"></i>
                      Part of IT Portfolio
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.IT_Portfolio}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Primary Service Area')" role="tooltip">
                      <i class="fas fa-border-none"></i>
                      Primary Service Area
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.PSA}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Status')" role="tooltip">
                      <i class="fas fa-info-circle"></i>
                      Status
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Status}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isBudgetYearTabActive) {
        <div class="budget-year-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="data-wrapper">
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Budget Year')" role="tooltip">
                      <i class="fas fa-calendar"></i>
                      Budget Year
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Budget_Year}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('Total IT Spending (BY) ($ M)')" role="tooltip">
                      Total IT Spending ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.Total_Spend_BY}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('DME BY Agency Funding ($ M)')" role="tooltip">
                      DME Contributions ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.DME_Contributions_BY}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('DME BY Budget Authority Agency Funding ($ M)')" role="tooltip">
                      DME Budget Authority Agency Funding ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.DME_Budget_Auth_BY}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('O&M BY Agency Funding ($ M)')" role="tooltip">
                      O&M Agency Funding ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.OnM_Agency_Fund_BY}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('O&M BY Contributions ($ M)')" role="tooltip">
                      O&M Contributions ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.OnM_Contributions_BY}}</span>
                  </span>
                </div>
                <div class="data">
                  <label class="data-label">
                    <span [title]="getTooltip('O&M BY Budget Authority Agency Funding ($ M)')" role="tooltip">
                      O&M Budget Authority Agency Funding ($ M)
                      <i class="fas fa-info-circle"></i>
                    </span>
                  </label>
                  <span>
                    <span>{{detailsData.OnM_Budget_Auth_BY}}</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      @if (isRelatedSystemsTabActive) {
        <div class="related-systems-container">
          <div class="overall-data-container">
            <div class="main-data-container">
              <div class="sub-content full-width">
                <span class="sub-header">Related Systems</span>
                <app-table visibleColumnStorageKey="investments-related-systems" defaultSortField="Name" [tableCols]="relatedSystemsTableCols" [showToolbar]="true" [showPagination]="true" reportStyle="neutral" (rowClickEvent)="onRowClick($event)"></app-table>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}