<!-- Systems Detail Modal -->
<div class="modal fade" id="systemDetail" tabindex="-1" role="dialog" aria-labelledby="systemTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <a class="mr-3 text-white" role="button" aria-label="Previous"
          (click)="tableService.previousModalRoute('systemDetail')" [hidden]="!modalService.checkModalRoutes()">
          <i class="fas fa-arrow-circle-left fa-lg fa-fw"></i>
        </a>
        <h5 class="modal-title text-white" id="systemTitle">
          <i class="fas fa-desktop"></i>
          {{ system.Name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div id="systemTabs" class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#systemOverview">
              Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#businessRelated">
              Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#technicalRelated">
              Technical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#relatedInvestments">
              Related Investments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#relatedRecords">
              Related Records</a>
          </li>
          <li class="nav-item" [hidden]="system.SystemLevel != 'System'">
            <a class="nav-link" data-toggle="tab" href="#systemSubs">
              Subsystems</a>
          </li>
          <!-- <li class="nav-item" [hidden]="!interfaces.length">
            <a class="nav-link" data-toggle="tab" href="#systemDataFlow">
              Data Flow</a></li> -->
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="systemOverview">

            <div class="row mb-4">
              <div class="col">
                <h4>Alias/Acronym</h4>
                <p>{{ system.DisplayName }}</p>
              </div>

              <div class="col">
                <h4>Status</h4>
                <p>{{ system.Status }}</p>
              </div>

              <div class="col">
                <h4>System Level</h4>
                <p>{{ system.SystemLevel }}</p>
              </div>
            </div>

            <h4>Description</h4>
            <p>{{ system.Description }}</p>
            <br><br>

            <h4>Related Artifacts</h4>
            <ul [innerHTML]="tableService.renderRelArtifacts(system.RelatedArtifacts)"></ul>
            <p [hidden]="system.RelatedArtifacts">None</p>
          </div>
          <!-- End of Overview Tab Pane -->

          <div class="container-fluid tab-pane fade show" id="businessRelated">
            <div class="row">
              <div class="col-5">
                <h4 class="text-center">Business Overview</h4>
                <br>

                <table id="systemBusinessTable" class="table table-borderless table-striped table-dark rounded-lg">
                  <thead class="bg-danger">
                    <tr>
                      <th>
                        <h5>Attribute</h5>
                      </th>
                      <th>
                        <h5>Value</h5>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td><i class="far fa-calendar-check"></i>ATO Date</td>
                      <td>{{ system.ATODate | date:'longDate' }}</td>
                    </tr>
                    <tr>
                      <td><i class="far fa-folder-open"></i>ATO Type</td>
                      <td>{{ system.ATOType }}</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-sitemap"></i>Business Org</td>
                      <td>
                        {{ system.BusOrg }}
                        <div [hidden]="system.BusOrg">None Designated</div>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-bookmark"></i>CUI Indicator</td>
                      <td>{{ system.CUI }}</td>
                    </tr>
                    <tr *ngIf="system.InactiveDate">
                      <td><i class="fa fa-calendar-alt"></i>Inactive Date</td>
                      <td>{{ system.InactiveDate | date:'longDate' }}</td>
                    </tr>
                    <!-- <tr>
                      <td><i class="fas fa-money-bill-wave"></i>Investment</td>
                      <td *ngIf="system.Investment; else investElse" class="btn-outline-success pointer"
                      (click)="tableService.openRelated(system.InvestmentID, 'investment')">{{ system.Investment }}</td>
                      <ng-template #investElse>
                        <td>None Designated</td>
                      </ng-template>
                    </tr> -->
                    <tr *ngIf="system.RenewalDate">
                      <td><i class="fas fa-calendar-day"></i>Renewal Date</td>
                      <td>{{ system.RenewalDate | date:'longDate' }}</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-sitemap"></i>Responsible IT Org</td>
                      <td>
                        {{ system.RespOrg }}
                        <div [hidden]="system.RespOrg">None Designated</div>
                      </td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-certificate"></i>Type of Service</td>
                      <td>{{ system.ServiceType }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End of Overview Table -->

              <!-- Points of Contact Table -->
              <div class="col-7">
                <h4 class="text-center">Points of Contact</h4>
                <br>

                <table id="fismaPOCTable" class="table table-striped table-dark rounded-lg">
                  <thead class="bg-danger">
                    <tr>
                      <th>
                        <h5>Role</h5>
                      </th>
                      <th>
                        <h5>Name</h5>
                      </th>
                      <th>
                        <h5>Email</h5>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let pocp of tableService.renderPOCInfoTable(system.POC)">
                      <td> {{ pocp.type }} </td>
                      <td> {{ pocp.name }} </td>
                      <td> 
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to={{pocp.email}}" target="_blank" rel="noopener">{{ pocp.email }}</a> 
                      </td>
                      
                    </tr>
                </tbody>
                </table>
              </div>
            </div>
            <!-- End of Points of Contact Table -->

            <div class="row justify-content-center">
              <!-- System TIME Report -->
              <div class="col-12">
                <div class="text-center mt-3">
                  <h4>System TIME Report</h4>
                  <!-- TIME Definitions Link -->
                  <a type="button" class="btn btn-sm btn-info text-white" [routerLink]="['/about', 'sysRat']"
                    target="_blank">TIME Value Definitions</a>
                </div>

                <table id="sysTimeTable"></table>
              </div>
              <br>

              <!-- Related Business Capabilities Table -->
              <div>
                <h4 class="text-center mt-3">Related Business Capabilities</h4>
                <table id="systemCapTable"></table>
              </div>
            </div>
          </div>
          <!-- End of Business Tab Pane -->

          <div class="tab-pane fade" id="technicalRelated">
            <h4 class="text-center">Technical Overview</h4>
            <br>

            <table id="techAttrTable" class="table table-borderless table-striped table-dark rounded-lg w-50 mx-auto">
              <thead class="bg-danger">
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td><i class="fa fa-cloud"></i>Cloud Enabled?</td>
                  <td>{{ system.CloudYN }}</td>
                </tr>
                <tr [hidden]="!system.CSP">
                  <td><i class="fa fa-building"></i>Hosting Provider</td>
                  <td>{{ system.CSP }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-bookmark"></i>Complete FISMA Assessment for Current FY</td>
                  <td>{{ system.ComplFISMA }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-layer-group"></i>FIPS Impact Level</td>
                  <td>{{ system.FIPS_Impact_Level }}</td>
                </tr>
                <tr>
                  <td><i class="far fa-handshake"></i>Gov't-Wide Shared Service</td>
                  <td>{{ system.SharedService }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-tag"></i>FISMA System Identifier</td>
                  <td>{{ system.FISMASystemIdentifier }}</td>
                </tr>
                <tr>
                  <td><i class="far fa-address-card"></i>PII Indicator</td>
                  <td>{{ system.PII }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-server"></i>Service Type</td>
                  <td>{{ system.ServiceType }}</td>
                </tr>
                <!-- <tr>
                  <td><i class="fa fa-server"></i>Parent System</td>
                  <td *ngIf="system.ParentSystem; else systemElse" class="btn-outline-danger pointer"
                    (click)="openRelated(system.ParentSystemID, 'parent')">{{ system.ParentSystem }}</td>
                  <ng-template #systemElse>
                    <td>None Designated</td>
                  </ng-template>
                </tr> -->
              </tbody>
            </table>
            <br>

            <!-- Related Technologies Table -->
            <div>
              <h4 class="text-center">Related Technology</h4>
              <table id="systemTechTable"></table>
            </div>
          </div>
          <!-- End of Technology Tab Pane -->

          <div class="tab-pane fade" id="relatedInvestments">
            <table id="systemInvestTable"></table>
          </div>
          <!-- End of Related Records Pane -->

          <div class="tab-pane fade" id="relatedRecords">
            <table id="systemRecTable"></table>
          </div>
          <!-- End of Related Records Pane -->

          <div class="tab-pane fade" id="systemSubs">
            <table id="subSysTable"></table>
          </div>
          <!-- End of Sub Systems Pane -->

          <div class="tab-pane fade" id="systemDataFlow">
            <!-- Data Flow Sankey Diagram -->
            <!-- <div id="dataFlowChart" class="text-center"></div> -->
          </div>
          <!-- End of Data Flow Tab Pane -->

        </div>
        <!-- End of Tab Panes -->
      </div>
      <!-- End of Modal Body -->

      <div class="modal-footer">
        <button type="button" [hidden]="!sharedService.loggedIn" class="btn btn-info text-white"
          (click)="systemEdit()">Edit This Item</button>
      </div>
    </div>
  </div>
</div>