.caption-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    & .caption-toolbar-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
}

::ng-deep {
    .p-datatable-wrapper {
        background-color: #fff;
        padding: 0.6rem;
        padding-top: 0;
    }

    .p-datatable {
        font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
        font-size: 12px;
        font-weight: 200;
        line-height: 21px;

        .p-datatable-thead {
            top: -1px !important;
            transition: all ease 0.3s;
        }

        & .p-datatable-thead>tr>th {
            padding: .5rem .25rem;
            background-color: #ececec;

            & .table-heading {
                justify-content: space-between;
            }

            & .p-column-filter-menu-button:hover,
            .p-column-filter-menu-button-active,
            .p-column-filter-clear-button:hover {
                background: none;
            }
        }
    }

    .p-datatable .p-datatable-header {
        border: none;
        background-color: #fff;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .default.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .it-strategy.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #14883c;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .business-systems.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #ce4844;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .gsa-enterprise.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #2b60de;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .security.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #aa6708;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .technologies.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #008080;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .additional-info.p-datatable .p-datatable-thead>tr>th {
        color: #fff;
        background-color: #027eb2;
        border-color: #454d55;

        & .p-icon {
            color: #fff;
        }
    }

    .neutral.p-datatable {
       

        .p-datatable-thead>tr>th {
            color: var(--neutral-black-color-dark);

            border: none;
            padding: .625rem;

            & .table-heading {
                text-transform: none;
            }

            & .p-icon {
                color: var(--neutral-black-color-dark);
            }
        }

        .p-datatable-tbody>tr {
            color: var(--neutral-black-color-dark);
            background-color: var(--neutral-white-color);
            border: none;

            & td {
                color: var(--neutral-black-color-dark);
                border: none;
                border-bottom: 1px var(--neutral-black-color-light) solid;
                padding: 1rem .625rem;
                font-size: .75rem;
                width: 14rem;
            }
           

            &:nth-of-type(odd) {
                background-color: var(--neutral-white-color);

                & td {
                    border: none;
                    border-bottom: 1px var(--neutral-black-color-light) solid;
                    padding: .5rem;
                    font-size: .75rem;
                    padding: 1rem .625rem;
                    font-size: .75rem;
                    width: 14rem;
                }
            }

            &:nth-of-type(even) {
                background-color: #f4f4f4;
            }
             &:hover{
                background-color: #e4e4e4;
            }
        }
    }


    .p-datatable .p-datatable-tbody>tr {
        color: #fff;
        background-color: #343a40;
        border-width: 1px;
        border-style: solid;

        & td {
            color: #fff;
            border-color: #4a5055;
            padding: .5rem 1.5rem;
            font-size: 12px;

            & .table-status-badge-green {
                background: rgba(0, 128, 0, 0.30);
                color: #008000;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.72px;
                padding: .25rem .625rem;
                border-radius: .25rem;
                display: flex;
                justify-content: center;
                width: fit-content;
            }

            & .table-status-badge-red {
                background: rgba(255, 140, 4, 0.30);
                color: #FF5E04;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.72px;
                padding: .25rem .625rem;
                border-radius: .25rem;
                display: flex;
                justify-content: center;
                width: fit-content;
            }
        }

        &:nth-of-type(odd) {
            background-color: #4a5055;

            & td {
                border-color: #343a40;
                padding: .5rem 1.5rem;
                font-size: 12px;

                & .table-status-badge-green {
                    background: rgba(0, 128, 0, 0.30);
                    color: #008000;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.72px;
                    padding: .25rem .625rem;
                    border-radius: .25rem;
                    display: flex;
                    justify-content: center;
                    
                }

                & .table-status-badge-red {
                    background: rgba(255, 140, 4, 0.30);
                    color: #FF5E04;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.72px;
                    padding: .25rem .625rem;
                    border-radius: .25rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }

        & a {
            color: #fff;
        }
    }


    .p-button-contrast {
        color: #fff;
        background-color: #1a1a1a;
        border-color: #1a1a1a;

        &:hover,
        &:active {
            background-color: #070707;
            border-color: #010000;
        }

        &:focus,
        &:focus-visible {
            outline: .25rem solid #2491ff;
            outline-offset: 0rem;
            position: relative;
            z-index: 10;
        }
    }

    .p-button-primary {
        color: #fff;
        background-color: #027eb2;
        border-left: 1px solid #fff;

        &:hover,
        &:active {
            background-color: #1a82ae;
            //border-color: #1a82ae;
            outline: 0.25rem solid #2491ff;
            position: relative;
        }

        &:focus,
        &:focus-visible {
            outline: .25rem solid #2491ff;
            outline-offset: 0rem;
            position: relative;
            z-index: 10;
        }
    }


    .p-multiselect {
        color: #fff;
        background-color: var(--p-primary-color, #027eb2);
        border-color: var(--p-primary-color, #027eb2);
        border-radius: 0;
        height: 40px;

        &:hover {
            background-color: var(--p-primary-hover-color, #1a82ae);
            border-color: var(--p-primary-hover-color, #187aa3);
        }

        & .p-multiselect-trigger {
            color: #fff;
            background-color: var(--p-primary-color, #027eb2);
            border-color: var(--p-primary-color, #027eb2);
        }

        & .p-multiselect-label {
            padding: .5rem .75rem;
        }
    }

    .p-inputtext {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.table-toolbar-container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: end;
}