<!-- IT Standard Detail Modal -->
<div class="modal fade" id="itStandardDetail" tabindex="-1" role="dialog" aria-labelledby="itStandTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-teal">
        <a class="mr-3 text-white" role="button" tabindex="0" aria-label="Previous"
          (click)="tableService.previousModalRoute('itStandardDetail')" [hidden]="!modalService.checkModalRoutes()">
          <i class="fas fa-arrow-circle-left fa-lg fa-fw"></i>
        </a>
        <h5 class="modal-title text-white" id="itStandTitle">
          <i class="fas fa-microchip"></i>
          {{ getTitle(itStandard.SoftwareReleaseName, itStandard.Name) }}
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <i class="fas fa-times fa-lg text-white align-self-center"></i>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="itStandTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#itStandOverview">
              Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itStandRelatedSys">
              Systems Using This Standard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itStandOverviewWireframe">
              Overview Wireframe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itStandOverviewWireframe2">
              Overview Wireframe 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#itStandOverviewWireframe3">
              Overview Wireframe 3</a>
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">
          <div class="tab-pane fade show active" id="itStandOverview">
            <h4>Description</h4>
            <p>{{ itStandard.Description }}</p>
            <br />

            <h4>Technology Overview</h4>
            <table id="itStandDetailTable"
              class="table table-borderless table-striped table-dark rounded-lg w-75 mx-auto">
              <thead class="bg-teal">
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Manufacturer Name')" role="tooltip">Manufacturer</span>
                  </td>
                  <td>{{ itStandard.ManufacturerName }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Product Name')" role="tooltip">Product</span>
                  </td>
                  <td>{{ itStandard.SoftwareProductName }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Version Name')" role="tooltip">Version</span>
                  </td>
                  <td>{{ itStandard.SoftwareVersionName }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Release Name')" role="tooltip">Release</span>
                  </td>
                  <td>{{ itStandard.SoftwareReleaseName }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Previously Known As')" role="tooltip">Also Known As</span>
                  </td>
                  <td>{{ itStandard.OldName }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-calendar-alt"></i><span [title]="getTooltip('Approval Expiration Date')" role="tooltip">Approval Expiration Date</span>
                  </td>
                  <td>
                    {{ itStandard.ApprovalExpirationDate | date : "MMMM d, y" }}
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software End of Life Date')" role="tooltip">End of Life Date</span>
                  </td>
                  <td>{{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}</td>
                </tr>
                <tr>
                  <td>
                    <i class="fas fa-universal-access"></i><span [title]="getTooltip('508 Compliance')" role="tooltip">508 Compliance</span>
                  </td>
                  <td>{{ itStandard.ComplianceStatus }}</td>
                </tr>

                <tr>
                  <td><i class="far fa-list-alt"></i><span [title]="getTooltip('Category')" role="tooltip">Category</span>
                  </td>
                  <td>{{ itStandard.Category }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-tag"></i><span [title]="getTooltip('Comments')" role="tooltip">Comments</span>
                  </td>
                  <td>{{ itStandard.Comments }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-shipping-fast"></i><span [title]="getTooltip('Deployment Type')" role="tooltip">Deployment Type</span>
                  </td>
                  <td>{{ itStandard.DeploymentType }}</td>
                </tr>
                <tr>
                  <td><i class="fa fa-user"></i><span [title]="getTooltip('POC')" role="tooltip">POC</span>
                  </td>
                  <td>
                    <ul [innerHTML]="
                        sharedService.renderPOCInfoList(itStandard.POC)
                      "></ul>
                  </td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Standard Type')" role="tooltip">Standard Type</span>
                  </td>
                  <td>{{ itStandard.StandardType }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Status')" role="tooltip">Status</span></td>
                  <td>{{ itStandard.Status }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Required')" role="tooltip">Attestation Required</span></td>
                  <td>{{ itStandard.attestation_required }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Link')" role="tooltip">Attestation Link</span></td>
                  <td>{{ itStandard.attestation_link }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('FedRAMP')" role="tooltip">FedRAMP</span></td>
                  <td>{{ itStandard.fedramp | yesno }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Open Source')" role="tooltip">Open Source</span></td>
                  <td>{{ itStandard.open_source | yesno }}</td>
                </tr>
                <tr>
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Requested Item (RITM)')" role="tooltip">Requested Item (RITM)</span></td>
                  <td>{{ itStandard.RITM }}</td>
                </tr>
                <tr>
                  <td><i class="far fa-comment"></i><span [title]="getTooltip('Reference Document')" role="tooltip">Reference Document</span></td>
                  <td>
                    <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
                      target="_blank" rel="noopener">
                      {{ itStandard.ReferenceDocument }}</a>
                    <div [hidden]="itStandard.ReferenceDocument">None</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- End of Overview Pane -->

          <div class="tab-pane fade" id="itStandRelatedSys">
            <table id="itRelSysTable"></table>
          </div>


<!--------------------------- Wireframe 1 ------------------------------------------------>
          <div class="tab-pane fade" id="itStandOverviewWireframe">
            <div class="context-btn-container">
              <div class="context-btn">
                <button class="btn btn-sm btn-info text-white shadow" 
                        (click)="toggleShowAllFields()">
                        {{showAllFields ? 'Hide empty fields' : 'Show all fields'}}
                </button>
              </div>
            </div>
            
            <!-- IMPORTANT INFO -->
            <div class="overview-container">
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.Status)">
                <div class="overview-item-title">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Status</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()"></span>
                  {{itStandard.Status}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isApproved()">
                <div class="overview-item-title">
                  <i class="fa fa-question-circle" title="Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved.Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved."></i>
                  <span class="heading">Approved Versions</span>
                </div>
                <div class="overview-item-content">
                  4.x.x (mocked data)
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ApprovalExpirationDate)">
                <div class="overview-item-title">
                  <i class="fa fa-calendar-alt"></i>
                  <span class="heading">Approval Expires</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getApprovalExpDateIconColor(itStandard.ApprovalExpirationDate)" [title]="getApprovalExpDateIconTooltip()"></span>
                  {{ itStandard.ApprovalExpirationDate | date : "MMMM d, y" }}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareReleaseName)">
                <div class="overview-item-title">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Software Release Name</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.SoftwareReleaseName}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.OldName)">
                <div class="overview-item-title">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Also Known As</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.OldName}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ComplianceStatus)">
                <div class="overview-item-title">
                  <i class="fa fa-universal-access"></i>
                  <span class="heading">508 Compliance</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getComplianceIconColor(itStandard.ComplianceStatus)" [title]="getComplianceIconTooltip()"></span>
                  {{itStandard.ComplianceStatus}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.POC)">
                <div class="overview-item-title">
                  <i class="fa fa-user"></i>
                  <span class="heading">POC</span>
                </div>
                <div class="overview-item-content">
                  <ul [innerHTML]="sharedService.renderPOCInfoList(itStandard.POC)"></ul>
                </div>
              </div>
            </div>

            <hr class="divider" />
            <!-- DESCRIPTION -->
            <div class="overview-container m2" *ngIf="isFieldPopulated(itStandard.Description)">
              <div class="overview-item">
                <div class="overview-item-title">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Description</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.Description}}
                </div>
              </div>
            </div>

            <!-- COMMENTS -->
            <div class="overview-container" *ngIf="isFieldPopulated(itStandard.Comments)">
              <div class="overview-item">
                <div class="overview-item-title">
                  <i class="fa fa-tag"></i>
                  <span class="heading">Comments</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.Comments}}
                </div>
              </div>
            </div>

            <hr class="divider" *ngIf="isFieldPopulated(itStandard.Description) || isFieldPopulated(itStandard.Comments)" />

            <div class="overview-container">
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ManufacturerName)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Manufacturer</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.ManufacturerName}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareProductName)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Product</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.SoftwareProductName}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareVersionName)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Version</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.SoftwareVersionName}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.EndOfLifeDate)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Vendor End of Life Date</span>
                </div>
                <div class="overview-item-content">
                  {{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.Category)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Category</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.Category}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.DeploymentType)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Deployment Type</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.DeploymentType}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.StandardType)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Standard Type</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.StandardType}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_required)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Attestation Required</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.attestation_required}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_link)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Attestation Link</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.attestation_link}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.FedRAMP)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">FedRAMP</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.FedRAMP | yesno }}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.open_source)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Open Source</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.open_source | yesno }}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.RITM)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Requested Item (RITM)</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.RITM}}
                </div>
              </div>
              <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ReferenceDocument)">
                <div class="overview-item-title">
                  <i class="fa fa-toolbox"></i>
                  <span class="heading">Reference Document</span>
                </div>
                <div class="overview-item-content">
                  <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
                      target="_blank" rel="noopener">
                      {{ itStandard.ReferenceDocument }}</a>
                    <div [hidden]="itStandard.ReferenceDocument">None</div>
                </div>
              </div>
            </div>

          </div>


<!--------------------------- Wireframe 2 ------------------------------------------------>

<div class="tab-pane fade" id="itStandOverviewWireframe2">
  <!-- IMPORTANT INFO -->
  <div class="overview-container">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Status</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()"></span>
        {{itStandard.Status}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-question-circle" title="Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved.Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved."></i>
        <span class="heading">Approved Versions</span>
      </div>
      <div class="overview-item-content" *ngIf="isApproved()">
        4.x.x (mocked data)
      </div>
      <div class="overview-item-content" *ngIf="!isApproved()">
        <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()"></span>
        {{itStandard.Status}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-calendar-alt"></i>
        <span class="heading">Approval Expires</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getApprovalExpDateIconColor(itStandard.ApprovalExpirationDate)" [title]="getApprovalExpDateIconTooltip()"></span>
        {{ itStandard.ApprovalExpirationDate | date : "MMMM d, y" }}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Software Release Name</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareReleaseName}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Also Known As</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.OldName}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-universal-access"></i>
        <span class="heading">508 Compliance</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getComplianceIconColor(itStandard.ComplianceStatus)" [title]="getComplianceIconTooltip()"></span>
        {{itStandard.ComplianceStatus}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-user"></i>
        <span class="heading">POC</span>
      </div>
      <div class="overview-item-content">
        <ul [innerHTML]="sharedService.renderPOCInfoList(itStandard.POC)"></ul>
      </div>
    </div>
  </div>

  <hr class="divider" />

  <!-- DESCRIPTION -->
  <div class="overview-container m2">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Description</span>
      </div>
      <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Description)">
        {{itStandard.Description}}
      </div>
      <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Description)">
        N/A
      </div>
    </div>
  </div>

  <!-- COMMENTS -->
  <div class="overview-container">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-tag"></i>
        <span class="heading">Comments</span>
      </div>
      <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Comments)">
        {{itStandard.Comments}}
      </div>
      <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Comments)">
        N/A
      </div>
    </div>
  </div>

  <hr class="divider" />

  <div class="context-btn-container">
    <div class="context-btn">
      <button class="btn btn-sm btn-info text-white shadow" 
              (click)="toggleShowAllFields()">
              {{showAllFields ? 'Hide empty fields' : 'Show all fields'}}
      </button>
    </div>
  </div>

  <div class="overview-container">
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ManufacturerName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Manufacturer</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.ManufacturerName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareProductName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Product</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareProductName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareVersionName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Version</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareVersionName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.EndOfLifeDate)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Vendor End of Life Date</span>
      </div>
      <div class="overview-item-content">
        {{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.Category)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Category</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.Category}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.DeploymentType)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Deployment Type</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.DeploymentType}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.StandardType)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Standard Type</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.StandardType}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_required)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Attestation Required</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.attestation_required}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_link)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Attestation Link</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.attestation_link}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.FedRAMP)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">FedRAMP</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.FedRAMP | yesno }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.open_source)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Open Source</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.open_source | yesno }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.RITM)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Requested Item (RITM)</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.RITM}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ReferenceDocument)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Reference Document</span>
      </div>
      <div class="overview-item-content">
        <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
            target="_blank" rel="noopener">
            {{ itStandard.ReferenceDocument }}</a>
          <div [hidden]="itStandard.ReferenceDocument">None</div>
      </div>
    </div>
  </div>

</div>

<!--------------------------- Wireframe 3 ------------------------------------------------>

<div class="tab-pane fade" id="itStandOverviewWireframe3">
  <!-- IMPORTANT INFO -->
  <div class="overview-container">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Status</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()"></span>
        {{itStandard.Status}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-question-circle" title="Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved.Unless otherwise stated, all minor versions share the same approval status as the version listed. For example, if version “1.0” is listed and has a status of “Approved”, then version 1.1, 1.2, 1.3, etc. are also approved."></i>
        <span class="heading">Approved Versions</span>
      </div>
      <div class="overview-item-content" *ngIf="isApproved()">
        4.x.x (mocked data)
      </div>
      <div class="overview-item-content" *ngIf="!isApproved()">
        <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()"></span>
        {{itStandard.Status}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-calendar-alt"></i>
        <span class="heading">Approval Expires</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getApprovalExpDateIconColor(itStandard.ApprovalExpirationDate)" [title]="getApprovalExpDateIconTooltip()"></span>
        {{ itStandard.ApprovalExpirationDate | date : "MMMM d, y" }}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Software Release Name</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareReleaseName}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Also Known As</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.OldName}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-universal-access"></i>
        <span class="heading">508 Compliance</span>
      </div>
      <div class="overview-item-content">
        <span class="status-icon" [ngClass]="getComplianceIconColor(itStandard.ComplianceStatus)" [title]="getComplianceIconTooltip()"></span>
        {{itStandard.ComplianceStatus}}
      </div>
    </div>
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-user"></i>
        <span class="heading">POC</span>
      </div>
      <div class="overview-item-content">
        <ul [innerHTML]="sharedService.renderPOCInfoList(itStandard.POC)"></ul>
      </div>
    </div>
  </div>

  <hr class="divider" />

  <!-- DESCRIPTION -->
  <div class="overview-container m2">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-info-circle"></i>
        <span class="heading">Description</span>
      </div>
      <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Description)">
        {{itStandard.Description}}
      </div>
      <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Description)">
        N/A
      </div>
    </div>
  </div>

  <!-- COMMENTS -->
  <div class="overview-container">
    <div class="overview-item">
      <div class="overview-item-title">
        <i class="fa fa-tag"></i>
        <span class="heading">Comments</span>
      </div>
      <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Comments)">
        {{itStandard.Comments}}
      </div>
      <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Comments)">
        N/A
      </div>
    </div>
  </div>

  <hr class="divider" />

  <div class="context-btn-container">
    <div class="context-btn">
      <button class="btn btn-sm btn-info text-white shadow" 
              (click)="toggleShowAllFields()">
              {{showAllFields ? 'Hide empty fields' : 'Show all fields'}}
      </button>
    </div>
    <div class="context-btn">
      <button class="btn btn-sm btn-info text-white shadow" 
              (click)="toggleShowTableView()">
              {{showTableView ? 'Show List View' : 'Show Table View'}}
      </button>
    </div>
  </div>

  <div *ngIf="!showTableView">

  <div class="overview-container">
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ManufacturerName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Manufacturer</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.ManufacturerName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareProductName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Product</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareProductName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.SoftwareVersionName)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Version</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.SoftwareVersionName}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.EndOfLifeDate)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Vendor End of Life Date</span>
      </div>
      <div class="overview-item-content">
        {{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.Category)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Category</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.Category}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.DeploymentType)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Deployment Type</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.DeploymentType}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.StandardType)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Standard Type</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.StandardType}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_required)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Attestation Required</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.attestation_required}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.attestation_link)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Attestation Link</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.attestation_link}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.FedRAMP)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">FedRAMP</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.FedRAMP | yesno }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.open_source)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Open Source</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.open_source | yesno }}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.RITM)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Requested Item (RITM)</span>
      </div>
      <div class="overview-item-content">
        {{itStandard.RITM}}
      </div>
    </div>
    <div class="overview-item" *ngIf="isFieldPopulated(itStandard.ReferenceDocument)">
      <div class="overview-item-title">
        <i class="fa fa-toolbox"></i>
        <span class="heading">Reference Document</span>
      </div>
      <div class="overview-item-content">
        <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
            target="_blank" rel="noopener">
            {{ itStandard.ReferenceDocument }}</a>
          <div [hidden]="itStandard.ReferenceDocument">None</div>
      </div>
    </div>
    </div>
</div>
      <div *ngIf="showTableView">
        <table id="itStandDetailTable"
        class="table table-bordered table-striped w-75 mx-auto">
        <thead>
          <tr>
            <th>
              <h5>Attribute</h5>
            </th>
            <th>
              <h5>Value</h5>
            </th>
          </tr>
        </thead>
    
        <tbody>
          <tr *ngIf="isFieldPopulated(itStandard.ManufacturerName)">
            <td>
              <i class="fas fa-toolbox"></i><span [title]="getTooltip('Manufacturer Name')" role="tooltip">Manufacturer</span>
            </td>
            <td>{{ itStandard.ManufacturerName }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.SoftwareProductName)">
            <td>
              <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Product Name')" role="tooltip">Product</span>
            </td>
            <td>{{ itStandard.SoftwareProductName }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.SoftwareVersionName)">
            <td>
              <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Version Name')" role="tooltip">Version</span>
            </td>
            <td>{{ itStandard.SoftwareVersionName }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.EndOfLifeDate)">
            <td>
              <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software End of Life Date')" role="tooltip">End of Life Date</span>
            </td>
            <td>{{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.Category)">
            <td><i class="far fa-list-alt"></i><span [title]="getTooltip('Category')" role="tooltip">Category</span>
            </td>
            <td>{{ itStandard.Category }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.DeploymentType)">
            <td><i class="fas fa-shipping-fast"></i><span [title]="getTooltip('Deployment Type')" role="tooltip">Deployment Type</span>
            </td>
            <td>{{ itStandard.DeploymentType }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.StandardType)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Standard Type')" role="tooltip">Standard Type</span>
            </td>
            <td>{{ itStandard.StandardType }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.attestation_required)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Required')" role="tooltip">Attestation Required</span></td>
            <td>{{ itStandard.attestation_required }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.attestation_link)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Link')" role="tooltip">Attestation Link</span></td>
            <td>{{ itStandard.attestation_link }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.fedramp)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('FedRAMP')" role="tooltip">FedRAMP</span></td>
            <td>{{ itStandard.fedramp | yesno }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.open_source)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Open Source')" role="tooltip">Open Source</span></td>
            <td>{{ itStandard.open_source | yesno }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.RITM)">
            <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Requested Item (RITM)')" role="tooltip">Requested Item (RITM)</span></td>
            <td>{{ itStandard.RITM }}</td>
          </tr>
          <tr *ngIf="isFieldPopulated(itStandard.ReferenceDocument)">
            <td><i class="far fa-comment"></i><span [title]="getTooltip('Reference Document')" role="tooltip">Reference Document</span></td>
            <td>
              <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
                target="_blank" rel="noopener">
                {{ itStandard.ReferenceDocument }}</a>
              <div [hidden]="itStandard.ReferenceDocument">None</div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>


</div>




      <div class="modal-footer">
        <div class="float-right">
          Last Updated:
          {{ itStandard.ChangeDTG | date : "MMM d, y, h:mm:ss a O" }}
        </div>
        <button type="button" [hidden]="!sharedService.loggedIn" class="btn btn-info text-white"
          (click)="itStandEdit()">
          Edit This Item
        </button>
      </div>
    </div>
  </div>
</div>
