<!-- IT Standard Detail Modal -->
<div class="modal fade" id="itStandardDetail" tabindex="-1" role="dialog" aria-labelledby="itStandTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-teal">
        <a class="mr-3 text-white" role="button" tabindex="0" aria-label="Previous"
          (click)="tableService.previousModalRoute('itStandardDetail')" [hidden]="!modalService.checkModalRoutes()">
          <i class="fas fa-arrow-circle-left fa-lg fa-fw"></i>
        </a>
        <h5 class="modal-title text-white" id="itStandTitle">
          <i class="fas fa-microchip"></i>
          {{ getTitle(itStandard.SoftwareReleaseName, itStandard.Name) }}
        </h5>
        <a role="button" aria-label="Close" data-dismiss="modal" tabindex="0">
          <i class="fas fa-times fa-lg text-white align-self-center"></i>
        </a>
      </div>

      <div class="modal-body">
        <!-- Tabs -->
        <ul id="itStandTabs" class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#itStandOverview">
              Overview</a>
          </li>
          <li class="nav-item" *ngIf="showSystemsUsingTab()">
            <a class="nav-link" data-toggle="tab" href="#itStandRelatedSys">
              Systems Using This Standard</a>
          </li>
        </ul>

        <!-- Tab Panes -->
        <div class="tab-content mt-3">

          <!-- Overview Tab -->
          <div class="tab-pane fade show active" id="itStandOverview">
            <!-- IMPORTANT INFO -->
            <div class="overview-container">
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Status')" role="tooltip">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Status</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()" role="tooltip"></span>
                  {{itStandard.Status}}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Approved Versions')">
                  <i class="fa fa-question-circle"></i>
                  <span class="heading">Approved Versions</span>
                </div>
                <div class="overview-item-content" *ngIf="isApproved()">
                  {{itStandard.ApprovedVersions}}
                </div>
                <div class="overview-item-content" *ngIf="!isApproved()">
                  <span class="status-icon" [ngClass]="getStatusIconColor(itStandard.Status)" [title]="getStatusIconTooltip()" role="tooltip"></span>
                  {{itStandard.Status}}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Approval Expiration Date')" role="tooltip">
                  <i class="fa fa-calendar-alt"></i>
                  <span class="heading">Approval Expires</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getApprovalExpDateIconColor(itStandard.ApprovalExpirationDate)" [title]="getApprovalExpDateIconTooltip()" role="tooltip" *ngIf="itStandard.ApprovalExpirationDate"></span>
                  {{ itStandard.ApprovalExpirationDate | date : "MMMM d, y" }}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Software Release Name')" >
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Software Release Name</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.SoftwareReleaseName}}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Also Known As')" role="tooltip">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Also Known As</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.OldName}}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('508 Compliance')" role="tooltip">
                  <i class="fa fa-universal-access"></i>
                  <span class="heading">508 Compliance</span>
                </div>
                <div class="overview-item-content">
                  <span class="status-icon" [ngClass]="getComplianceIconColor(itStandard.ComplianceStatus)" [title]="getComplianceIconTooltip()" role="tooltip" *ngIf="itStandard.ComplianceStatus"></span>
                  {{itStandard.ComplianceStatus}}
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('POC')" role="tooltip">
                  <i class="fa fa-user"></i>
                  <span class="heading">POC</span>
                </div>
                <div class="overview-item-content">
                  <ul [innerHTML]="sharedService.renderPOCInfoList(itStandard.POC)"></ul>
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Operating Systems')" role="tooltip">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Operating System(s)</span>
                </div>
                <div class="overview-item-content">
                  <ul [innerHTML]="renderListFromCsvString(itStandard.OperatingSystems)"></ul>
                </div>
              </div>
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Deployment Type')" role="tooltip">
                  <i class="fa fa-shipping-fast"></i>
                  <span class="heading">Deployment Type</span>
                </div>
                <div class="overview-item-content">
                  {{itStandard.DeploymentType}}
                </div>
              </div>
            </div>
          
            <hr class="divider" />
          
            <!-- DESCRIPTION -->
            <div class="overview-container m2">
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Description')" role="tooltip">
                  <i class="fa fa-info-circle"></i>
                  <span class="heading">Description</span>
                </div>
                <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Description)">
                  {{itStandard.Description}}
                </div>
                <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Description)">
                  N/A
                </div>
              </div>
            </div>
          
            <!-- COMMENTS -->
            <div class="overview-container">
              <div class="overview-item">
                <div class="overview-item-title" [title]="getTooltip('Comments')" role="tooltip">
                  <i class="fa fa-tag"></i>
                  <span class="heading">Comments</span>
                </div>
                <div class="overview-item-content" *ngIf="isFieldPopulated(itStandard.Comments)">
                  {{itStandard.Comments}}
                </div>
                <div class="overview-item-content" *ngIf="!isFieldPopulated(itStandard.Comments)">
                  N/A
                </div>
              </div>
            </div>
          
            <hr class="divider" />
          
            <div class="context-btn-container">
              <div class="context-btn">
                <button class="btn btn-sm btn-info text-white shadow" 
                        (click)="toggleShowAllFields()">
                        {{showAllFields ? 'Hide empty fields' : 'Show all fields'}}
                </button>
              </div>
            </div>

            <table id="itStandDetailTable"
              class="table table-bordered table-striped w-75 mx-auto table-sm">
              <thead>
                <tr>
                  <th>
                    <h5>Attribute</h5>
                  </th>
                  <th>
                    <h5>Value</h5>
                  </th>
                </tr>
              </thead>
          
              <tbody>
                <tr *ngIf="isFieldPopulated(itStandard.ManufacturerName)">
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Manufacturer Name')" role="tooltip">Manufacturer</span>
                  </td>
                  <td>{{ itStandard.ManufacturerName }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.SoftwareProductName)">
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Product Name')" role="tooltip">Product</span>
                  </td>
                  <td>{{ itStandard.SoftwareProductName }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.SoftwareVersionName)">
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software Version Name')" role="tooltip">Version</span>
                  </td>
                  <td>{{ itStandard.SoftwareVersionName }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.EndOfLifeDate)">
                  <td>
                    <i class="fas fa-toolbox"></i><span [title]="getTooltip('Software End of Life Date')" role="tooltip">Vendor End of Life Date</span>
                  </td>
                  <td>{{ itStandard.EndOfLifeDate | date : "MMMM d, y" }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.TaxonomySubcategoryName)">
                  <td><i class="far fa-list-alt"></i>
                    <span [title]="getTooltip('TRM Category Group')" role="tooltip">TRM Group, </span>
                    <span [title]="getTooltip('TRM Category')" role="tooltip">Category, </span>
                    <span [title]="getTooltip('TRM Subcategory')" role="tooltip">Subcategory</span>
                  </td>
                  <td>{{ itStandard.TaxonomyCategoryGroup }} -> {{ itStandard.TaxonomyCategoryName }} -> {{ itStandard.TaxonomySubcategoryName }}</td>
                </tr>
                

                <tr *ngIf="isFieldPopulated(itStandard.Category)">
                  <td><i class="far fa-list-alt"></i><span [title]="getTooltip('Category')" role="tooltip">Category (legacy)</span>
                  </td>
                  <td>{{ itStandard.Category }}</td>
                </tr>

                <tr *ngIf="isFieldPopulated(itStandard.DeploymentType)">
                  <td><i class="fas fa-shipping-fast"></i><span [title]="getTooltip('Deployment Type')" role="tooltip">Deployment Type</span>
                  </td>
                  <td>{{ itStandard.DeploymentType }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.StandardType)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Standard Type')" role="tooltip">Standard Type</span>
                  </td>
                  <td>{{ itStandard.StandardType }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.attestation_required)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Required')" role="tooltip">Attestation Required</span></td>
                  <td>{{ itStandard.attestation_required }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.attestation_link)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Attestation Link')" role="tooltip">Attestation Link</span></td>
                  <td>{{ itStandard.attestation_link }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.fedramp)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('FedRAMP')" role="tooltip">FedRAMP</span></td>
                  <td>{{ itStandard.fedramp | yesno }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.open_source)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Open Source')" role="tooltip">Open Source</span></td>
                  <td>{{ itStandard.open_source | yesno }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.RITM)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('Requested Item (RITM)')" role="tooltip">Requested Item (RITM)</span></td>
                  <td>{{ itStandard.RITM }}</td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.ReferenceDocument)">
                  <td><i class="far fa-comment"></i><span [title]="getTooltip('Reference Document')" role="tooltip">Reference Document</span></td>
                  <td>
                    <a [hidden]="!itStandard.ReferenceDocument" href="{{ itStandard.ReferenceDocument }}"
                      target="_blank" rel="noopener">
                      {{ itStandard.ReferenceDocument }}</a>
                    <div [hidden]="itStandard.ReferenceDocument">None</div>
                  </td>
                </tr>
                <tr *ngIf="isFieldPopulated(itStandard.AppBundleIds)">
                  <td><i class="fas fa-info-circle"></i><span [title]="getTooltip('App Bundle Ids')" role="tooltip">App Bundle IDs</span></td>
                  <td [innerHtml]="renderListFromCsvString(itStandard.AppBundleIds)"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Related Systems Tab -->
          <div class="tab-pane fade" id="itStandRelatedSys">
            <table id="itRelSysTable"></table>
          </div>

          <div class="modal-footer">
            <div class="float-right">
              Last Updated:
              {{ itStandard.ChangeDTG | date : "MMM d, y, h:mm:ss a O" }}
            </div>
            <button type="button" [hidden]="!sharedService.loggedIn" class="btn btn-info text-white"
              (click)="itStandEdit()">
              Edit This Item
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
